body {
  overflow-x: hidden;
  color: #000;
}

.cover {
  width: 100%;
  background-color: #ccc;
  background-size: cover;
  background-position: center bottom;
  height: auto;
  position: absolute;
}

.main {
  position: relative;
  background: rgba(192, 192, 192, 0.2);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  font-size: 14px;
  color: #FFFFFF;
}
.main .logo {
  margin: 20% auto 0;
  width: 162px;
  position: relative;
}
.main .hotel_info {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .hotel_info .social_icon {
  position: relative;
  text-align: right;
  padding-right: 50px;
  width: 40%;
}
.main .hotel_info .social_icon svg {
  width: 10%;
  height: auto;
  margin-left: 15px;
}
.main .hotel_info .contact {
  position: relative;
  border-left: #fff 1px solid;
  padding-left: 50px;
  width: 60%;
}
.main .hotel_info .contact .contact_info {
  padding: 5px 0;
}
.main .hotel_info .contact .contact_info .contact_icon {
  display: inline-block;
}
.main .hotel_info .contact .contact_info .contact_text {
  display: inline-block;
  margin-left: 30px;
}

.items {
  margin: -100px 0 100px;
}
.items .room_block {
  position: relative;
  height: 350px;
  margin: 0 10px 50px;
  background: #F7F7F7;
  box-shadow: 0px 2px 9px 0 rgba(0, 0, 0, 0.18);
  overflow: hidden;
  cursor: pointer;
}
.items .room_block .room_img {
  position: absolute;
  bottom: 0;
}
.items .room_block .room_info {
  background: #F7F7F7;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: space-around;
  transition: 0.3s;
}
.items .room_block .room_info .detail {
  opacity: 0;
  display: none;
  transition: 0.3s;
}
.items .room_block .room_info .room_name {
  font-size: 14px;
  letter-spacing: 1.46px;
  width: 100%;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.items .room_block .room_info .sub_text {
  font-size: 12px;
  color: #6D7278;
  letter-spacing: 1.25px;
  line-height: 18px;
}
.items .room_block .room_info .normal_day_price {
  display: inline-block;
}
.items .room_block .room_info .normal_day_price .price {
  font-size: 21px;
  letter-spacing: 2.19px;
  line-height: 31px;
}
.items .room_block .room_info .normal_day_price .weekday {
  line-height: 18px;
}
.items .room_block .room_info .holiday_price {
  display: inline-block;
}
.items .room_block:hover .room_info {
  height: auto;
  padding: 20px 25px;
  transition: 0.3s;
}
.items .room_block:hover .room_info .detail {
  opacity: 1;
  display: block;
  transition: 0.3s;
}
.items .room_block:hover .room_info .room_name {
  top: 0;
  transform: translateY(0);
  transition: 0.3s;
}

.room_detail_img {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 600px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}
.room_detail_img .sub_logo {
  position: absolute;
  z-index: 2;
  padding: 50px;
  cursor: pointer;
}
.room_detail_img .img_item {
  position: relative;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
}
.room_detail_img .img_item:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: 0.2s;
}
.room_detail_img .img_item img {
  position: absolute;
  bottom: 0;
  min-width: 100%;
}
.room_detail_img .img_bg {
  width: 70%;
}
.room_detail_img .img_bg .img_item {
  height: 100%;
}
.room_detail_img .img_bg .img_item img {
  min-height: 600px;
}
.room_detail_img .img_sm {
  width: 30%;
}
.room_detail_img .img_sm .img_item {
  height: 50%;
}
.room_detail_img .img_sm .img_item img {
  min-height: 300px;
}

.room_detail_info {
  margin-top: 50px;
}
.room_detail_info .room_detail .room_name {
  font-size: 36px;
  letter-spacing: 3.76px;
  font-weight: 600;
}
.room_detail_info .room_detail .room_spec {
  padding: 30px 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
}
.room_detail_info .room_detail .room_spec .text {
  font-size: 14px;
  letter-spacing: 1.46px;
  line-height: 31px;
  width: 100%;
}
.room_detail_info .room_detail .room_spec .text#description {
  font-size: 12px;
  letter-spacing: 1.25px;
  text-align: justify;
  line-height: 20px;
}
.room_detail_info .room_detail .room_spec .separation {
  line-height: 70px;
  width: 100%;
}
.room_detail_info .room_detail .room_spec .check_time {
  width: 50%;
}
.room_detail_info .room_detail .room_spec .check_time .time {
  font-size: 21px;
  letter-spacing: 2.19px;
}
.room_detail_info .room_detail .room_amenities {
  background: #F0F0F0;
  padding: 20px;
  margin-bottom: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
}
.room_detail_info .room_detail .room_amenities .amenity_item {
  width: 33.3333333333%;
  vertical-align: middle;
  padding: 10px 5px;
}
.room_detail_info .room_detail .room_amenities .amenity_item .amenity_icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: bottom;
}
.room_detail_info .room_detail .room_amenities .amenity_item .amenity_icon svg {
  width: 100%;
  height: auto;
}
.room_detail_info .room_detail .room_amenities .amenity_item .amenity_text {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px;
  font-size: 13px;
  letter-spacing: 1.25px;
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.room_detail_info .room_detail .room_amenities .amenity_item.true .amenity_icon svg .st0 {
  fill: #4B4B4B;
}
.room_detail_info .room_detail .room_amenities .amenity_item.false .amenity_icon svg .st0 {
  opacity: 0.3;
}
.room_detail_info .room_detail .room_amenities .amenity_item.false .amenity_text {
  opacity: 0.3;
}
.room_detail_info .room_price {
  line-height: 27px;
  text-align: right;
}
.room_detail_info .room_price .date_price {
  padding: 5px 0;
}
.room_detail_info .room_price .weekday .price {
  font-size: 30px;
  letter-spacing: 3.13px;
  padding-bottom: 5px;
}
.room_detail_info .room_price .holiday .price {
  font-size: 16px;
  letter-spacing: 1.67px;
}
.room_detail_info .room_price .date_type {
  font-size: 14px;
  color: #6D7278;
  letter-spacing: 1.46px;
}
.room_detail_info .reserve_date .datepicker {
  background: #F7F7F7;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.2s;
}
.room_detail_info .reserve_date .datepicker:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.room_detail_info .reserve_date .datepicker .ui-widget-content .ui-state-default.ui-state-active {
  color: #000;
}
.room_detail_info .reserve_date .reserve {
  background: #575757;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.67px;
  text-align: center;
  padding: 10px;
  border: none;
  margin-top: 30px;
  transition: 0.2s;
}
.room_detail_info .reserve_date .reserve:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.ui-widget-content {
  background: #F7F7F7;
}
.ui-widget-content.ui-widget {
  border: none;
  padding: 20px 5px;
  margin: auto;
}
.ui-widget-content .ui-widget-header {
  background-color: transparent;
  border: none;
}
.ui-widget-content .ui-state-default {
  background-color: transparent;
  border: none;
}
.ui-widget-content .ui-state-default.ui-state-active {
  color: #000;
}

.modal .img_modal img {
  margin: auto;
  display: block;
}
.modal .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.modal .form-group label {
  font-size: 14px;
  letter-spacing: 1.46px;
  text-align: center;
}
.modal .form-group input {
  width: 80%;
}
.modal .form-group .inline {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .form-group .inline input {
  width: 45%;
  display: inline-block;
}
.modal .btn {
  font-size: 14px;
  letter-spacing: 1.46px;
  border-radius: 0;
  border: none;
}
.modal .btn.btn-primary {
  background: #484848;
  color: #FFFFFF;
}
.modal .btn.btn-secondary {
  background: #D8D8D8;
  color: #6D7278;
}
.modal#roomReserveModal .modal-footer {
  justify-content: space-between;
}
.modal#roomReserveCheckModal #reserve_success svg {
  width: 60px;
  height: 60px;
  margin: 20px auto;
  display: block;
}
.modal#roomReserveCheckModal #reserve_error p {
  font-size: 14px;
  letter-spacing: 1.46px;
}

/*# sourceMappingURL=main.css.map */
