@charset "UTF-8";
html,
body {
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
  height: 100%;
  font-size: 16px;
  color: #231815;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.img_responsive {
  width: 100%;
  height: auto;
}

.text_content {
  background-color: #A11F27;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}
.text_content .title {
  display: block;
  font-size: 20px;
}

header {
  padding: 15px 20px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 65px;
  box-sizing: border-box;
}
header .container {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}
header .main_title {
  display: flex;
  align-items: center;
}
header .main_title .logo {
  width: 30px;
  height: 30px;
  overflow: hidden;
  vertical-align: middle;
}
header .main_title .logo img {
  height: 100%;
}
header .main_title .title {
  vertical-align: middle;
  color: #95202C;
  font-size: 18px;
  margin-left: 20px;
}
header .link .link_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 15px 0 0;
  text-decoration: none;
}
header .link .link_icon img {
  width: 100%;
}

.banner {
  position: relative;
  margin-top: 65px;
  overflow: hidden;
}
.banner .main_banner {
  position: relative;
}
.banner .main_banner .main_banner_slogan {
  top: 40%;
  left: 45%;
  transform: translateY(-50%);
  width: 400px;
}
.banner img {
  position: relative;
  width: 100%;
}
.banner .banner_slogan {
  position: absolute;
}
.banner .banner_slogan .main_slogan {
  color: #98D7F7;
  font-size: 28px;
}
.banner .banner_slogan .sub_slogan {
  color: #fff;
  font-size: 15px;
}
.banner .sub_banner {
  position: relative;
  margin-top: 80px;
}
.banner .sub_banner .sub_banner_slogan {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.story {
  margin: 50px 0;
}
.story .container {
  flex-wrap: wrap;
}
.story .story_block {
  display: flex;
  flex-wrap: no-wrap;
  margin: 50px 0;
  width: 100%;
}
.story .story_block .story_img {
  width: 40%;
}
.story .story_block .story_img img {
  width: 100%;
  height: auto;
}
.story .story_block .story_content {
  width: 60%;
  margin-left: 30px;
}
.story .story_block .story_content .title {
  color: #A11E29;
  font-size: 18px;
  margin-bottom: 10px;
}

.join {
  margin-top: 50px;
}
.join .container {
  flex-wrap: wrap;
}
.join .join_info {
  background: url(../img/join_bg.png) center no-repeat;
  background-size: cover;
  height: 250px;
}
.join .join_info .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.join .join_info .container .join_text {
  color: #fff;
}
.join .join_info .container .join_text.info_title {
  font-size: 19px;
  margin-bottom: 20px;
}
.join .join_text {
  width: 100%;
  text-align: center;
}
.join .join_text.class_title, .join .join_text.class_info {
  font-weight: 700;
  margin: 60px 0 0;
}
.join .join_text.class_title {
  color: #A11F27;
  font-size: 19px;
}
.join .join_text.class_info {
  color: #615F5F;
  font-size: 18px;
}
.join img {
  width: 100%;
}
.join .join_img {
  margin: 50px 0;
}
.join .join_class_img {
  width: 100px;
  margin: 50px auto;
}

.course {
  margin-top: 50px;
}
.course .container {
  flex-wrap: wrap;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.course .course_info {
  background: url(../img/course_bg.jpg) center no-repeat;
  background-size: contain;
  height: 400px;
}
.course .course_info .course_content {
  padding: 30px 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}
.course .course_info .course_content .warning {
  color: #A11F27;
}

.students .student_block {
  text-align: center;
  margin: 60px auto;
}
.students .student_block .photo {
  width: 150px;
  height: 150px;
  margin: 30px auto;
}
.students .student_block .photo img {
  width: 100%;
}
.students .student_block .title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}
.students .student_block .title.place {
  color: #A11F27;
}
.students .student_block .title.info {
  color: #EA5863;
}

.video .video_block {
  margin: 60px auto;
}

.lesson .container {
  flex-wrap: wrap;
}
.lesson .lesson_logo {
  margin-top: 60px;
}
.lesson .lesson_logo img {
  width: 100%;
}
.lesson .lesson_final {
  width: 30%;
  margin: 0 auto 60px;
}
.lesson .lesson_final img {
  width: 100%;
}
.lesson .lesson_block .lesson_img {
  width: 40%;
  margin: auto;
}
.lesson .lesson_block .lesson_img img {
  width: 100%;
}
.lesson .lesson_block .lesson_step {
  font-weight: 700;
  vertical-align: middle;
  position: relative;
  left: 50%;
  margin-left: -5px;
  padding: 50px 0 60px;
  width: 160px;
}
.lesson .lesson_block .lesson_step:before {
  content: "";
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  vertical-align: middle;
  margin: -2px 30px 0 0;
  background-color: #fff;
  z-index: 1;
}
.lesson .lesson_block .lesson_step:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 4px;
  height: 100%;
  top: -5px;
  left: 7px;
}
.lesson .lesson_block#step_1 {
  color: #549742;
}
.lesson .lesson_block#step_1 .lesson_step:before {
  border: 4px solid #549742;
}
.lesson .lesson_block#step_1 .lesson_step:after {
  background-color: #549742;
}
.lesson .lesson_block#step_2 {
  color: #4098B1;
}
.lesson .lesson_block#step_2 .lesson_step:before {
  border: 4px solid #4098B1;
}
.lesson .lesson_block#step_2 .lesson_step:after {
  background-color: #4098B1;
}
.lesson .lesson_block#step_3 {
  color: #BE993B;
}
.lesson .lesson_block#step_3 .lesson_step:before {
  border: 4px solid #BE993B;
}
.lesson .lesson_block#step_3 .lesson_step:after {
  background-color: #BE993B;
}
.lesson .lesson_block#step_4 {
  color: #BA543F;
}
.lesson .lesson_block#step_4 .lesson_step:before {
  border: 4px solid #BA543F;
}
.lesson .lesson_block#step_4 .lesson_step:after {
  background-color: #BA543F;
}

.review .review_photo {
  margin: 80px 0;
  width: 33.33%;
  overflow: hidden;
}
.review .review_photo img {
  width: 100%;
  height: 100%;
}

.teachers .teacher_block {
  text-align: center;
  margin: 60px auto;
}
.teachers .teacher_block .photo {
  width: 170px;
  height: 170px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 100px;
}
.teachers .teacher_block .photo img {
  width: auto;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.teachers .teacher_block .title {
  font-weight: 700;
  margin-top: 10px;
  color: #231816;
}
.teachers .teacher_block .title.name {
  font-size: 20px;
}
.teachers .teacher_block .title.experience {
  font-size: 16px;
}
.teachers .teacher_block .content {
  font-size: 15px;
  color: #626161;
  font-weight: 700;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #A11F27;
}

.books .container {
  margin: 60px auto;
  flex-wrap: wrap;
}
.books .book_block {
  margin: 40px;
  display: flex;
  flex-wrap: no-wrap;
  width: 100%;
}
.books .book_block .book_img {
  width: 30%;
}
.books .book_block .book_img img {
  width: 100%;
}
.books .book_block .book_info {
  width: 70%;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
}
.books .book_block .book_info .title {
  font-size: 18px;
  font-weight: 700;
  color: #A11F27;
  width: 100%;
}
.books .book_block .book_info .content {
  color: #EA5863;
  width: 100%;
}
.books .book_block .book_info .buy_btn {
  text-align: right;
  width: 100%;
}
.books .book_block .book_info .buy_btn a {
  text-decoration: none;
  display: inline-block;
  background-color: #EA5861;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border: none;
}

.wallpaper .wallpaper_block {
  justify-content: space-between;
  padding: 20px;
  margin: 60px 0;
}
.wallpaper .wallpaper_block.desktop {
  width: 76%;
}
.wallpaper .wallpaper_block.mobile {
  width: 24%;
}
.wallpaper .wallpaper_block .wallpaper_img img {
  width: 100%;
}

footer .text_content {
  background-color: transparent;
  color: #606060;
  font-weight: 700;
}
footer .icon {
  margin-bottom: 50px;
}
footer .icon a {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 30px;
}
footer .icon a img {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
