<div class="row">
    <div class="col-12">
        <div class="main_control">
            <button class="star_mark">
                <i class="fas fa-star"></i>
                <span>標記星號筆記</span>
            </button>
            <div class="arrangement">
                <button class="list">
                    <i class="fas fa-list-ul"></i>
                </button>
                <button class="block active">
                    <i class="fas fa-th-large"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row bookshelf" id="block">
    <div class="col-3">
        <div class="note_block add_note">
            <div class="plus">
                <i class="fas fa-plus"></i>
            </div>
            <div class="title">新增筆記</div>
        </div>
    </div>
    <div class="col-3">
        <div class="note_block" style="background-image: url(images/cover_1.jpg); background-image: linear-gradient(to bottom, rgba(255,255,255,0.40) 0%,rgba(255,255,255,0.40) 100%), url(images/cover_1.jpg);">
            <div class="title">生活雜記</div>
            <div class="star">
                <i class="fas fa-star"></i>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="note_block" style="background-image: url(images/cover_2.jpg); background-image: linear-gradient(to bottom, rgba(255,255,255,0.40) 0%,rgba(255,255,255,0.40) 100%), url(images/cover_2.jpg);">
            <div class="title">美式動態設計</div>
            <div class="star">
                <i class="fas fa-star"></i>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="note_block" style="background-image: url(images/cover_3.jpg); background-image: linear-gradient(to bottom, rgba(255,255,255,0.40) 0%,rgba(255,255,255,0.40) 100%), url(images/cover_3.jpg);">
            <div class="title">永遠的小馬哥-周潤發</div>
            <div class="star">
                <i class="far fa-star"></i>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="note_block" style="background-image: url(images/cover_4.jpg); background-image: linear-gradient(to bottom, rgba(255,255,255,0.40) 0%,rgba(255,255,255,0.40) 100%), url(images/cover_4.jpg);">
            <div class="title">TRPG DnD 5e 簡記</div>
            <div class="star">
                <i class="fas fa-star"></i>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="note_block" style="background-image: url(images/cover_5.jpg); background-image: linear-gradient(to bottom, rgba(255,255,255,0.40) 0%,rgba(255,255,255,0.40) 100%), url(images/cover_5.jpg);">
            <div class="title">歌單</div>
            <div class="star">
                <i class="far fa-star"></i>
            </div>
        </div>
    </div>
</div>