<div id="footer">
    <div id="c_area">
        <span><a accesskey="Z" href="#c_area" title="下方聯絡方式及所有權說明頁" class="c-acceky" name="Z" >:::</a></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- <p class="crc-social-icons">
                    <a href="#"><i class="icon-twitter2"></i></a>
                    <a href="#"><i class="icon-facebook2"></i></a>
                    <a href="#"><i class="icon-instagram"></i></a>
                    <a href="#"><i class="icon-dribbble2"></i></a>
                    <a href="#"><i class="icon-youtube"></i></a>
                </p> -->
                <p>
                    <img src="images/footer_text.png" alt="衛生福利部社會及家庭署本部：115臺北市南港區忠孝東路六段488號12樓｜聯絡電話：02-26531766|台中辦公室：408台中市南屯區黎明路二段503號5樓｜聯絡電話：04-22502850">
                </p>
                <p class="copyright_text">
                    <img src="images/footer_copyright.png" alt="衛福部版權所有">
                </p>
            </div>
        </div>
    </div>
</div>

<!--登出.s-->
<div class="modal fade alertModal" id="SignoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="關閉提示視窗">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <h4 class="title">提交告報</h4> -->
                <div class="text_box">
                    <p>送出成功! 請記得你的是今年的第<span>100</span>篇文章。接下來請耐心等候 CRC兒童網的回應。</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
<!--登出.e-->
