<header id="header-section">
    <a id="tabindex1" tabindex="1" href="#ContentFirst" title="跳到主要內容區塊" style="">跳到主要內容區塊</a>
    <div class="container">
        <div class="nav-header">
            <a class="js-crc-nav-toggle crc-nav-toggle" title="打開手機版選單">
                <i></i>
            </a>
            <div class="row" id="top_menu_box">
                <div class="col-md-5 col-sm-5 col-xs-10">
                    <span class="span-acceky">
                        <a accesskey="U" href="#" title="上方功能區塊" class="c-acceky" name="U">:::</a>
                        <a id="sitemap" href="sitemap.html" title="網站導覽">網站導覽</a>
                    </span>
                    <h1 id="crc-logo">
                        <a href="index.html" title="聯合國兒童權利公約-兒童版首頁">
                            <img src="images/logo.png" alt="聯合國兒童權利公約-兒童版首頁Logo">
                        </a>
                    </h1>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="department_link">
                                <ul>
                                    <li>
                                        <a href="http://www.mohw.gov.tw/mp-1.html" title="衛生福利部(另開新視窗)" target="_blank">
                                            <img src="images/weifubu-logo.png" alt="衛福部">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.sfaa.gov.tw/SFAA/default.aspx" title="衛福部社會及家庭署(另開新視窗)" style="padding-top: 5px;"
                                            target="_blank">
                                            <img src="images/fa_logo.png" alt="衛福部社會及家庭署">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://crc.sfaa.gov.tw/crc_front/index.php" title="聯合國兒童權利公約(另開新視窗)" style="padding-top: 5px;"
                                            target="_blank">
                                            <img src="images/crc-logo.png" alt="聯合國兒童權利公約">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="login_box">
                                <a href="member.html" class="" title="會員資訊">
                                    <span class="text">會員註冊</span>
                                </a>
                                <span class="line_st" style="margin:0 10px;">|</span>
                                <!-- <a href="" class=""><span class="icon" ><i class="fa fa-user" aria-hidden="true"></i></span> <span class="text">登出</span></a> -->
                                <a href="#" class="" data-toggle="modal" data-target="#signoutModal" title="登出">
                                    <span class="text">登出</span>
                                </a>
                            </div>
                            <div class="Clearfix">
                            </div>
                        </div>
                    </div>
                    <div class="font_style_st">
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <h2>
                                    <img src="images/font_size_text.png" alt="字級大小">
                                </h2>
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <ul class="font_size_event">
                                    <li>
                                        <button type="button" id="font_size_small " class="font_size_btn" title="字級小">
                                            <img src="images/fs_s.png" alt="小">
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" id="font_size_medium " class="font_size_btn" title="字級中">
                                            <img src="images/fs_m.png" alt="中">
                                        </button>
                                    </li>
                                    <li class="active">
                                        <button type="button" id="font_size_big " class="font_size_btn" title="字級大">
                                            <img src="images/fs_b.png" alt="大">
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- START #crc-menu-wrap -->
            <nav id="menu-wrap" role="navigation">
                <ul class="sf-menu " id="crc-primary-menu">
                    <li class="active">
                        <a href="#" title="認識crc">
                            <img src="images/meun/meun_1.png" alt="認識CRC">
                        </a>
                        <ul class="crc-sub-menu st_2">
                            <li>
                                <a href="development.html" title="兒童權利公約國內法化發展歷程">兒童權利公約國內法化發展歷程</a>
                            </li>
                            <li>
                                <a href="review_process.html" title="國家審查流程">國家審查流程</a>
                            </li>
                            <li>
                                <a href="crc.html" title="兒童權利公約">兒童權利公約</a>
                            </li>
                            <li>
                                <a href="report_index.html" title="兒少報告">兒少報告</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="crc-sub-ddown" title="我有話要說">
                            <img src="images/meun/meun_2.png" alt="我有話要說">
                        </a>
                        <ul class="crc-sub-menu">
                            <li>
                                <a href="talk_write.html" title="我想對你說">我想對你說</a>
                            </li>
                            <li>
                                <a href="ourgarden.html" title="我們的園地">我們的園地</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="遊戲總動員">
                            <img src="images/meun/meun_3.png" alt="遊戲總動員">
                        </a>
                        <ul class="crc-sub-menu">
                            <li>
                                <a href="game_list_1.html" title="天上水果掉下來">天上水果掉下來</a>
                            </li>
                            <li>
                                <a href="game_list_2.html" title="益智問答走迷宮">益智問答走迷宮</a>
                            </li>
                            <li>
                                <a href="game_list_3.html" title="繪圖板">繪圖板</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="我愛讀書">
                            <img src="images/meun/meun_4.png" alt="我愛讀書">
                        </a>
                        <ul class="crc-sub-menu">
                            <li>
                                <a href="bookshelf.html" title="我們的書架">我們的書架</a>
                            </li>
                            <li>
                                <a href="experience.html" title="分享閱讀心得">分享閱讀心得</a>
                            </li>
                            <li>
                                <a href="recommended_books.html" title="好書推薦">好書推薦</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="時事與動態">
                            <img src="images/meun/meun_5.png" alt="時事與動態">
                        </a>
                        <ul class="crc-sub-menu">
                            <li>
                                <a href="new_list.html" title="關心時事">關心時事</a>
                            </li>
                            <li>
                                <a href="new_list_2.html" title="活動公告">活動公告</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>