<!--登出.s-->
<div class="modal fade alertModal" id="signoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="關閉提示視窗">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <h4 class="title">提交告報</h4> -->
                <div class="text_box">
                    <p>真的要離開嗎?小朋友  下次再見了!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="javascript:window.location.href = 'member_login.html'">確定登出</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>
<!--登出.e-->
