<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        各項異動
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">網路E櫃檯</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">線上申辦</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">各項異動</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="inquiry_main_content">
    <table class="inquiry_table apply">
        <thead>
            <tr>
                <th>請輸入用戶(水號)檢查前期水費是否已繳</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div style="display:inline-block">
                        <span class="text-danger">*</span> 用戶水號:(共11碼)
                    </div>
                    <div style="display:inline-block">
                        <input type="text" maxlength="2" style="width:35px" placeholder="01"> -
                        <input maxlength="8" style="width:90px" type="text" placeholder="12345678"> -
                        <input maxlength="1" style="width:30px" type="text" placeholder="1">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="inquiry_btn_group">
        <button class="inquiry_btn Brown JQ_trans_confirm" onclick="changeForm('ecounter_fee_result_transfer', 'ecounter');">查詢(已繳費)</button>
        <button class="inquiry_btn Brown JQ_trans_confirm" onclick="changeForm('ecounter_fee_unpay_transfer', 'ecounter');">查詢(未繳費)</button>
        <button class="inquiry_btn">重新填寫</button>
    </div>
</div>