<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        補寄水費通知單
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">網路E櫃檯</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">線上申辦</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">補寄水費通知單</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="inquiry_main_content">
    <table class="block_table inquiry_table explain">
        <thead>
            <tr>
                <th style="width:33%">項目</th>
                <th style="width:33%">作業說明</th>
                <th style="width:33%">注意事項</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="項目">補寄水費通知單</td>
                <td data-title="作業說明">前期水費已繳可補寄本期未繳水費通知單</td>
                <td data-title="注意事項">
                    1.倘前期水費未繳，請就近至本公司各地服務所繳費以免停水。<br>
                    2.水費單代收期限為次月21日，為配合紙本補單作業及郵寄時間次月15日截止受理(例如：2月份帳單代收期限為次月21日即3月21，補單受理至3月15日止)。<br>
                    3.二期催繳欠費，不開放補單。
                </td>
            </tr>
        </tbody>
    </table>

    <div class="inquiry_check_group">
        <label for="radio1" class="inquiry_radio">使用憑證(自然人、工商)
            <input id="radio1" type="radio" name="radio">
            <span class="radiocheck"></span>
        </label>
        <label for="radio2" class="inquiry_radio">不使用憑證
            <input id="radio2" type="radio" checked="checked" name="radio">
            <span class="radiocheck"></span>
        </label>
    </div>
    <div class="inquiry_btn_group">
        <button class="inquiry_btn Brown" onclick="changeForm('ecounter_form_resend', 'ecounter');">同意</button>
        <button class="inquiry_btn" onclick="location.href='index.html'">不同意</button>
    </div>
</div>