<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        網路繳費
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">網路E櫃檯</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">線上繳費</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">網路繳費</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- <style>
    a {
        color: #314aac;
        text-decoration: none;
    }

    a:hover {
        color: #348ddb;
    }
</style> -->
<div class="inquiry_main_content">
    目前與本公司簽約受理用戶網路繳費者有
    <div class="bank_logo_list">
        <a href="http://www.tcb-bank.com.tw/Pages/index.aspx" title="合作金庫(網路銀行、eATM) 另開分頁" target="_blank">
            <img src="img/front/banklogo-1.png" alt="">
        </a>
        <a href="https://www.landbank.com.tw/" title="土地銀行 另開分頁" target="_blank">
            <img src="img/front/banklogo-2.png" alt="">
        </a>
        <a href="https://portal.tbb.com.tw/tbbportal/CustomerLogin.jsp" title="台灣中小企銀 另開分頁" target="_blank">
            <img src="img/front/banklogo-3.png" alt="">
        </a>
        <a href="http://www.jihsunbank.com.tw/" title="日盛國際商銀 另開分頁" target="_blank">
            <img src="img/front/banklogo-4.png" alt="">
        </a>
        <a href="http://www.citibank.com.tw/" title="花旗(台灣)銀行 另開分頁" target="_blank">
            <img src="img/front/banklogo-5.png" alt="">
        </a>
        <a href="https://ebill.ba.org.tw/" title="全國繳費網e-Bill 另開分頁" target="_blank">
            <img src="img/front/banklogo-6.png" alt="">
        </a>
        <a href="https://www.bankchb.com/frontend/index.jsp" title="彰化商業銀行 另開分頁" target="_blank">
            <img src="img/front/banklogo-7.png" alt="">
        </a>
        <a href="http://www.hncb.com.tw/others/h0201_area_n.shtml" title="華南銀行 另開分頁" target="_blank">
            <img src="img/front/banklogo-8.png" alt="">
        </a>
        <a href="http://www.esunbank.com.tw/" title="玉山銀行 另開分頁" target="_blank">
            <img src="img/front/banklogo-10.png" alt="">
        </a>
        <a href="http://www.bot.com.tw/Pages/default.aspx" title="台灣銀行 另開分頁" target="_blank">
            <img src="img/front/banklogo-12.png" alt="">
        </a>
        <a href="https://ebank.taipeifubon.com.tw/B2C/common/Index.faces" title="台北富邦銀行 另開分頁" target="_blank">
            <img src="img/front/banklogo-13.png" alt="">
        </a>
        <a href="https://www.yuantabank.com.tw/bank/" title="元大商業銀行 另開分頁" target="_blank">
            <img src="img/front/banklogo-14.png" alt="">
        </a>
        <a href="https://www.firstbank.com.tw/" title="第一銀行First Bank 另開分頁" target="_blank">
            <img src="img/front/banklogo-15.png" alt="">
        </a>
        <a href="https://www.cathaybk.com.tw/cathaybk/card/Mybill/index.asp" title="國泰世華銀行 另開分頁" target="_blank">
            <img src="img/front/banklogo-16.png" alt="">
        </a>
        <a href="https://my.taishinbank.com.tw/Payment.jsp" title="台新銀行 另開分頁" target="_blank">
            <img src="img/front/banklogo-17.png" alt="">
        </a>
        <a href="https://ibank.bok.com.tw/PIB/common/Login.xhtml" title="高雄銀行 另開分頁" target="_blank">
            <img src="img/front/banklogo-18.png" alt="">
        </a>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：144
    </div>
    <div class="main_page_info_update">
        更新時間：2018-12-24 10:21:00
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>