<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        水費查詢
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">網路E櫃檯</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">線上查詢</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">水費查詢</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="inquiry_main_content">
    <div class="inquiry_title pull-left">
        水費查詢結果
    </div>
    <div class="clearfix"></div>
    <table class="block_table inquiry_table view">
        <thead>
            <tr class="text-center">
                <th width="15%">站所</th>
                <th>用戶編號</th>
                <th>檢算號</th>
                <th>金額</th>
                <th>繳費狀態</th>
                <th>計費時間</th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="站所">12</td>
                <td data-title="用戶編號">1223456</td>
                <td data-title="檢算號">1</td>
                <td data-title="金額">9000</td>
                <td data-title="繳費狀態">已繳</td>
                <td data-title="計費時間">2019/01/18-2019/02/18</td>
                <td data-title="動作">
                    <button class="btn_add text-left"
                        onclick="changeModal('modal_inquiry_add_name.html','modal_main')">明細</button>
                </td>
            </tr>
            <tr>
                <td data-title="站所">12</td>
                <td data-title="用戶編號">1223888</td>
                <td data-title="檢算號">2</td>
                <td data-title="金額">8000</td>
                <td data-title="繳費狀態">未繳</td>
                <td data-title="計費時間">2019/01/18-2019/02/18</td>
                <td data-title="動作">
                    <button class="btn_add text-left"
                        onclick="changeModal('modal_inquiry_add_name.html','modal_main')">明細</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>