<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        各項異動
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">網路E櫃檯</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">線上申辦</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">各項異動</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="inquiry_main_content">
    <table class="block_table inquiry_table explain">
        <thead>
            <tr>
                <th style="width:33%">項目</th>
                <th style="width:33%">作業說明</th>
                <th style="width:33%">注意事項</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="項目">廢止</td>
                <td data-title="作業說明">因不再使用辦理廢止用水，日後如須用水時，須重新按新裝手續辦理申請。</td>
                <td data-title="注意事項">
                    1.本項原則以房屋已拆除不須再用水者為之。<br>
                    2.申請人須為房屋所有權人(請出示房屋所有權狀作證明)。<br>
                    3.本項網路申辦屬預約(填報)申請，申請人須臨櫃繳驗相關應備證件(申請書、身分證明文件、水費收據)及繳清水費。
                </td>
            </tr>
        </tbody>
    </table>
    <style>

    </style>
    <div class="inquiry_check_group">
        <label for="radio1" class="inquiry_radio">使用憑證(自然人、工商)
            <input id="radio1" type="radio" name="radio">
            <span class="radiocheck"></span>
        </label>
        <label for="radio2" class="inquiry_radio">不使用憑證
            <input id="radio2" type="radio" checked="checked" name="radio">
            <span class="radiocheck"></span>
        </label>
    </div>
    <div class="inquiry_btn_group">
        <button class="inquiry_btn Brown" onclick="changeForm('ecounter_form_abolish', 'ecounter');">同意</button>
        <button class="inquiry_btn" onclick="location.href='index.html'">不同意</button>
    </div>
</div>