<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        其他申請
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">網路E櫃檯</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">線上申辦</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">其他申請</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="inquiry_main_content">
    <table class="inquiry_table apply">
        <tbody>
            <tr>
                <th>身份證字號<span class="text-danger">*</span></th>
                <td>
                    <input style="width: 50%;" type="text" placeholder="A123456789">
                </td>
            </tr>
            <tr>
                <th>電話/行動電話<span class="text-danger">*</span></th>
                <td>
                    <div style="margin-bottom:10px;">
                        <input type="text" style="width:35px" placeholder="02"> -
                        <input style="width:40px" type="text" placeholder="333"> -
                        <input style="width:50px" type="text" placeholder="4444">
                    </div>
                    <div>
                        <input type="text" style="width:50px" placeholder="0900"> -
                        <input style="width:82px" type="text" placeholder="333444">
                    </div>
                </td>
            </tr>
            <tr>
                <th>Email<span class="text-danger">*</span></th>
                <td>
                    <input style="width: 50%;" type="email" placeholder="aa@gmail.com">
                </td>
            </tr>
            <tr>
                <th>水號<span class="text-danger">*</span></th>
                <td>
                    <input type="text" maxlength="2" style="width:35px" placeholder="01"> -
                    <input maxlength="8" style="width:90px" type="text" placeholder="12345678"> -
                    <input maxlength="1" style="width:30px" type="text" placeholder="1">
                </td>
            </tr>
            <tr>
                <th>用水地址<span class="text-danger">*</span></th>
                <td>
                    <input style="width: 50%;" type="text" placeholder="請輸入用水地址">
                </td>
            </tr>
           
            <tr>
                <th>同意條款<span class="text-danger">*</span></th>
                <td>
                    <label class="inquiry_checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        已詳閱貴公司
                        <a href="#">營業章程營業章程</a>
                        之規定。
                    </label>
                    <label class="inquiry_checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        已詳閱貴公司
                        <a href="#">個人資料保護法告知事項</a>
                        。
                    </label>
                </td>
            </tr>
            <tr>
                <th>檢附身分證明文件<span class="text-danger">*</span></th>
                <td>
                    <input style="border:none;" type="file" name="" id="">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="inquiry_btn_group">
        <button class="inquiry_btn Brown" onclick="changeForm('ecounter_apply_result', 'ecounter');">確認申辦</button>
        <button class="inquiry_btn" onclick="">重新填寫</button>
    </div>
</div>