<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        各項異動
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">網路E櫃檯</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">線上申辦</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">各項異動</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="inquiry_main_content">
    <table class="inquiry_table apply">
        <thead>
            <tr>
                <th>網路過戶</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div style="margin-bottom:10px">
                        您當有108年02月水費$8986元未繳納。<a href="https://www.water.gov.tw/np.aspx?ctNode=751&mp=1" target="_blank">線上繳費</a>
                    </div>
                    <div>
                        <ol>
                            <li>請至本公司服務(營運)所繳納後再辦理過戶。
                            </li>
                            <li>
                                貴用戶如已至超商(或銀行機構代繳)需俟5日後(例假日除外)超商等向本公司完成結繳，再請上網申請過戶。
                            </li>
                        </ol>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="inquiry_btn_group">
        <button class="inquiry_btn Brown JQ_trans_confirm"
            onclick="location.href='index.html'">回首頁</button>
        <button class="inquiry_btn" onclick="changeForm('ecounter_payment_explain', 'ecounter');">繳費方式</button>
    </div>
</div>