<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        各項異動
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">網路E櫃檯</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">線上申辦</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">各項異動</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="inquiry_main_content">
    <table class="inquiry_table apply">
        <tbody>
            <tr>
                <th>電話/行動電話<span class="text-danger">*</span></th>
                <td>
                    <div style="margin-bottom:10px;">
                        <input type="text" style="width:35px" placeholder="02"> -
                        <input style="width:40px" type="text" placeholder="333"> -
                        <input style="width:50px" type="text" placeholder="4444">
                    </div>
                    <div>
                        <input type="text" style="width:50px" placeholder="0900"> -
                        <input style="width:82px" type="text" placeholder="333444">
                    </div>
                </td>
            </tr>
            <tr>
                <th>Email<span class="text-danger">*</span></th>
                <td>
                    <input style="width: 50%;" type="email" placeholder="aa@gmail.com">
                </td>
            </tr>
            <tr>
                <th>聯絡人<span class="text-danger">*</span></th>
                <td>
                    <input style="width: 50%;" type="text" placeholder="請輸入聯絡人">
                </td>
            </tr>
            <tr>
                <th>聯絡人電話/行動電話<span class="text-danger">*</span></th>
                <td>
                    <div style="margin-bottom:10px;">
                        <input type="text" style="width:35px" placeholder="02"> -
                        <input style="width:40px" type="text" placeholder="333"> -
                        <input style="width:50px" type="text" placeholder="4444">
                    </div>
                    <div>
                        <input type="text" style="width:50px" placeholder="0900"> -
                        <input style="width:82px" type="text" placeholder="333444">
                    </div>
                </td>
            </tr>
            <tr>
                <th>申請建築地點<span class="text-danger">*</span></th>
                <td>
                    <div class="form-inline">
                        <div class="form-group">
                            縣(市)：
                            <label class="form-label" for=""></label>
                            <select style="width:90px" name="" class="form-control" id="">
                                <option value="台北市">台北市</option>
                            </select>
                        </div>
                        <div class="form-group">
                            鄉鎮(區)：
                            <label class="form-label" for=""></label>
                            <select style="width:90px" name="" class="form-control" id="">
                                <option value="台北市">松山區</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>申請建築地點所在站所<span class="text-danger">*</span></th>
                <td>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="form-label" for=""></label>
                            第
                            <select style="width:90px" name="" class="form-control" id="">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                            </select>
                            區管理處
                            <label class="form-label" for=""></label>
                            <select style="width:90px" name="" class="form-control" id="">
                                <option value="南區">南區</option>
                            </select>
                            服務(營運)所
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>審圖類別<span class="text-danger">*</span></th>
                <td>
                    <label class="inquiry_radio">初審
                        <input type="radio" checked="checked" name="radio_1">
                        <span class="radiocheck"></span>
                    </label>
                    <label class="inquiry_radio">預審
                        <input type="radio" name="radio_1">
                        <span class="radiocheck"></span>
                    </label>

                </td>
            </tr>
            <tr>
                <th>樓層<span class="text-danger">*</span></th>
                <td>
                    <div style="margin-bottom:10px;">
                        樓層:
                        <input type="text" style="width:35px"> 樓
                    </div>
                    <div style="margin-bottom:10px;">
                        戶數:
                        <input type="text" style="width:35px"> 戶
                    </div>
                    <div>
                        地下層:
                        <input type="text" style="width:35px"> 層
                    </div>
                </td>
            </tr>
            <tr>
                <th>說明<span class="text-danger"></span></th>
                <td>
                    本項屬預約性質需再審核證件，申請後本公司同仁將儘速與聯絡核對事宜
                </td>
            </tr>
        </tbody>
    </table>
    <div class="inquiry_btn_group">
        <button class="inquiry_btn Brown" onclick="changeForm('ecounter_apply_result', 'ecounter');">確認申辦</button>
        <button class="inquiry_btn" onclick="">重新填寫</button>
    </div>
</div>