<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        其他申請
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">網路E櫃檯</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">線上申辦</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">其他申請</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="inquiry_main_content">
    <table class="block_table inquiry_table explain">
        <thead>
            <tr>
                <th style="width:33%">項目</th>
                <th style="width:33%">作業說明</th>
                <th style="width:33%">注意事項</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="項目">繳費證明</td>
                <td data-title="作業說明">繳費證明以最近半年之水費月份為原則。</td>
                <td data-title="注意事項">
                    用戶積欠水費尚未付清者，本公司未便發給繳費證明。<br>
                    證明須用戶自取
                </td>
            </tr>
        </tbody>
    </table>
    <style>

    </style>
    <div class="inquiry_check_group">
        <label for="radio1" class="inquiry_radio">使用憑證(自然人、工商)
            <input id="radio1" type="radio" name="radio">
            <span class="radiocheck"></span>
        </label>
        <label for="radio2" class="inquiry_radio">不使用憑證
            <input id="radio2" type="radio" checked="checked" name="radio">
            <span class="radiocheck"></span>
        </label>
    </div>
    <div class="inquiry_btn_group">
        <button class="inquiry_btn Brown" onclick="changeForm('ecounter_fee_check_payRecord', 'ecounter');">同意</button>
        <button class="inquiry_btn" onclick="location.href='index.html'">不同意</button>
    </div>
</div>