<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        帳務服務
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">網路E櫃檯</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">線上申辦</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">帳務服務</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="inquiry_main_content">
    <table class="block_table inquiry_table explain">
        <thead>
            <tr>
                <th style="width:33%">項目</th>
                <th style="width:33%">作業說明</th>
                <th style="width:33%">注意事項</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="項目">取消委託代繳</td>
                <td data-title="作業說明">辦理中止委託轉帳代繳，須提供原代繳帳號。</td>
                <td data-title="注意事項">
                    一、申辦資料如有疑義或不明，經本公司聯繫補正資料，請配合提供補正；不願提供者不予受理。<br>
                    二、同一水號如已辦妥新的帳戶代繳，且已開始扣繳，則舊帳戶將自動停止代繳。<br>
                    三、水費單以開單日資料為主，申請時如已過開單日該期水費仍將由原代繳帳戶扣繳，須俟下期水費停止扣繳。
                </td>
            </tr>
        </tbody>
    </table>
    <style>

    </style>
    <div class="inquiry_check_group">
        <label for="radio1" class="inquiry_radio">使用憑證(自然人、工商)
            <input id="radio1" type="radio" name="radio">
            <span class="radiocheck"></span>
        </label>
        <label for="radio2" class="inquiry_radio">不使用憑證
            <input id="radio2" type="radio" checked="checked" name="radio">
            <span class="radiocheck"></span>
        </label>
    </div>
    <div class="inquiry_btn_group">
        <button class="inquiry_btn Brown" onclick="changeForm('ecounter_form_cancelentrust', 'ecounter');">同意</button>
        <button class="inquiry_btn" onclick="location.href='index.html'">不同意</button>
    </div>
</div>