<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        水費試算查詢
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">網路E櫃檯</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">線上查詢</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">水費試算查詢</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="inquiry_main_content">
    <div class="inquiry_title pull-left">
        請輸入下列資料進行試算
    </div>
    <div class="clearfix"></div>
    <form action="">
        <div class="form-horizontal inquiry_calculate_form_group" style="margin: 40px 0;">
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="inquiry_calculate_form_label" for="regionSearch1" style="">用水種別</label>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6">
                    <select name="" class="form-control col-sm-6" id="regionSearch">
                        <option value="一般用戶用水(普通工商業機關)" selected>一般用戶用水(普通工商業機關)</option>
                        <option value="軍眷用水">軍眷用水</option>
                        <option value="市政用水">市政用水</option>
                        <option value="國中國小用水">國中國小用水</option>
                        <option value="臨時用水">臨時用水</option>
                        <option value="違章建築臨時用水">違章建築臨時用水</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="inquiry_calculate_form_label" for="regionSearch2" style="">期別</label>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6">
                    <select name="" class="form-control" id="regionSearch2">
                        <option value="0.5(半個月)" selected>0.5(半個月)</option>
                        <option value="1.0">1.0(一個月)</option>
                        <option value="1.5">1.5(一個半月)</option>
                        <option value="2.0">2.0(二個月)</option>
                        <option value="2.5">2.5(二個半月)</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="inquiry_calculate_form_label" for="regionSearch3" style="">水表口徑</label>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6">
                    <select name="" class="form-control" id="regionSearch3">
                        <option value="13" selected>13</option>
                        <option value="20">20</option>
                        <option value="20">25</option>
                        <option value="20">40</option>
                        <option value="20">50</option>
                        <option value="20">75</option>
                        <option value="20">100</option>
                        <option value="20">150</option>
                        <option value="20">200</option>
                        <option value="20">250</option>
                        <option value="20">300</option>
                        <option value="20">350</option>
                        <option value="20">400</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <div class="inquiry_calculate_form_unit">
                        mm(毫米)
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="inquiry_calculate_form_label" for="regionSearch4" style="">實用度數</label>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6">
                    <input id="regionSearch4" class="form-control" type="text" placeholder="0">
                </div>
                <div class="col-sm-2">
                    <div class="inquiry_calculate_form_unit">
                        度
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="inquiry_calculate_form_label" for="regionSearch5" style="">分攤度數</label>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6">
                    <input id="regionSearch5" class="form-control" type="text" placeholder="0">

                </div>
                <div class="col-sm-2">
                    <div class="inquiry_calculate_form_unit">
                        度
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="inquiry_calculate_form_label" for="regionSearch6" style="">合計度數</label>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6">
                    <input id="regionSearch6" class="form-control" type="text" placeholder="0">
                </div>
                <div class="col-sm-2">
                    <div class="inquiry_calculate_form_unit">
                        度
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="inquiry_calculate_form_label" for="regionSearch7" style="">代徵清除處理費</label>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6">
                    <input id="regionSearch7" class="form-control" type="text" placeholder="0">
                </div>
                <div class="col-sm-2">
                    <div class="inquiry_calculate_form_unit">
                        元/度<a href="javascript:changeForm('user_userServiceList_4','userService');">費率查詢</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="inquiry_calculate_form_label" for="regionSearch8" style="">代徵水源保育與回饋費</label>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6">
                    <select name="" class="form-control" id="regionSearch8">
                        <option value="0" selected>0</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <div class="inquiry_calculate_form_unit">
                        %
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="inquiry_calculate_form_label" for="regionSearch9" style="">代徵污水下水道使用費</label>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6">
                    <select name="" class="form-control" id="regionSearch9">
                        <option value="0" selected>0</option>
                        <option value="5">2.5</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <div class="inquiry_calculate_form_unit">
                        元/度
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="inquiry_btn_group text-center">
            <button class="inquiry_btn Brown" onclick="calculate_show();">試算</button>
        </div>
    </form>
    <div class="inquiry_calculate_result JQ" style="display: none;">
        <hr style="border-top:1px solid #d6d6d6">
        <div class="inquiry_title">
            試算結果
        </div>
        <table class="inquiry_table calculate">
            <tbody>
                <tr>
                    <th width="45%">水費</th>
                    <td>8.5 元</td>
                </tr>
                <tr>
                    <th>(含5%營業稅 </th>
                    <td>0 元)</td>
                </tr>
                <tr>
                    <th>代徵清除處理費</th>
                    <td>0 元</td>
                </tr>
                <tr>
                    <th>代徵水源保育與回饋費</th>
                    <td>0 元</td>
                </tr>
                <tr>
                    <th>代徵污水下水道使用費</th>
                    <td>0 元</td>
                </tr>
                <tr>
                    <th><strong>應繳總額</strong></th>
                    <td><strong>9 元</strong></td>
                </tr>
            </tbody>
        </table>
        <div class="inquiry_title">
            說明
        </div>
        <div class="inquiry_calculate_explain">
            <ol>
                <li>水費包含基本費和用水費均內含5%營業稅</li>
                <li>金額以元為單位,不及一元者,四捨五入計算</li>
                <li>新啟復用戶基本費按日計算</li>
                <li>代徵清除處理費率 <a href="javascript:changeForm('user_userServiceList_4','userService');">請點此</a></li>
                <li>代徵污水下水道使用費費率 <a href="javascript:changeForm('user_userServiceList_4','userService');">請點此</a></li>
                <li>本水費試算結果僅供參考,實際應繳總額以本公司各服務(營運)所所存為準</li>
            </ol>
        </div>
    </div>
</div>

<script>
    function calculate_show() {
        $(".inquiry_calculate_result.JQ").show();
    }
</script>