<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        網路繳費
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">網路E櫃檯</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">線上繳費</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">網路繳費</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="organTree">
    <div class="organTree_list" id="accordion">
        <div class="organTree_item panel">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        一、 存簿代繳水費
                    </h4>
                </div>
            </a>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>
                        請持存款簿、印鑑章及近期水費收據向開立存款帳戶之郵局、各金融機構或用水當地之本公司服務、營運所辦理轉帳代繳水費，既省時又方便。(本公司係代收申請書後轉寄予各金融機構受理，無法檢驗存簿印鑑章(或簽名)是否正確，倘急需辦理請直接向郵局或金融機構申辦。)
                    </p>
                    <p>
                        <strong>
                            貴用戶如連續2期代繳扣款失敗，本公司得取消代繳帳號，日後改寄水費通知單供您繳費。
                        </strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="organTree_item panel">
            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse2">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        二、 代收水費
                    </h4>
                </div>
            </a>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        持本公司寄（送）之水費通知單，於繳費期限前或代收期限前至與本公司簽約代收水費之各大超商、金融機構繳交水費。
                    </p>
                    <p>
                        統一、全家、OK（來來）、萊爾富便利超商。郵局、美廉社、臺灣銀行、中國信託商銀、土地銀行、合作金庫、彰化銀行、台中商銀、新光銀行、三信商銀、第一銀行、聯邦銀行、板信商銀、瑞興銀行、陽信銀行、大眾銀行、日商瑞穗實業銀行、華泰銀行
                        。
                    </p>
                    <p>
                        通苑區漁會、板橋區農會、造橋鄉農會、東勢區農會、線西鄉農會、溪湖鎮農會、三灣鄉農會、草屯鎮農會、埔鹽鄉農會、中和農會、外埔區農會、仁德區農會、基隆一信、基隆二信、淡水一信、淡水信合社...等信用合作社、農會、漁會。
                    </p>
                    <p>
                        <strong>
                            ＊部份信用合作社、農會、漁會僅代收繳費期限內水費。
                        </strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="organTree_item panel">
            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse3">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        三、 信用卡扣繳水費
                    </h4>
                </div>
            </a>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        用戶所持信用卡之發卡單位已開辦信用卡扣繳水費者(如下方說明)，即可向發卡單位申請於信用卡併繳水費手續後，其每期應繳水費即由發卡單位併用戶當月之信用卡消費額通知用戶繳款。
                    </p>
                    <p>
                        倘到期換卡、信用卡額度調整或升等換新卡號、或有其他變更之情事，請依各發卡銀行規定是否需重新申辦扣繳水費。
                    </p>
                    <p>
                        已開辦信用卡扣繳水費者計有：兆豐銀行、花旗（台灣）銀行、渣打國際銀行、中國信託商銀、聯邦銀行、合作金庫、日盛國際商銀、大眾銀行、高雄銀行、臺灣企銀、玉山銀行、遠東國際商銀、安泰銀行、第一銀行、土地銀行、台新國際商銀、凱基商銀、匯豐銀行、永豐銀行、元大銀行、國泰世華銀行、陽信商銀、彰化商業銀行、澳商澳盛銀行、華南銀行、新光銀行、上海銀行、台中銀行、臺灣銀行、富邦銀行、三信商銀等單位。
                    </p>
                    <p>
                        <strong>
                            貴用戶如連續2期代繳扣款失敗，本公司得取消代繳帳號，日後改寄水費通知單供您繳費。
                        </strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="organTree_item panel">
            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse4">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        四、電話語音轉帳繳費
                    </h4>
                </div>
            </a>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        用戶利用電話按鍵傳輸繳費資料，即可自動於其存款帳戶扣繳，目前台北富邦銀行有提供此項電話語音繳水費服務，限台北富邦銀行存款戶，須事先向該行申辦。(因前已寄水費通知單爰不再寄繳費憑證)
                    </p>
                    <p>
                        繳費方式：請撥台北富邦銀行客服專線(02)8751－6665按1選擇語音服務>按6選擇轉繳服務>按1選擇轉繳公用事業費用>按4選擇繳交自來水費(逾代收期限當天15:30無法受理)>輸入轉帳帳號及水費帳單上「代收期限」、「銷帳編號」、「應繳總金額」、「查核碼」等資料，即可自動於存款帳戶扣款繳費。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main_page_other">
    <div class="main_page_other_title">
        檔案下載
        <span class="whitebox"></span>
    </div>
    <div class="clearfix"></div>
    <div class="main_page_other_download">
        <a href="">提高大台中地區供水品質 斥資5.2億元豐原初沈池設備將運轉啟用(1095 KB)</a>
        <a href="">提高大台中地區供水品質 斥資5.2億元豐原初沈池設備將運轉啟用(1095 KB)</a>
        <a href="">提高大台中地區供水品質 斥資5.2億元豐原初沈池設備將運轉啟用(1095 KB)</a>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：144
    </div>
    <div class="main_page_info_update">
        更新時間：2018-12-24 10:21:00
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>