<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        水費查詢
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">網路E櫃檯</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">線上查詢</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">水費查詢</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="inquiry_main_content">
    <div class="inquiry_title pull-left">
        請輸入用水號碼（水號）
    </div>
    <div class="pull-right">
        <button class="inquiry_btn download">下載範例檔</button>
        <button class="inquiry_btn inport">匯入</button>
    </div>
    <div class="clearfix"></div>
    <form action="">
        <div class="inquiry_table_title">
            查詢水號（最多9組）
        </div>
        <table class="block_table inquiry_table">
            <thead>
                <tr class="">
                    <th width="15%">站所</th>
                    <th>用戶編號</th>
                    <th>檢算號</th>
                    <th>動作</th>
                </tr>
            </thead>
            <tbody>
                <tr class="JQ_inquiry_row">
                    <td data-title="站所">
                        <input class="form-control" type="text" value="12">
                    </td>
                    <td data-title="用戶編號">
                        <input class="form-control" type="text" value="123456">
                    </td>
                    <td data-title="檢算號">
                        <input class="form-control" type="text" value="1">
                    </td>
                    <td data-title="動作">
                        <button class="btn_add text-left" onclick="inquiry_table_ctrl('add');">增加</button>
                        <button class="btn_delete" onclick="inquiry_table_ctrl('delete', this);">刪除</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="inquiry_check_group">
            <label class="inquiry_checkbox">
                <input type="checkbox">
                <span class="checkmark"></span>
                記住我的水號
            </label>
        </div>
        <hr style="border-top:1px solid #d6d6d6">
        <p>
            本功能支援多筆查詢，可透過動作欄的增加按鈕輸入多筆水號查詢，最多9組<br>
            亦可下載範例檔填寫水號後，匯入查詢
        </p>
        <div class="inquiry_btn_group">
            <button class="inquiry_btn Brown" onclick="changeForm('ecounter_fee_inquiry_view', 'ecounter');">查詢</button>
            <button class="inquiry_btn">重新填寫</button>
            <button class="inquiry_btn" onclick="goBack();">回上頁</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        inquiry_table_ctrl();
    });

    function inquiry_table_ctrl(par, el) {
        // par == init / add / delete
        if (par == "add") {
            var lastElement = $(".JQ_inquiry_row").last();
            var cloneElement = $(".JQ_inquiry_row").last().clone();
            var cloneElementClear = $(cloneElement).find("input").val("");
            $(cloneElement).insertAfter(lastElement).show();
        } else if (par == "delete") {
            $(el).parents(".JQ_inquiry_row").remove();
        }

        var _table_length = $(".JQ_inquiry_row").length;
        if (_table_length <= 1) {
            $(".JQ_inquiry_row").find("button.btn_delete").hide();
        } else {
            $(".JQ_inquiry_row").find("button.btn_delete").show();
        }
    }
</script>