<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        業務宣導明細(xlsx)
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">資訊公開</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">業務宣導明細(xlsx)</span>
                <span class="path_3_angle JQ" style="display:none;">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <!-- <span class="path_3 JQ">路徑三</span> -->
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="conSearch">
    <form class="form-inline">
        <div class="form-group regionSearch">
            <label for="regionSearch" style="">選擇年份：</label>
            <select name="" class="form-control" id="regionSearch">
                <option value="全部-" disabled selected>全部-</option>
                <option value="108">108</option>
                <option value="107">107</option>
                <option value="106">106</option>
                <option value="105">105</option>
            </select>
            <div class="clearfix"></div>
        </div>
        <div class="form-group keySearch">
            <label for="keySearch">關鍵字：</label>
            <input type="text" class="form-control" id="keySearch" placeholder="">
            <span class="searchBtn"><i role="button" type="submit" class="fa fa-search" aria-hidden="true"></i></span>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
<div class="bulletin_list">
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('go_main_page_13', 'government');">
            <div class="bulletin_list_title">
                108年2月宣導廣告明細
            </div>
            <div class="bulletin_list_date pull-right">
                2018/12/26
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('go_main_page_13', 'government');">
            <div class="bulletin_list_title">
                108年1月宣導廣告明細
            </div>
            <div class="bulletin_list_date pull-right">
                2018/12/13
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('go_main_page_13', 'government');">
            <div class="bulletin_list_title">
                107年12月宣導廣告明細
            </div>
            <div class="bulletin_list_date pull-right">
                2018/12/13
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('go_main_page_13', 'government');">
            <div class="bulletin_list_title">
                107年11月宣導廣告明細
            </div>
            <div class="bulletin_list_date pull-right">
                2018/12/13
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('go_main_page_13', 'government');">
            <div class="bulletin_list_title">
                107年10月宣導廣告明細
            </div>
            <div class="bulletin_list_date pull-right">
                2018/12/13
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('go_main_page_13', 'government');">
            <div class="bulletin_list_title">
                107年9月宣導廣告明細
            </div>
            <div class="bulletin_list_date pull-right">
                2018/12/13
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>
<div class="main_content_page_border">
    <div class="main_content_pageNumber">
        <p>共<span>208</span>筆資料，第<span>2</span>/21頁
        </p>
    </div>
    <div class="main_content_pagination">
        <a class="pageBtn pageleft"></a>
        <a href="">1</a>
        <a href="" class="active">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="">6</a>
        <a class="pageBtn pagenext" href=""></a>
        <a class="pageBtn pageforward" href=""></a>
    </div>
</div>