 
<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        內部控制制度聲明書
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">資訊公開</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">內部控制制度聲明書</span>
                <span class="path_3_angle JQ" style="display:none;">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <!-- <span class="path_3 JQ">企劃類</span> -->
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        內部控制制度聲明書
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2017/06/23
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <p>104年度台灣自來水股份有限公司內部控制制度聲明書<br>
            104年度台灣自來水股份有限公司內部控制制度聲明書<br>
            104年度台灣自來水股份有限公司內部控制制度聲明書
        </p>
        <div class="main_page_image">
            <img src="img/front/images/government-0801.jpg" alt="">
            <span>2018亞洲會議8月29日隆重登場</span>
        </div>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">104年度台灣自來水股份有限公司內部控制制度聲明書(884 KB)</a>
            <a href="">105年度台灣自來水股份有限公司內部控制制度聲明書(758 KB)</a>
            <a href="">106年度台灣自來水股份有限公司內部控制制度聲明書(815 KB)</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <a href="">內部控制制度聲明書</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：1570
    </div>
    <div class="main_page_info_update">
        更新時間：2017-06-23 10:03
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>