 
<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        台灣自來水事業統計年報
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">資訊公開</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">台灣自來水事業統計年報</span>

                <!-- <span class="path_3 JQ">公益睦鄰及捐助支出</span> -->
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        台灣自來水事業統計年報
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2019/04/01
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="linkBoxWrap">
            <a href="">目次</a>
        </div>
        <div class="linkBoxWrap">
            <a href="">提要分析</a>
        </div>
        <div class="linkBoxWrap">
            <a href="">歷年重要業績</a>
        </div>
        <div class="linkBoxWrap">
            <div class="linkBoxTitle">
                壹、出水
            </div>
            <a href="">表1現有水源與供水區域</a>
            <a href="">表2出水量</a>
            <a href="">表3出水量、用電量暨藥品使用量</a>
            <a href="">表4購入原清水量值統計</a>
        </div>
        <div class="linkBoxWrap">
            <div class="linkBoxTitle">
                貳、供水
            </div>
            <a href="">表5用戶數</a>
            <a href="">表6各區管理處用戶數比較</a>
            <a href="">表7供水人口與普及率</a>
            <a href="">表8供水戶口數暨人日配水量</a>
            <a href="">表9用戶動態</a>
        </div>
        <div class="linkBoxWrap">
            <div class="linkBoxTitle">
                參、 售水
            </div>
            <a href="">表10售水量</a>
            <a href="">表11各區管理處售水量比較</a>
            <a href="">表12抄見率與售水率</a>
            <a href="">表14各區管理處水費收入比較</a>
            <a href="">表15違章用水案件處理</a>
        </div>
        <div class="linkBoxWrap">
            <div class="linkBoxTitle">
                肆、 設備
            </div>
            <a href="">表16主要機電暨儀表設備</a>
            <a href="">表17淨水暨蓄水設備</a>
            <a href="">表18管線長度</a>
            <a href="">表19各種管線長度明細表</a>
            <a href="">表20各管種容量分析</a>
            <a href="">表21水量計設備</a>
        </div>
        <div class="main_page_image">
            <img src="img/front/images/gov_2.jpg" alt="">
            <span>一度水的概念示意圖</span>
        </div>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">合議制機關之會議紀錄(884 KB)</a>
            <a href="">合議制機關之會議紀錄(758 KB)</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <a href="">合議制機關之會議紀錄(758 KB)</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：28588
    </div>
    <div class="main_page_info_update">
        更新時間：2019-03-27 10:03
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>