 
<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        道路平整方案執行成果
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">資訊公開</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">道路平整方案執行成果</span>
                <span class="path_3_angle JQ" style="display:none;">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <!-- <span class="path_3 JQ">企劃類</span> -->
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        本公司推動道路平整方案執行成果
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2019/03/26
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <p>台灣自來水股份有限公司107年度路平方案推動情形 資料更新日期：108年3月22日 </p>
        <p>壹、路平推動措施概述 </p>
        <p>（一）台灣自來水股份有限公司（以下簡稱本公司）為配合行政院「推動道路平整方案」之推動，於97年11月成立本公司「推動道路平整方案」推動小組，由業管副總經理擔任召集人，漏水防治處副處長擔任執行秘書，漏水防治處及工務處承辦人擔任工作人員。<br>（二）為確保本公司「推動道路平整方案」執行策略能確實下達各基層單位，本公司所轄各區管理處及各區工程處亦對應成立推動小組，由副理以上層級擔任召集人，各單位均定期召開會議檢討路平作業執行情形，並納入本公司責任中心績效控管。<br>（三）本公司總管理處路平專案推動小組作業內容主要在於宣導及推動中央政府路平政策（例如三米直規檢測、平整度檢測、孔蓋減量檢討……等），各年度亦不定期辦理推動小組會議、實地訪查等作業。有關實際施工品質抽查作業部份，則分別由既有之業務單位分工負責，其中「專案工程」由總處工程督導小組（總處工務處主辦）及區處工程抽查小組（區處工務課主辦）負責考核，「修漏工程」由總處漏水防治處考核，「用戶新裝」工程由總處營業處考核。<br>（四）有關「推動道路平整方案」內容規定之各項施作流程，本公司均依據公共工程會要求及經濟部國營會指導辦理，並明訂於本公司各項施工規範或作業規章中，供本公司所轄各區管理處及各區工程處遵照辦理。
        </p>
        <p>貳、道路巡查暨修復執行情形： 經統計107年道路巡查修復案件，機關自行巡查發覺道路待修復案件比率為89.2%，道路待修復案件於4小時內完成緊急處置案件比率為85.6%，緊急處置後再採方正切割修復比率為70.9%。
        </p>
        <div class="main_page_image">
            <img src="img/front/images/go_road.png" alt="">
            <span>道路巡查暨修復執行情形統計表</span>
        </div>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">路平推動措施概述(884 KB)</a>
            <a href="">路平推動措施概述(758 KB)</a>
            <a href="">路平推動措施概述(815 KB)</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <a href="">路平推動措施概述</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：34423
    </div>
    <div class="main_page_info_update">
        更新時間：2019-03-26 10:03
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>