<div class="left_menu_title">
    <h2>公司簡介</h2>
</div>
<div class="left_menu_list" id="left_menu_list">
    <ul class="mainmenu">
        <li class="mainmenu_item" title="公司簡介" onclick="changeForm('org_company', 'organ');">公司簡介<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item open" title="首長及經營團隊" onclick="">首長及經營團隊<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
            <ul class="submenu">
                <li class="submenu_item" title="董事長" onclick="changeForm('org_g_president', 'organ');">董事長</li>
                <li class="submenu_item" title="總經理" onclick="changeForm('org_g_manager', 'organ');">總經理</li>
                <li class="submenu_item" title="副總經理" onclick="changeForm('org_g_manager_2', 'organ');">副總經理</li>
                <li class="submenu_item" title="單位首長" onclick="changeForm('');">單位首長</li>
            </ul>
        </li>
        <li class="mainmenu_item" title="公司規章" onclick="changeForm('org_companyRule', 'organ');">公司規章<i class="fa fa-angle-right pull-right"
                aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" title="組織職掌" onclick="changeForm('org_organTree', 'organ');">組織職掌<i class="fa fa-angle-right pull-right"
                aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" title="總處聯絡資訊" onclick="changeForm('org_companyContact', 'organ');">總處聯絡資訊<i class="fa fa-angle-right pull-right"
                aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" title="角色定位" onclick="changeForm('org_companyGoal', 'organ');">角色定位<i class="fa fa-angle-right pull-right"
                aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" title="文化資產" onclick="changeForm('org_companyCulture', 'organ');">文化資產<i class="fa fa-angle-right pull-right"
                aria-hidden="true"></i>
        </li>
    </ul>
</div>