<div class="left_menu_title">
    <h2>用戶服務</h2>
</div>
<div class="left_menu_list" id="left_menu_list">
    <ul class="mainmenu">
        <li class="mainmenu_item active" onclick="changeForm('user_userServiceList_1', 'userService');" title="服務據點">服務據點<i
                class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('user_main_page_2', 'userService');" title="電話業務">電話業務<i
                class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('user_userServiceList_3', 'userService');" title="申辦須知">申辦須知<i
                class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('user_userServiceList_4', 'userService');" title="抄表計費">抄表計費<i
                class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item open" title="下載專區">下載專區
            <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
            <ul class="submenu">
                <li class="submenu_item" title="申請表格" onclick="changeForm('user_userServiceList_5.1', 'userService');">申請表格</li>
            </ul>
        </li>
        <li class="mainmenu_item" onclick="changeForm('user_userServiceList_6', 'userService');" title="常見問答">常見問答<i
                class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('user_userServiceList_7', 'userService');" title="相關法規">相關法規<i
                class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('user_main_page_8', 'userService');" title="陳情案件流程">陳情案件流程<i
                class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('user_userServiceList_9', 'userService');" title="為民服務白皮書">為民服務白皮書<i
                class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item open" title="接水補助">接水補助
            <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
            <ul class="submenu">
                <li class="submenu_item" title="補助流程" onclick="changeForm('', 'userService');">補助流程</li>
                <li class="submenu_item" title="相關規定" onclick="changeForm('', 'userService');">相關規定</li>
                <li class="submenu_item" title="宣導影片" onclick="changeForm('', 'userService');">宣導影片</li>
                <li class="submenu_item" title="Q&A" onclick="changeForm('', 'userService');">Q&A</li>
            </ul>
        </li>
    </ul>
</div>