<div class="left_menu_title">
    <h2>企業社會責任</h2>
</div>
<div class="left_menu_list" id="left_menu_list">
    <ul class="mainmenu">
        <li class="mainmenu_item" title="經營者承諾" onclick="changeForm('res_main_page_1','responsibility');">經營者承諾<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" title="永續經營 共創卓越" onclick="changeForm('res_main_page_2','responsibility');">永續經營 共創卓越<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" title="信賴踏實 專業管理" onclick="changeForm('res_main_page_3','responsibility');">信賴踏實 專業管理<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" title="資源永續 守護環境" onclick="changeForm('res_main_page_4','responsibility');">資源永續 守護環境<i class="fa fa-angle-right pull-right"
                aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" title="組織活化 幸福傳承" onclick="changeForm('res_main_page_5','responsibility');">組織活化 幸福傳承<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" title="永續報告書下載" onclick="changeForm('res_main_page_6','responsibility');">永續報告書下載<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
    </ul>
</div>