<div class="left_menu_title">
    <h2>民眾意見信箱</h2>
</div>
<div class="left_menu_list" id="left_menu_list">
    <ul class="mainmenu">
        <li class="mainmenu_item active" title="意見信箱" onclick="changeForm('opmail_main_page', 'opmail');">意見信箱
            <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" title="進度查詢" onclick="changeForm('opmail_process_form', 'opmail');">進度查詢
            <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
    </ul>
</div>