<div class="left_menu_title">
    <h2>成果績效</h2>
</div>
<div class="left_menu_list" id="left_menu_list">
    <ul class="mainmenu">
        <li class="mainmenu_item" title="首長活動" onclick="changeForm('pe_performanceList_1', 'performancePlan');">首長活動<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item open" onclick="changeForm('pe_performanceList_2.1', 'performancePlan');" title="計畫成果">計畫成果<i class="fa fa-angle-right pull-right"
                aria-hidden="true"></i>
             <ul class="submenu">
                <li class="submenu_item" title="工務類" onclick="changeForm('');">工務類</li>
                <li class="submenu_item" title="檢核類" onclick="changeForm('');">檢核類</li>
                <li class="submenu_item active" title="企劃類" onclick="changeForm('pe_performanceList_2.1', 'performancePlan');">企劃類</li>
                <li class="submenu_item" title="供水類" onclick="changeForm('');">供水類</li>
                <li class="submenu_item" title="營業類" onclick="changeForm('');">營業類</li>
                <li class="submenu_item" title="財務類" onclick="changeForm('');">財務類</li>
                <li class="submenu_item" title="材料類" onclick="changeForm('');">材料類</li>
                <li class="submenu_item" title="水質類" onclick="changeForm('');">水質類</li>
                <li class="submenu_item" title="人事類" onclick="changeForm('');">人事類</li>
                <li class="submenu_item" title="環境監測類" onclick="changeForm('');">環境監測類</li>
                <li class="submenu_item" title="性別平等專區" onclick="changeForm('');">性別平等專區</li>
                <li class="submenu_item" title="降低漏水率專區" onclick="changeForm('');">降低漏水率專區</li>
            </ul>
        </li>
        <li class="mainmenu_item" onclick="changeForm('pe_performanceList_3', 'performancePlan');" title="立法院各會期動態">立法院各會期動態<i class="fa fa-angle-right pull-right"
                aria-hidden="true"></i>
        </li>
    </ul>
</div>