<div class="left_menu_title">
    <h2>網路E櫃檯</h2>
</div>
<div class="left_menu_list" id="left_menu_list">
    <ul class="mainmenu">
        <li class="mainmenu_item open active" title="線上查詢">線上查詢
            <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
            <ul class="submenu">
                <li class="submenu_item active" title="水費查詢"
                    onclick="changeForm('ecounter_fee_inquiry_edit', 'ecounter');">水費查詢</li>
                <li class="submenu_item" title="水費試算查詢"
                    onclick="changeForm('ecounter_fee_inquiry_calculate', 'ecounter');">水費試算查詢</li>
                <li class="submenu_item" title="新/改裝進度查詢" onclick="changeForm('ecounter_progress_modify', 'ecounter');">
                    新/改裝進度查詢</li>
                <li class="submenu_item" title="線上申辦進度查詢"
                    onclick="changeForm('ecounter_progress_onlineApply', 'ecounter');">線上申辦進度查詢</li>
            </ul>
        </li>
        <li class="mainmenu_item open" title="線上繳費">線上繳費
            <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
            <ul class="submenu">
                <li class="submenu_item"
                    onclick="window.open('https://www.water.gov.tw/mobile_watersearch.aspx', '_blank');">信用卡繳費</li>
                <li class="submenu_item" onclick="changeForm('ecounter_payment_online', 'ecounter');">網路繳費</li>
                <li class="submenu_item" onclick="changeForm('ecounter_payment_explain', 'ecounter');">繳費方式簡介</li>
            </ul>
        </li>
        <li class="mainmenu_item open" title="線上申辦">線上申辦
            <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
            <ul class="submenu">
                <li class="submenu_item" title="用水申請" onclick="changeForm('ecounter_apply_water', 'ecounter');">用水申請</li>
                <li class="submenu_item" title="各項異動" onclick="changeForm('ecounter_apply_transfer', 'ecounter');">各項異動</li>
                <li class="submenu_item" title="電子帳單申請" onclick="window.open('https://newebill.water.gov.tw/WaterWeb/wSite/mp?mp=100', '_blank');">
                    電子帳單申請</li>
                <li class="submenu_item" title="帳務服務" onclick="changeForm('ecounter_apply_accounting', 'ecounter');">帳務服務</li>

                <li class="submenu_item " title="抄表複查服務" onclick="changeForm('ecounter_apply_review', 'ecounter');">抄表複查服務</li>
                <li class="submenu_item" title="其他申請" onclick="changeForm('ecounter_apply_other', 'ecounter');">其他申請</li>
                <li class="submenu_item" title="補寄水費通知單" onclick="changeForm('ecounter_explain_resend', 'ecounter');">
                    補寄水費通知單</li>
                <li class="submenu_item" title="抄表結算水費(中間結帳)" onclick="changeForm('', 'ecounter');">抄表結算水費(中間結帳)</li>
            </ul>
        </li>
        <li class="mainmenu_item" onclick="window.open('https://1910.water.gov.tw/', '_blank');" title="1910通報無水漏水服務">1910通報無水漏水服務<i
                class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
    </ul>
</div>