<div class="left_menu_title">
    <h2>資訊公開</h2>
</div>
<div class="left_menu_list" id="left_menu_list">
    <ul class="mainmenu">
        <li class="mainmenu_item" onclick="changeForm('go_main_page_1', 'government');" title="內部控制制度聲明書">
            內部控制制度聲明書<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('go_commandList', 'government');" title="法規命令">法規命令<i
                class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('go_explanationList', 'government');" title="解釋性規定及裁量基準">
            解釋性規定及裁量基準<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('go_unitList', 'government');" title="單位服務聯絡資料">單位服務聯絡資料<i
                class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('go_administrativeList', 'government');" title="行政指導有關文書">
            行政指導有關文書<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('go_researchList', 'government');" title="施政計畫、業務統計及研究報告">
            施政計畫、業務統計及研究報告<i class="fa fa-angle-right pull-right" aria-hidden="true"></i></li>
        <li class="mainmenu_item" onclick="changeForm('go_main_page_7_budget', 'government');" title="預算、決算書">
            預算、決算書<i class="fa fa-angle-right pull-right" aria-hidden="true"></i></li>
        <li class="mainmenu_item" onclick="changeForm('go_main_page_8', 'government');" title="道路平整方案執行成果">
            道路平整方案執行成果<i class="fa fa-angle-right pull-right" aria-hidden="true"></i></li>
        <li class="mainmenu_item" onclick="changeForm('go_main_page_9', 'government');" title="請願之處理結果 及訴願之決定">
            請願之處理結果
            及訴願之決定<i class="fa fa-angle-right pull-right" aria-hidden="true"></i></li>
        <li class="mainmenu_item" onclick="changeForm('go_engineeringList', 'government');" title="公共工程及採購契約、對外關係文書">
            公共工程及採購契約、對外關係文書<i class="fa fa-angle-right pull-right" aria-hidden="true"></i></li>
        <li class="mainmenu_item open" title="接受及支付補助金">接受及支付補助金
            <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
            <ul class="submenu">
                <li class="submenu_item" title="公益睦鄰及捐助支出" onclick="changeForm('go_charityList', 'government');">
                    公益睦鄰及捐助支出</li>
                <li class="submenu_item" title="會費支出" onclick="changeForm('go_memberList', 'government');">會費支出</li>
                <li class="submenu_item" title="委託調查研究費支出明細" onclick="changeForm('go_commissionList', 'government');">
                    委託調查研究費支出明細</li>
            </ul>
        </li>
        <li class="mainmenu_item" onclick="changeForm('go_main_page_12', 'government');" title="合議制機關之會議紀錄">
            合議制機關之會議紀錄<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('go_bussinessList', 'government');" title="業務宣導明細(xlsx)">
            業務宣導明細(xlsx)<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('go_yearReportList', 'government');" title="台灣自來水事業統計年報">
            台灣自來水事業統計年報<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item open" title="經營績效">經營績效<i
                class="fa fa-angle-right pull-right" aria-hidden="true"></i>
            <ul class="submenu">
                <li class="submenu_item" title="業務關鍵數據一覽表" onclick="changeForm('go_performanceList', 'government');">
                    業務關鍵數據一覽表</li>
                <li class="submenu_item" title="近十年配、售水量及售水率" onclick="changeForm('', 'government');">
                    近十年配、售水量及售水率</li>
                <li class="submenu_item" title="近十年水費收入及用戶數" onclick="changeForm('', 'government');">
                    近十年水費收入及用戶數</li>
                <li class="submenu_item" title="107年底本公司供水轄區按區域別供水普及率" onclick="changeForm('', 'government');">
                    107年底本公司供水轄區 按區域別供水普及率</li>
                <li class="submenu_item" title="每戶(每人)每月水費及每戶家庭每年水費占消費支出比率" onclick="changeForm('', 'government');">
                    每戶(每人)每月水費及每戶 家庭每年水費占消費支出比率</li>
            </ul>
        </li>
        <li class="mainmenu_item" onclick="changeForm('go_accountingReportList', 'government');" title="會計報告">
            會計報告<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('go_main_page_18', 'government');" title="簽證會計師資訊">
            簽證會計師資訊<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('go_main_page_19', 'government');" title="社會與公共政策">
            社會與公共政策<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
    </ul>
</div>