<div class="left_menu_title">
    <h2>用水宣導</h2>
</div>
<div class="left_menu_list" id="left_menu_list">
    <ul class="mainmenu">
        <li class="mainmenu_item open" title="用水須知">用水須知
            <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
             <ul class="submenu">
                <li class="submenu_item" title="漏水檢查及預防" onclick="changeForm('wa_main_page_1.1', 'water');">漏水檢查及預防</li>
                <li class="submenu_item" title="飲水思源" onclick="changeForm('wa_waterList_1.2', 'water');">飲水思源</li>
                <li class="submenu_item" title="用水安全" onclick="changeForm('wa_waterList_1.3', 'water');">用水安全</li>
                <li class="submenu_item" title="節約用水" onclick="changeForm('wa_waterList_1.4', 'water');">節約用水</li>
                <li class="submenu_item" title="用水用戶用水設備安全" onclick="changeForm('wa_waterList_1.5', 'water');">用戶用水設備</li>
            </ul>
        </li>
        <li class="mainmenu_item" onclick="changeForm('wa_movieList', 'water');" title="宣導影片">宣導影片<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('wa_waternewsList', 'water');" title="水質資訊">水質資訊<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('wa_wateraverageList', 'water');" title="平均水質">平均水質<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
    </ul>
</div>