<div class="left_menu_title">
    <h2>政風園地</h2>
</div>
<div class="left_menu_list" id="left_menu_list">
    <ul class="mainmenu">
        <li class="mainmenu_item open" title="防貪業務專區">防貪業務專區
            <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
            <ul class="submenu">
                <li class="submenu_item" title="廉政倫理規範" onclick="changeForm('po_sunshinList_1.1', 'political');">廉政倫理規範
                </li>
                <li class="submenu_item" title="利益衝突迴避" onclick="changeForm('po_sunshinList_1.2', 'political');">利益衝突迴避
                </li>
                <li class="submenu_item" title="公職人員財產申報" onclick="changeForm('po_sunshinList_1.3', 'political');">
                    公職人員財產申報</li>
                <li class="submenu_item" title="廉政會報" onclick="changeForm('po_regulationList_4', 'political');">廉政會報
                </li>
                <li class="submenu_item" title="公職人員財產申報" onclick="changeForm('po_regulationList_1.1', 'political');">
                    廉政宣導</li>
            </ul>
        </li>
        <li class="mainmenu_item" onclick="changeForm('po_regulationList_1.2', 'political');" title="廉政法規專區">廉政法規專區<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('po_main_page_3', 'political');" title="檢舉窗口">檢舉窗口<i
                class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <!-- <li class="mainmenu_item" onclick="changeForm('po_regulationList_4', 'political');" title="廉政會報專區">廉政會報專區<i
                class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('po_regulationList_5', 'political');" title="機密與安全維護專區">
            機密與安全維護專區<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li> -->
    </ul>
</div>