<div class="left_menu_title">
    <h2>公告資訊</h2>
</div>
<div class="left_menu_list" id="left_menu_list">
    <ul class="mainmenu">
        <li class="mainmenu_item" title="停水 / 減壓" onclick="window.open('https://wateroff.water.gov.tw/index_h.phtml', '_blank');">停水
            /
            減壓<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('bu_bulletinList', 'bulletin');" title="訊息公布欄">訊息公布欄<i class="fa fa-angle-right pull-right"
                aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('bu_hotNewsList', 'bulletin');" title="區域HOT新聞">區域HOT新聞<i class="fa fa-angle-right pull-right"
                aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('bu_rumorList', 'bulletin');"title="闢謠專區">闢謠專區<i class="fa fa-angle-right pull-right"
                aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('bu_constructionList', 'bulletin');"title="施工訊息">施工訊息<i class="fa fa-angle-right pull-right"
                aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item open" title="重大政策">重大政策<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
            <ul class="submenu">
                <li class="submenu_item" title="行政院重大政策" onclick="window.open('https://www.ey.gov.tw/', '_blank');">行政院重大政策</li>
                <li class="submenu_item" title="經濟部重大政策" onclick="window.open('https://www.moea.gov.tw/Mns/populace/news/News.aspx?kind=2&menu_id=41', '_blank');">經濟部重大政策</li>
                <li class="submenu_item" title="本公司重大政策" onclick="changeForm('bu_policyList', 'bulletin');">本公司重大政策</li>
            </ul>
        </li>
        <li class="mainmenu_item" onclick="changeForm('bu_employList', 'bulletin');" title="本公司就業資訊">本公司就業資訊<i class="fa fa-angle-right pull-right"
                aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="window.open('http://web.pcc.gov.tw/pishtml/pisindex.html', '_blank');" title="招標資訊">招標資訊<i
                class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </li>
        <li class="mainmenu_item" onclick="changeForm('bu_ebookList', 'bulletin');" title="電子書專區">電子書專區<i class="fa fa-angle-right pull-right"
                aria-hidden="true"></i>
        </li>
    </ul>
</div>