<!-- banner start -->
<div class="banner">
    <div id="banner_img" class="owl-carousel">
        <div class="item">
            <img src="img/banner_1_new.png" alt="banner">
        </div>
        <div class="item">
            <img src="img/banner_2_new.png" alt="banner">
        </div>
        <div class="item">
            <img src="img/banner_3_new.png" alt="banner">
        </div>
        <div class="item">
            <img src="img/banner_4_new.png" alt="banner">
        </div>
        <div class="item">
            <img src="img/banner_5_new.png" alt="banner">
        </div>
        <div class="item">
            <img src="img/banner_6_new.png" alt="banner">
        </div>
        <div class="item">
            <img src="img/banner_7_new.png" alt="banner">
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- banner end -->
<!-- recommend_link start -->
<div class="recommend_link">
    <div class="container">
        <a href="javascript:changeForm('ecounter_fee_inquiry_edit', 'ecounter');" class="recommend_link_icon">
            <img src="img/recommend_link_img_1.png" alt="" class="recommend_link_img">
            <div class="recommend_link_title">網路e櫃台</div>
        </a>
        <a href="#" class="recommend_link_icon">
            <img src="img/recommend_link_img_2.png" alt="" class="recommend_link_img">
            <div class="recommend_link_title">電子帳單</div>
        </a>
        <a href="javascript:changeForm('user_userServiceList_1', 'userService');" class="recommend_link_icon">
            <img src="img/recommend_link_img_3.png" alt="" class="recommend_link_img">
            <div class="recommend_link_title">用戶服務</div>
        </a>
        <a href="#" class="recommend_link_icon">
            <img src="img/recommend_link_img_4.png" alt="" class="recommend_link_img">
            <div class="recommend_link_title">民意交流</div>
        </a>
        <a href="#" class="recommend_link_icon">
            <img src="img/recommend_link_img_5.png" alt="" class="recommend_link_img">
            <div class="recommend_link_title">開放資料</div>
        </a>
        <a href="#" class="recommend_link_icon">
            <img src="img/recommend_link_img_6.png" alt="" class="recommend_link_img">
            <div class="recommend_link_title">政策宣導</div>
        </a>
        <a href="#" class="recommend_link_icon">
            <img src="img/recommend_link_img_7.png" alt="" class="recommend_link_img">
            <div class="recommend_link_title" style="font-size:14px;">停水/減壓查詢系統</div>
        </a>
        <a href="javascript:changeForm('opmail_main_page', 'opmail');" class="recommend_link_icon">
            <img src="img/recommend_link_img_8.png" alt="" class="recommend_link_img">
            <div class="recommend_link_title">民眾意見信箱</div>
        </a>
    </div>
</div>
<!-- recommend_link end -->

<!-- news start -->
<div class="news">
    <div class="container">
        <h2 class="title">訊息公告</h2>
        <div class="news_main">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link active" id="news_hot-tab" data-toggle="tab" href="#news_hot" role="tab"
                        aria-controls="news_hot" aria-selected="true">區域HOT新聞</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="news_announcement-tab" data-toggle="tab" href="#news_announcement"
                        role="tab" aria-controls="news_announcement" aria-selected="false">訊息公佈欄</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active in" id="news_hot" role="tabpanel" aria-labelledby="news_hot-tab">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="block_img"><img src="img/news_img_1.png" alt="">
                            </div>
                            <div class="block_content">
                                <div class="content_title">第五區管理處12月19日至第一屆「政府服務獎」得獎單位嘉義縣新港鄉公所觀摩。 </div>
                                <div class="content_date text-center">2019/01/14</div>
                                <div class="content_main">本處12月19日由呂秘書繼賢率相關同仁至第一屆「政府服務獎」得獎單位嘉義縣...</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="block_img"><img src="img/news_img_2.png" alt="">
                            </div>
                            <div class="block_content">
                                <div class="content_title">第五區管理處民雄營運所於12月17日拜訪大林鎮明華里江里長志明 </div>
                                <div class="content_date text-center">2019/01/14</div>
                                <div class="content_main">本處民雄所為提供偏鄉地區用戶優質用戶服務，於107年8月起至12月止為期5個月...</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="block_img"><img src="img/news_img_3.png" alt="">
                            </div>
                            <div class="block_content">
                                <div class="content_title">提升供水能量及品質 水公司辦理台南下營管線汰換</div>
                                <div class="content_date text-center">2019/01/14</div>
                                <div class="content_main">台南市下營區中山路通往市區的自來水管線埋設多年，已達屆齡汰換年限，水公...</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <a href="#" class="news_more content_more">更多</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="news_announcement" role="tabpanel"
                    aria-labelledby="news_announcement-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bulletin_list home">
                                <div class="bulletin_list_item">
                                    <a href="javascript:changeForm('bu_main_page_1', 'bulletin');">
                                        <div class="bulletin_list_title">
                                            本公司將進行網路設備維護，作業期間本公司所有網站及iTaiwan無上網服務可能發生連線瞬斷。
                                        </div>
                                        <div class="bulletin_list_date pull-right">
                                            2019/01/11
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>
                                <div class="bulletin_list_item">
                                    <a href="javascript:changeForm('bu_main_page_1', 'bulletin');">
                                        <div class="bulletin_list_title">
                                            台水公司確保東港、新園地區農曆春節及燈會期間用水無虞。
                                        </div>
                                        <div class="bulletin_list_date pull-right">
                                            2019/01/11
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>
                                <div class="bulletin_list_item">
                                    <a href="javascript:changeForm('bu_main_page_1', 'bulletin');">
                                        <div class="bulletin_list_title">
                                            改善大肚、龍井區供水 台水於高地興建配水池2座將啟用。
                                        </div>
                                        <div class="bulletin_list_date pull-right">
                                            2019/01/11
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>
                                <div class="bulletin_list_item">
                                    <a href="javascript:changeForm('bu_main_page_1', 'bulletin');">
                                        <div class="bulletin_list_title">
                                            寒冬送暖！台水1910客服中心擴增弱勢族群值機員
                                        </div>
                                        <div class="bulletin_list_date pull-right">
                                            2019/01/11
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>
                                <div class="bulletin_list_item">
                                    <a href="javascript:changeForm('bu_main_page_1', 'bulletin');">
                                        <div class="bulletin_list_title">
                                            改善大肚、龍井區供水 台水於高地興建配水池2座將啟用。
                                        </div>
                                        <div class="bulletin_list_date pull-right">
                                            2019/01/11
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <a href="#" class="news_more content_more">更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- news end -->
<!-- purpose_link start -->
<div class="purpose_link">
    <div class="container">
        <!-- <h2 class="title">訊息公告</h2> -->
        <div class="row">
            <div class="col-md-2 col-xs-4">
                <a href="#" class="purpose_icon">
                    <img src="img/purpose_icon_1.png" alt="">
                    <div class="purpose_title">服務據點<br>Location</div>
                </a>
            </div>
            <div class="col-md-2 col-xs-4">
                <a href="#" class="purpose_icon">
                    <img src="img/purpose_icon_2.png" alt="">
                    <div class="purpose_title">雙語詞彙<br>Language</div>
                </a>
            </div>
            <div class="col-md-2 col-xs-4">
                <a href="#" class="purpose_icon">
                    <img src="img/purpose_icon_3.png" alt="">
                    <div class="purpose_title">網網相連
                        <br>Connect</div>
                </a>
            </div>
            <div class="col-md-2 col-xs-4">
                <a href="#" class="purpose_icon">
                    <img src="img/purpose_icon_4.png" alt="">
                    <div class="purpose_title">常見問答<br>FAQ</div>
                </a>
            </div>
            <div class="col-md-2 col-xs-4">
                <a href="#" class="purpose_icon">
                    <img src="img/purpose_icon_5.png" alt="">
                    <div class="purpose_title">工作證申請專區<br>Work Permit</div>
                </a>
            </div>
            <div class="col-md-2 col-xs-4">
                <a href="#" class="purpose_icon">
                    <img src="img/purpose_icon_6.png" alt="">
                    <div class="purpose_title">全民督工通報系統<br>Notification</div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- purpose_link end -->
<!-- principal start -->
<div class="principal">
    <div class="principal_bg"></div>
    <div class="container">
        <h2 class="title">首長最前線</h2>
        <div class="principal_main">
            <div class="row">
                <div class="col-md-6">
                    <div class="principal_img"><img src="img/principal_img.png" alt=""></div>
                </div>
                <div class="col-md-6">
                    <div class="principal_content">
                        <div class="principal_content_title">總經理陪同經濟部沈部長及國營會吳副主委視察本公司第二區管理處大湳給水廠並致贈春節加菜金</div>
                        <div class="principal_content_main">
                            <div class="principal_content_time">活動時間：107年2月1日</div>
                            <div class="principal_content_place">活動地點：桃園市</div>
                            <div class="principal_content_info">說　　明：總經理陪同經濟部沈部長及國營會吳副主委視察本公司第二區管理處大湳給水廠並致贈春節加菜金。</div>
                        </div>
                        <a href="#" class="principal_content_more content_more">更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- principal end -->
<!-- video start -->
<div class="video">
    <div class="video_bg"></div>
    <div class="container">
        <h2 class="title">影音專區</h2>
        <div class="row">
            <div class="video_main">
                <div id="video_carousel" class="owl-carousel">
                    <div class="item">
                        <div class="col-md-4">
                            <div class="video_content">
                                <div class="video_content_title">台水節水宣導影片及微電影-逆襲的自來水手</div>
                                <div class="video_content_main">
                                    殷實的水電工阿堂帶著妻子回娘家，希望能夠得到岳父母的肯定而做了許多努力，卻都不盡如人意，直到他發揮水電工的節水專長，終於獲得眾人的支持與肯定。</div>
                                <a href="#" class="video_content_more content_more">更多</a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="video_iframe videoMain embed-responsive embed-responsive-70">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0naX_CocAxU"
                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="item">
                        <div class="col-md-4">
                            <div class="video_content">
                                <div class="video_content_title">台水節水宣導影片及微電影-逆襲的自來水手</div>
                                <div class="video_content_main">
                                    殷實的水電工阿堂帶著妻子回娘家，希望能夠得到岳父母的肯定而做了許多努力，卻都不盡如人意，直到他發揮水電工的節水專長，終於獲得眾人的支持與肯定。</div>
                                <a href="#" class="video_content_more content_more">更多</a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="video_iframe videoMain embed-responsive embed-responsive-70">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0naX_CocAxU"
                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- video end -->
<!-- theme start -->
<div class="theme">
    <div class="container">
        <h2 class="title">主題專區</h2>
        <div class="theme_main">
            <div id="theme_carousel" class="owl-carousel">
                <div class="item">
                    <div class="theme_content">
                        <img src="img/theme_1.png" alt="">
                        <div class="theme_fliter"></div>
                        <div class="theme_content_title">行動支付</div>
                        <a href="" class="theme_content_link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="theme_content">
                        <img src="img/theme_2.png" alt="">
                        <div class="theme_fliter"></div>
                        <div class="theme_content_title">雲端發票</div>
                        <a href="" class="theme_content_link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="theme_content">
                        <img src="img/theme_3.png" alt="">
                        <div class="theme_fliter"></div>
                        <div class="theme_content_title">新南向專區</div>
                        <a href="" class="theme_content_link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="theme_content">
                        <img src="img/theme_4.png" alt="">
                        <div class="theme_fliter"></div>
                        <div class="theme_content_title">CEDAW性別平等</div>
                        <a href="" class="theme_content_link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="theme_content">
                        <img src="img/theme_7.png" alt="">
                        <div class="theme_fliter"></div>
                        <div class="theme_content_title">退休員工服務專區</div>
                        <a href="" class="theme_content_link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="theme_content">
                        <img src="img/theme_5.png" alt="">
                        <div class="theme_fliter"></div>
                        <div class="theme_content_title">災害防救資通訊系統</div>
                        <a href="" class="theme_content_link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="theme_content">
                        <img src="img/theme_6.png" alt="">
                        <div class="theme_fliter"></div>
                        <div class="theme_content_title">特約優惠情報專區</div>
                        <a href="" class="theme_content_link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="theme_content">
                        <img src="img/theme_1.png" alt="">
                        <div class="theme_fliter"></div>
                        <div class="theme_content_title">行動支付</div>
                        <a href="" class="theme_content_link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="theme_content">
                        <img src="img/theme_2.png" alt="">
                        <div class="theme_fliter"></div>
                        <div class="theme_content_title">雲端發票</div>
                        <a href="" class="theme_content_link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="theme_content">
                        <img src="img/theme_3.png" alt="">
                        <div class="theme_fliter"></div>
                        <div class="theme_content_title">新南向專區</div>
                        <a href="" class="theme_content_link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="theme_content">
                        <img src="img/theme_4.png" alt="">
                        <div class="theme_fliter"></div>
                        <div class="theme_content_title">CEDAW性別平等</div>
                        <a href="" class="theme_content_link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="theme_content">
                        <img src="img/theme_7.png" alt="">
                        <div class="theme_fliter"></div>
                        <div class="theme_content_title">退休員工服務專區</div>
                        <a href="" class="theme_content_link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="theme_content">
                        <img src="img/theme_5.png" alt="">
                        <div class="theme_fliter"></div>
                        <div class="theme_content_title">災害防救資通訊系統</div>
                        <a href="" class="theme_content_link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="theme_content">
                        <img src="img/theme_6.png" alt="">
                        <div class="theme_fliter"></div>
                        <div class="theme_content_title">特約優惠情報專區</div>
                        <a href="" class="theme_content_link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- theme end -->
<!-- relative start -->
<div class="relative">
    <div class="container">
        <h2 class="title">相關連結</h2>
        <div id="owl_relative" class="owl-carousel relative_main">
            <a class="relative_link item" href="#"><img src="img/relative_link_1.png" alt=""></a>
            <a class="relative_link item" href="#"><img src="img/relative_link_2.png" alt=""></a>
            <a class="relative_link item" href="#"><img src="img/relative_link_3.png" alt=""></a>
            <a class="relative_link item" href="#"><img src="img/relative_link_4.png" alt=""></a>
            <a class="relative_link item" href="#"><img src="img/relative_link_5.png" alt=""></a>
            <a class="relative_link item" href="#"><img src="img/relative_link_6.png" alt=""></a>
            <a class="relative_link item" href="#"><img src="img/relative_link_7.png" alt=""></a>
            <a class="relative_link item" href="#"><img src="img/relative_link_8.png" alt=""></a>
        </div>
        <a href="#" class="relative_more content_more">更多</a>
    </div>
</div>
<!-- relative end -->

<script>
    // owlCarousel js
    // banner owlCarousel start
    $('#banner_img').owlCarousel({
        loop: true,
        nav: true,
        items: 1,
        autoplay: true,
        margin: 0,
        autoplayTimeout: 5500,
        navText: ["<", ">"],
        responsive: {
            0: {
                dots: false
            },
            480: {
                dots: true
            }
        }
    })
    // banner owlCarousel end

    // news JS start
    $('.news_main .content_title').matchHeight();
    // news JS end

    // video owlCarousel start
    $('#video_carousel').owlCarousel({
        loop: true,
        // nav: true,
        items: 1,
        autoplay: false,
        margin: 0,
        autoplayTimeout: 5500,
        navText: ["<", ">"],
        responsive: {
            0: {
                nav: false,
                dots: true
            },
            320: {
                nav: false,
                dots: true
            },
            480: {
                nav: false,
                dots: true
            },
            850: {
                nav: false,
                dots: true
            },
            1400: {
                nav: true,
                dots: false
            },
        }
    })
    // video owlCarousel end

    // theme owlCarousel start
    $('#theme_carousel').owlCarousel({
        loop: true,
        dots: true,
        nav: false,
        // autoplay: true,
        autoplayHoverPause: true,
        navText: ["<", ">"],
        responsive: {
            0: {
                items: 1,
                margin: 5
            },
            320: {
                items: 2,
                margin: 5
            },
            480: {
                items: 3,
                margin: 5
            },
            900: {
                items: 4,
                margin: 15
            },
            1200: {
                items: 4,
                margin: 30
            },
            1400: {
                items: 4,
                margin: 30,
                nav: true,
                dots: false
            },
        }
    });
    // theme owlCarousel end

    // relativeLink owlCarousel start
    $('#owl_relative').owlCarousel({
        loop: true,
        dots: true,
        autoplay: true,
        // autoplayHoverPause: true,
        navText: ["<", ">"],
        responsive: {
            0: {
                items: 1,
                nav: false
            },
            320: {
                items: 2,
                nav: false
            },
            480: {
                items: 3,
                nav: false
            },
            850: {
                items: 4,
                nav: true,
                margin: 15
            },
            992: {
                items: 4,
                nav: false,
                margin: 30
            },
            1170: {
                items: 4,
                nav: true,
                margin: 30
            },
            1200: {
                items: 4,
                nav: false,
                margin: 50
            },
            1400: {
                items: 6,
                nav: true,
                margin: 10
            },
        }
    });
    // relativeLink owlCarousel end
    // owlCarousel js



    // tweenMax JS start
    $(function () {
        // init controller
        var controller = new ScrollMagic.Controller();

        $('.news_main').show(function () {
            var tl = new TimelineLite();
            var tween = tl.staggerFrom([".block_img:eq(0)", ".block_img:eq(1)", ".block_img:eq(2)"],
                0.3, {
                    autoAlpha: 0,
                    scaleX: 0.7,
                    x: -50
                }, 0.2);
            var scene = new ScrollMagic.Scene({
                    triggerElement: ".recommend_link",
                })
                .setTween(tween)
                .addTo(controller);
        });

        $('.purpose_link').show(function () {
            var tl = new TimelineLite();
            var tween = tl.staggerFrom([".purpose_icon:eq(0)", ".purpose_icon:eq(1)",
                ".purpose_icon:eq(2)", ".purpose_icon:eq(3)", ".purpose_icon:eq(4)",
                ".purpose_icon:eq(5)"
            ], 0.5, {
                autoAlpha: 0,
                scale: "-=0.5"
            }, 0.1);
            var scene = new ScrollMagic.Scene({
                    triggerElement: ".purpose_link",
                })
                .setTween(tween)
                .addTo(controller);
        });

        $('.video_iframe iframe').show(function () {
            var tween = TweenMax.from($(this), 0.5, {
                autoAlpha: 0,
                delay: 0.2,
            });
            var scene = new ScrollMagic.Scene({
                    triggerElement: ".video",
                })
                .setTween(tween)
                .addTo(controller);
        });

        $('.principal_img img').show(function () {
            var tween = TweenMax.from($(this), 0.5, {
                autoAlpha: 0,
                scaleX: 0.7,
                x: -50
            });
            var scene = new ScrollMagic.Scene({
                    triggerElement: ".principal",
                })
                .setTween(tween)
                .addTo(controller);
        });

        $('.theme_main').show(function () {
            var tween = TweenMax.from($(this), 0.5, {
                autoAlpha: 0,
                scaleX: 0.7,
                x: -50
            });
            var scene = new ScrollMagic.Scene({
                    triggerElement: ".theme",
                })
                .setTween(tween)
                .addTo(controller);
        });
    });
    // tweenMax JS end
</script>