<div class="org_modal inquiry_modal">
    <div class="inquiry_modal_header">
        請輸入姓名檢視詳細資訊
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    </div>
    <div class="inquiry_modal_content">
        <input class="form-control" width="80%" type="text" placeholder="請輸入姓名">
        <div class="inquiry_btn_group" style="text-align:center;">
            <button class="inquiry_btn Brown" data-dismiss="modal" onclick="changeForm('ecounter_fee_inquiry_result', 'ecounter');">確認</button>
            <button class="inquiry_btn" data-dismiss="modal">取消</button>
        </div>
    </div>
</div>