<div class="org_modal">
    <div class="org_modal_header">
        經歷簡介
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    </div>
    <div class="org_modal_content">
        <div class="org_manager_head">
            陳富田
        </div>
        <table class="org_manager_table" valign="top">
            <tbody>
                <tr>
                    <th>
                        <p>生日</p>
                    </th>
                    <td>
                        <p>37年11月4日</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>現職</p>
                    </th>
                    <td>
                        <p>台灣自來水股份有限公司副總經理</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>學歷</p>
                    </th>
                    <td>
                        <p>國立成功大學水利及海洋工程學系（碩士）</p>
                        <p>國立成功大學水利工程學系（學士）</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>經歷</p>
                    </th>
                    <td>
                        <p>台灣自來水公司第三區管理處處長</p>
                        <p>台灣自來水公司副總工程師</p>
                        <p>台灣自來水公司供水處處長</p>
                        <p>台灣自來水公司工務處副處長</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>考試</p>
                    </th>
                    <td>
                        <p>78年全國性公務人員高等考試土木工程類科</p>
                        <p>73年全國性公務人員高等考試水利工程類科</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>