<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        意見信箱
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">民眾意見信箱</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">意見信箱</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="inquiry_main_content">
    <table class="inquiry_table opmail">
        <tbody>
            <tr>
                <th>電子信箱<span class="text-danger">*</span></th>
                <td>
                    <input style="width: 50%;" type="email" class="form-control" placeholder="aa@gmail.com">
                </td>
            </tr>
            <tr>
                <th>查詢密碼<span class="text-danger">*</span></th>
                <td>
                    <input style="width: 50%;" type="text" class="form-control" placeholder="請輸入密碼">
                </td>
            </tr>

            <tr>
                <th>驗證碼<span class="text-danger">*</span></th>
                <td>
                    <div style="" class="">
                        <input style="width:24%; display: inline-block;" class="form-control" type="text">
                        <img src="img/front/images/veriCode_1.png" alt="">
                    </div>
                    <div style="margin-left: 20px; padding-bottom:0px;" class="form_explain veriCode_fresh"> <span
                            onclick="">重新產生驗證碼</span> <a href="">驗證碼語音檔案下載</a>
                    </div>
                    <div class="form_explain veriCode_descript">如按“確認”鈕後出現驗證碼錯誤，請點擊<span
                            style="color:rgb(74, 158, 207);">驗證碼圖片</span></div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="inquiry_btn_group">
        <button class="inquiry_btn Brown" onclick="">確認送出</button>
        <button class="inquiry_btn" onclick="">取消</button>
    </div>
</div>