<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        意見信箱
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">民眾意見信箱</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">意見信箱</span>
                <span class="path_3_angle JQ" style="display:none;">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <!-- <span class="path_3 JQ">路徑三</span> -->
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_content">
        <p>
            親愛的用戶，您好：<br>

            感謝您使用本公司民眾意見信箱，您不吝賜予支持與指教，
            將是本公司得以向上提昇與進步的動力。本公司為了保障您的線上隱私，讓您能夠安心的使用本信箱，請您務必詳閱以下說明，謝謝您!<br>
            台灣自來水公司 敬上
        </p>
        <div class="main_page_content_subtitle">
            個資法說明
        </div>
        <p>
            1.
            本公司為因應101年10月1日個人資料保護法施行，非因公務需要，不會在未經您同意之情況下，任意將您的個人資料提供他人使用。但基於法定職掌與專業分工，本信箱在收到您的電子郵件後，將轉請權責業務單位處理並逕行回復，因此您的個人基本資料(如姓名、聯絡電話、聯絡地址、電子郵件地址、水號)，將隨同電子郵件內容一併轉知權責業務單位。
        </p>
        <p>
            2. 如您來信內容及身分有保密之需要，或考量電子傳送可能產生之資訊安全風險，建請您改以書面郵寄至本公司(地址:404台中市北區雙十路2段2號之1 台灣自來水公司收)，本公司將視權責歸屬，轉由權責業務單位處理
        </p>
        <p>
            3. 就同一事由，如無新事證，而重覆來信者，本信箱將為您併案處理，不再另行寄發通知。
        </p>
    </div>
</div>
<div class="inquiry_btn_group text-center">
    <button class="inquiry_btn Brown" onclick="changeForm('opmail_main_form', 'opmail');">同意</button>
    <button class="inquiry_btn" onclick="location.href='index.html'">不同意</button>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>