<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        意見信箱
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">民眾意見信箱</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">意見信箱</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="inquiry_main_content">
    <div class="inquiry_btn_group">
        <button class="inquiry_apply_btn"
            onclick="window.open('img/front/images/userService_1.jpg', '_blank');">陳情案件流程圖</button>
    </div>
    <table class="inquiry_table opmail">
        <tbody>
            <tr>
                <th>您的真實姓名<span class="text-danger">*</span></th>
                <td>
                    <input style="width: 50%;" type="text" class="form-control" placeholder="請輸入姓名">
                </td>
            </tr>
            <tr>
                <th>查詢密碼<span class="text-danger">*</span></th>
                <td>
                    <input style="width: 50%;" type="text" class="form-control" placeholder="請輸入密碼">
                    <div style="margin-top:10px;">
                        (此查詢密碼為日後若您要查詢信件受理進度時使用，請以英文字母或數字輸入)
                    </div>
                </td>
            </tr>
            <tr>
                <th>確認查詢密碼<span class="text-danger">*</span></th>
                <td>
                    <input style="width: 50%;" type="text" class="form-control" placeholder="請再次輸入密碼">
                </td>
            </tr>
            <tr>
                <th>您的性別<span class="text-danger">*</span></th>
                <td>
                    <label class="inquiry_radio">男
                        <input type="radio" checked="checked" name="radio_sex">
                        <span class="radiocheck"></span>
                    </label>
                    <label class="inquiry_radio">女
                        <input type="radio" name="radio_sex">
                        <span class="radiocheck"></span>
                    </label>

                </td>
            </tr>
            <tr>
                <th>您的電子信箱<span class="text-danger">*</span></th>
                <td>
                    <input style="width: 50%;" type="email" class="form-control" placeholder="aa@gmail.com">
                </td>
            </tr>
            <tr>
                <th>您的聯絡電話<span class="text-danger">*</span></th>
                <td>
                    <input style="width: 50%;" type="text" class="form-control" placeholder="請輸入聯絡電話">
                </td>
            </tr>
            <tr>
                <th>來信主旨<span class="text-danger">*</span></th>
                <td>
                    <input style="width: 50%;" type="text" class="form-control" placeholder="請輸入主旨">
                </td>
            </tr>
            <tr>
                <th>問題種類<span class="text-danger">*</span></th>
                <td>
                    <select style="width: 50%;" name="" class="form-control" id="">
                        <option value="" disabled selected>請選擇</option>
                        <option value="申請接水">申請接水</option>
                        <option value="水費異議">水費異議</option>
                        <option value="供水異常">供水異常</option>
                        <option value="服務態度">服務態度</option>
                        <option value="漏水舉報">漏水舉報</option>
                        <option value="網站問題">網站問題</option>
                        <option value="其他">其他</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>水號<span class="text-danger">*</span></th>
                <td>
                    <input type="text" maxlength="2" class="form-control" style="width:50%; margin-bottom: 10px;"
                        placeholder="請輸入站所 (2碼)">
                    <input maxlength="8" style="width:50%;margin-bottom: 10px;" type="text" class="form-control"
                        placeholder="請輸入用戶編號 (8碼)">
                    <input maxlength="1" style="width:50%;margin-bottom: 10px;" type="text" class="form-control"
                        placeholder="請輸入檢算號 (1碼)">
                </td>
            </tr>
            <tr>
                <th>您的用水地址<span class="text-danger">*</span></th>
                <td>
                    <div class="form-inline" style="margin-bottom:10px;">
                        <div class="form-group">
                            <label for="" class="form_explain">縣市</label>
                            <select name="" class="form-control" id="">
                                <option value="" disabled selected>請選擇</option>
                                <option value="">基隆市</option>
                                <option value="">新北市</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="" class="form_explain">鄉鎮市區</label>
                            <select name="" class="form-control" id="">
                                <option value="" disabled selected>請選擇</option>
                                <option value="">萬里區</option>
                                <option value="">金山區</option>
                            </select>
                        </div>
                    </div>
                    <input style="width: 100%;" type="text" class="form-control" placeholder="請輸入正確用水地址">
                </td>
            </tr>
            <tr>
                <th>您的意見內容<span class="text-danger">*</span></th>
                <td>
                    <textarea name="" class="form-control" id="" cols="30" rows="10"
                        placeholder="請輸入4000數字以內"></textarea>
                </td>
            </tr>
            <tr>
                <th>上傳檔案<span class="text-danger">*</span></th>
                <td>
                    <input style="border:none;" class="" type="file" name="" id="">
                    <div class="form_explain">
                        提供佐證照片資料請以附加檔案上傳，並注意下列事項：<br>
                        1. 檔案不能超過4MB。<br>
                        2. 接受副檔名為「png、jpg、7z及zip」檔案上傳。
                    </div>
                </td>
            </tr>
            <tr>
                <th>驗證碼<span class="text-danger">*</span></th>
                <td>
                    <div style="" class="">
                        <input style="width:24%; display: inline-block;" class="form-control" type="text">
                        <img src="img/front/images/veriCode_1.png" alt="">
                    </div>
                    <div style="margin-left: 20px; padding-bottom:0px;" class="form_explain veriCode_fresh"> <span
                            onclick="">重新產生驗證碼</span> <a href="">驗證碼語音檔案下載</a>
                    </div>
                    <div class="form_explain veriCode_descript">如按“確認”鈕後出現驗證碼錯誤，請點擊<span
                            style="color:rgb(74, 158, 207);">驗證碼圖片</span></div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="inquiry_btn_group">
        <button class="inquiry_btn Brown" onclick="">確認送出</button>
        <button class="inquiry_btn" onclick="">重新填寫</button>
    </div>
</div>