<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        公司規章
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">公司簡介</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">公司規章</span>
                <span class="path_3_angle JQ" style="display:none;">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <!-- <span class="path_3 JQ">路徑三</span> -->
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="bulletin_list">
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('bu_main_page_1.4', 'organ');">
            <div class="bulletin_list_title">
                董事會組織規程
            </div>
            <div class="bulletin_list_date pull-right">
                2019/01/11
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('bu_main_page_1.4', 'organ');">
            <div class="bulletin_list_title">
                公司章程
            </div>
            <div class="bulletin_list_date pull-right">
                2019/01/11
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('bu_main_page_1.4', 'organ');">
            <div class="bulletin_list_title">
                公司組織規程
            </div>
            <div class="bulletin_list_date pull-right">
                2019/01/11
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('bu_main_page_1.4', 'organ');">
            <div class="bulletin_list_title">
                各區管理處組織規程
            </div>
            <div class="bulletin_list_date pull-right">
                2019/01/11
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('bu_main_page_1.4', 'organ');">
            <div class="bulletin_list_title">
                各區工程處組織規程
            </div>
            <div class="bulletin_list_date pull-right">
                2019/01/11
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('bu_main_page_1.4', 'organ');">
            <div class="bulletin_list_title">
                營業章程
            </div>
            <div class="bulletin_list_date pull-right">
                2019/01/11
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>
<div class="main_content_page_border">
    <div class="main_content_pageNumber">
        <p>共<span>208</span>筆資料，第<span>2</span>/21頁 
        </p>
    </div>
    <div class="main_content_pagination">
        <a class="pageBtn pageleft"></a>
        <a href="">1</a>
        <a href="" class="active">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="">6</a>
        <a class="pageBtn pagenext" href=""></a>
        <a class="pageBtn pageforward" href=""></a>
    </div>
</div>