 
<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        公司簡介
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">公司簡介</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">公司簡介</span>
                <span class="path_3_angle JQ" style="display:none;">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <p class="main_page_date pull-left">
        刊登日期：2018/03/08
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="main_page_image">
            <!-- 插入總處大樓1040528照片 -->
            <img src="img/front/images/company1.jpg" alt="">
            <span>台灣自來水公司總管理處大樓實景</span>
        </div>
        <div class="main_page_content_subtitle">
            歷史沿革：
        </div>
        <p>
            民國六十一年十二月十六日 故總統經國先生在行政院長任內，於健全都市發展重要措施中指示：「為有效發展各地之公共給水，應即成立全省性之自來水公司，統一經營，同時加速實施全省自來水長期發展計劃，以期集中有限人力與財力，提高投資效益，減低營運費用。」臺灣省政府乃遵於六十二年四月一日成立臺灣省自來水公司籌備處，釐定臺灣省自來水事業實施統一經營及長期發展方案，報奉行政院核准後實施。<br>
            本公司於民國六十三年元旦成立，將臺灣省及高雄市之一百二十八個水廠，分三期併入。重新編組，統一營運制度至民國六十五年三月一日全部合併完成。

        </p>
        <div class="main_page_image">
            <!-- 插入04區-鯉魚潭給水廠02-DJI_0012照片 -->
            <img src="img/front/images/company2.jpg" alt="">
            <span>第四區管理處-鯉魚潭給水廠空拍實景</span>
        </div>
        <div class="main_page_content_subtitle">
            交通資訊：
        </div>
        <div class="main_page_content_subtitle">
            開車：(南下及北上)
        </div>
        <p>
            由國道1號下大雅交流道後直走→接中清路後直走→接大雅路後→至五權路時左轉→至育才北路時右轉→至雙十路時右轉→最後看見電台街時左轉，即到達台灣自來水公司。

        </p>
        <div class="main_page_content_subtitle">
            乘坐大眾運輸
        </div>
        <p>
            公車路線資訊：(時刻路線等詳細公車資訊請洽各客運站)下車站點：台中一中、台灣體育運動大學 台中客運 綠川東站41、142、163(台灣體育運動大學) 統聯客運 81。

        </p>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">台灣自來水公司歷史沿革</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <a href="">台灣自來水公司歷史沿革</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：139002
    </div>
    <div class="main_page_info_update">
        更新時間：2019-02-25 10:41
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>