<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        董事長
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">公司簡介</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">首長及經營團隊</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">董事長</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <p class="org_manager_date">
        發表日期：2019/02/18
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="org_manager_img">
            <img class="" src="img/front/images/president_1.jpg" alt="董事長 魏明谷">
            <span class="org_imgText">董事長 <span class="org_imgName">魏明谷</span> </span>
        </div>
        <div class="organTree_list manager" id="accordion">
            <div class="organTree_item panel">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            經歷簡介
                        </h4>
                    </div>
                </a>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="org_manager_table" valign="top">
                            <tbody>
                                <tr>
                                    <th>
                                        <p>生日</p>
                                    </th>
                                    <td>
                                        <p>52年</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <p>現職</p>
                                    </th>
                                    <td>
                                        <p>台灣自來水股份有限公司董事長</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <p>學歷</p>
                                    </th>
                                    <td>
                                        <p>大葉大學事業經營研究所（碩士）</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <p>經歷</p>
                                    </th>
                                    <td>
                                        <p>彰化縣政府第17屆縣長</p>
                                        <p>立法院第5、6、8屆委員</p>
                                        <p>彰化縣議會第13、14屆議員</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="org_manager_list">
            <h4 class="org_manager_title">
                歷任董事長
            </h4>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/president_3.jpg" alt="董事長 郭俊銘">
                            <span class="org_imgText">郭俊銘</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 96.06~102.06
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/president_2.bmp" alt="董事長 阮剛猛">
                            <span class="org_imgText">阮剛猛</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 94.05~96.06
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="董事長 陳富田">
                            <span class="org_imgText">謝啟男</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 93.09~94.05
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="董事長 陳富田">
                            <span class="org_imgText">張豐</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 93.07~93.09
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="董事長 陳富田">
                            <span class="org_imgText">陳榮藏</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 89.11~93.09
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="董事長 陳富田">
                            <span class="org_imgText">盧清雄</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 87.09~89.11
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="董事長 陳富田">
                            <span class="org_imgText">林茂文</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 81.10~87.09
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="董事長 陳富田">
                            <span class="org_imgText">李錦地</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 78.11~81.10
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="董事長 陳富田">
                            <span class="org_imgText">黃慶四</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 89.11~102.06
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="董事長 陳富田">
                            <span class="org_imgText">黃慶四</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 96.06~102.06
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：144
    </div>
    <div class="main_page_info_update">
        更新時間：2018-12-24 10:21:00
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>