<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        總經理
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">公司簡介</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">首長及經營團隊</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">總經理</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <p class="org_manager_date">
        發表日期：2019/02/18
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="org_manager_img">
            <img class="" src="img/front/images/org_manager_1.jpg" alt="總經理 胡南澤">
            <span class="org_imgText">總經理 <span class="org_imgName">胡南澤</span> </span>
        </div>
        <div class="organTree_list manager" id="accordion">
            <div class="organTree_item panel">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            經歷簡介
                        </h4>
                    </div>
                </a>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="org_manager_table" valign="top">
                            <tbody>
                                <tr>
                                    <th>
                                        <p>生日</p>
                                    </th>
                                    <td>
                                        <p>44年6月12日</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <p>現職</p>
                                    </th>
                                    <td>
                                        <p>台灣自來水股份有限公司總經理</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <p>學歷</p>
                                    </th>
                                    <td>
                                        <p>國立成功大學環境工程學系（碩士）</p>
                                        <p>國立成功大學土木工程學系（學士）</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <p>經歷</p>
                                    </th>
                                    <td>
                                        <p>台灣自來水公司副總經理(95.09~102.06)</p>
                                        <p>台灣自來水公司總工程師(94.01~95.09)</p>
                                        <p>台灣自來水公司第二區處管理處經理(91.09~94.01)</p>
                                        <p>台灣自來水公司工務處經理(90.07~91.10)</p>
                                        <p>台灣自來水公司工務處副理(89.02~90.07)</p>
                                        <p>台灣自來水公司供水處工程師兼組長(85.09~89.02)</p>
                                        <p>台灣自來水公司總管理處組長(84.01~85.09)</p>
                                        <p>台灣自來水公司第六區管理處工程師(83.07~84.01)</p>
                                        <p>台灣自來水公司第十一區管理處課長(79.09~83.07)</p>
                                        <p>台灣自來水公司總管理處工程師(79.09~79.09)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <p>考試</p>
                                    </th>
                                    <td>
                                        <p>74年全國性公務人員高等考試環境工程類科及格</p>
                                        <p>87年臺灣地區省(市)營事業機構人員第十二職等考試環境工程類科及格</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="org_manager_list">
            <h4 class="org_manager_title">
                歷任總經理
            </h4>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_2.jpg" alt="總經理 胡南澤">
                            <span class="org_imgText">陳富田</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 96.06~102.06
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="總經理 胡南澤">
                            <span class="org_imgText">黃慶四</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 94.05~96.06
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="總經理 胡南澤">
                            <span class="org_imgText">謝啟男</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 93.09~94.05
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="總經理 胡南澤">
                            <span class="org_imgText">張豐</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 93.07~93.09
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="總經理 胡南澤">
                            <span class="org_imgText">陳榮藏</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 89.11~93.09
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="總經理 胡南澤">
                            <span class="org_imgText">盧清雄</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 87.09~89.11
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="總經理 胡南澤">
                            <span class="org_imgText">林茂文</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 81.10~87.09
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="總經理 胡南澤">
                            <span class="org_imgText">李錦地</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 78.11~81.10
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="總經理 胡南澤">
                            <span class="org_imgText">黃慶四</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 89.11~102.06
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="org_manager_item" onclick="changeModal('modal_manager_box.html','modal_main');">
                        <div class="org_manager_img sm">
                            <img width="100%" class="" src="img/front/images/org_manager_icon.jpg" alt="總經理 胡南澤">
                            <span class="org_imgText">黃慶四</span>
                        </div>
                        <div class="org_manager_item_text">
                            任期 96.06~102.06
                        </div>
                        <div class="org_maner_item_readmore"></div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：144
    </div>
    <div class="main_page_info_update">
        更新時間：2018-12-24 10:21:00
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>