<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        組織職掌
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">公告資訊</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">組織職掌</span>
                <span class="path_3_angle JQ" style="display:none;">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <!-- <span class="path_3 JQ">路徑三</span> -->
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="organTree">
    <div class="organTree_img">
        <img src="img/front/images/organTree_1.png" alt="" class="img-fluid">
    </div>
    <div class="organTree_list" id="accordion">
        <div class="organTree_item panel">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        總管理處各單位職掌
                    </h4>
                </div>
            </a>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="item_title">
                        檢核室 <span>Auduting Office</span>
                    </div>
                    <div class="item_text">
                        年度各項業務計畫、相關法律、規章、制度與程序執行情形之檢核及上級機關、相關單位查核結果建議改進事項辦理情形之追蹤等事項。
                    </div>
                    <div class="item_title">
                        企劃處 <span>Dept. of Planning</span>
                    </div>
                    <div class="item_text">
                        管理制度、經營計畫、研究發展、管制考核、 法律事務等事項。
                    </div>
                    <div class="item_title">
                        財務處 <span>Dept. of Finance</span>
                    </div>
                    <div class="item_text">
                        財務計畫、財務分析、費率核計、股務管理、資金籌措與償付、資金調度、出納、財產管理、工程用地取得及其他有關財務事項。
                    </div>
                    <div class="item_title">
                        材料處 <span>Dept. of Materials</span>
                    </div>
                    <div class="item_text">
                        機料器材之採購、檢驗及儲運管理之執行督導等事項。
                    </div>
                    <div class="item_title">
                        水質處 <span>Dept. of Water Quality</span>
                    </div>
                    <div class="item_text">
                        水質檢驗、事業廢棄物追蹤管理及水污染防治之策劃、研究、審查、督導、考核等事項。
                    </div>
                </div>
            </div>
        </div>
        <div class="organTree_item panel">
            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse2">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        各區管理處 Branch - 工作職掌
                    </h4>
                </div>
            </a>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="item_title">
                        水質處 <span>Dept. of Water Quality</span>
                    </div>
                    <div class="item_text">
                        水質檢驗、事業廢棄物追蹤管理及水污染防治之策劃、研究、審查、督導、考核等事項。
                    </div>
                </div>
            </div>
        </div>
        <div class="organTree_item panel">
            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse3">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        各區工程處 Region Engineering - 工作職掌
                    </h4>
                </div>
            </a>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="item_title">
                        檢核室 <span>Auduting Office</span>
                    </div>
                    <div class="item_text">
                        年度各項業務計畫、相關法律、規章、制度與程序執行情形之檢核及上級機關、相關單位查核結果建議改進事項辦理情形之追蹤等事項。
                    </div>
                    <div class="item_title">
                        企劃處 <span>Dept. of Planning</span>
                    </div>
                    <div class="item_text">
                        管理制度、經營計畫、研究發展、管制考核、 法律事務等事項。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main_page_other">
    <div class="main_page_other_title">
        檔案下載
        <span class="whitebox"></span>
    </div>
    <div class="clearfix"></div>
    <div class="main_page_other_download">
        <a href="">提高大台中地區供水品質 斥資5.2億元豐原初沈池設備將運轉啟用(1095 KB)</a>
        <a href="">提高大台中地區供水品質 斥資5.2億元豐原初沈池設備將運轉啟用(1095 KB)</a>
        <a href="">提高大台中地區供水品質 斥資5.2億元豐原初沈池設備將運轉啟用(1095 KB)</a>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：144
    </div>
    <div class="main_page_info_update">
        更新時間：2018-12-24 10:21:00
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>