 
<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        首長活動
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">成果績效</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">首長活動</span>
                <span class="path_3_angle JQ" style="display:none;">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <!-- <span class="path_3 JQ">企劃類</span> -->
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        總經理視察屏東縣供水業務現勘來義鄉二峰圳水源
    </div>
    <p class="main_page_date pull-left">
        發表日期：2019/02/18
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="main_page_content_info">
            <p><span>活動時間：</span>108年2月20日</p>
            <p><span>活動地點：</span>屏東縣</p>
            <p><span style="word-spacing: 22px;">說 明：</span>總經理視察屏東縣供水業務現勘來義鄉二峰圳水源</p>
        </div>
        <p>
            總經理視察屏東縣供水業務現勘來義鄉二峰圳水源。總經理視察屏東縣供水業務現勘來義鄉二峰圳水源。總經理視察屏東縣供水業務現勘來義鄉二峰圳水源。總經理視察屏東縣供水業務現勘來義鄉二峰圳水源。
        </p>
        <div class="main_page_image">
            <img src="img/front/images/performance_1.1.jpg" alt="">
            <span>總經理視察屏東縣供水業務現勘來義鄉二峰圳水源</span>
        </div>
        <div class="main_page_image">
            <img src="img/front/images/performance_1.2.jpg" alt="">
            <span>總經理視察屏東縣供水業務現勘來義鄉二峰圳水源</span>
        </div>
        <div class="main_page_image">
            <img src="img/front/images/performance_1.3.jpg" alt="">
            <span>總經理視察屏東縣供水業務現勘來義鄉二峰圳水源</span>
        </div>
        <div class="main_page_image">
            <img src="img/front/images/performance_1.4.jpg" alt="">
            <span>總經理視察屏東縣供水業務現勘來義鄉二峰圳水源</span>
        </div>
        <div class="main_page_image">
            <img src="img/front/images/performance_1.5.jpg" alt="">
            <span>總經理視察屏東縣供水業務現勘來義鄉二峰圳水源</span>
        </div>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">台灣自來水公司108年度提升服務效能執行計畫(PDF)(335 KB)</a>
            <a href="">台灣自來水公司108年度提升服務效能執行計畫(PDF)(335 KB)</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <a href="">台灣自來水公司108年度提升服務效能執行計畫</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：144
    </div>
    <div class="main_page_info_update">
        更新時間：2018-12-24 10:21:00
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>