 
<script>
    // pathCtrl();
</script>
<div class="main_content_header">
        <div class="main_content_title JQ pull-left">
        企劃類
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">成果績效</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">計畫成果</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">企劃類</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        108年度提升服務效能執行計畫
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2019/02/18
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <p>
            壹、計畫依據<br>
            一、行政院106年1月9日院授發社字第1061300008號函頒「政府服務躍升方案」。<br>
            二、經濟部106年3月15日經研字第10604502170號函頒「經濟部提升服務效能實施計畫」。<br>
            三、國家發展委員會107年1月15日發社字第1071300028號函訂定第2屆「政府服務獎」評獎實施計畫。<br>
        </p>
        <p>
            貳、計畫目標<br>
            為掌握內外在環境轉變及民眾對公共服務需求多元化，於既有重視效率、品質及創新之基礎上，導入「公平共享」、「參與合作」及「開放透明」核心精神，持續推動全方位服務，以提升本公司為民服務效能，促使民眾於開放政府、透明治理下，享有專業、便捷及高效率之服務。
        </p>
        <p>
            參、實施對象<br>
            本公司及所屬各區管理處，其中各區處以基礎服務、服務遞送、服務量能、服務評價及開放創新等面向為考核重點。
        </p>
        <p>
            詳細計畫內容詳請點閱下方連結檔案。<br>
        </p>
        <div class="main_page_image">
            <img src="img/front/images/performance_1.jpg" alt="">
            <span>各年度預估銷售、生產、服務目標值表</span>
        </div>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">台灣自來水公司108年度提升服務效能執行計畫(PDF)(335 KB)</a>
            <a href="">台灣自來水公司108年度提升服務效能執行計畫(PDF)(335 KB)</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <a href="">台灣自來水公司108年度提升服務效能執行計畫</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：144
    </div>
    <div class="main_page_info_update">
        更新時間：2018-12-24 10:21:00
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>