 
<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        檢舉窗口
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">政風園地</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">檢舉窗口</span>
                <span class="path_3_angle JQ" style="display:none;">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <!-- <span class="path_3 JQ">廉政法規</span> -->
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        檢舉窗口
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2018/03/08
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="main_page_content_subtitle">
            本公司廉政電話
        </div>
        <p>
            「端正政風，檢肅不法」為本公司推動業務革新，促進廉能政治、維護機關安全之任務，為達成本項工作目標，有賴您的不吝賜教，如有本公司政風興革意見或檢舉不法，請利用下列通訊設備與本公司聯繫：
        </p>
        <div class="main_page_image">
            <!-- 插入002照片 -->
            <img src="img/front/images/political_2.jpg" alt="">
            <span>本公司廉政電話</span>
        </div>
        <div class="main_page_content_subtitle">
            【法務部廉政署受理檢舉方式─多元管道熱忱服務】
        </div>
        <p>
            受理檢舉電話：0800-286-586（你爆料我爆料）<br>
            檢舉信箱：台北郵政14-153號信箱<br>
            傳真檢舉專線：（02）23811234<br>
            電子郵件檢舉信箱：gechief-p@mail.moj.gov.tw<br>
            檢舉中心地址：：10048臺北市中正區博愛路166號
        </p>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/Tp10_-rDaro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">全國法規資料庫</a>
            <a href="">全國法規資料庫</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <a href="">全國法規資料庫</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：725
    </div>
    <div class="main_page_info_update">
        更新時間：2018-03-08 16:33
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>