 
<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        利益衝突迴避
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">政風園地</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">陽光法案專區</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">利益衝突迴避</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        107年利益衝突迴避法宣導案例
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2018/03/08
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="main_page_content_subtitle">
            宣導案例一：單位主管於其配偶約僱期間屆滿之際，於簽呈上加註准予續聘之文字
        </div>
        <p>
            A於103起擔任某鄉公所課長，其配偶B係本法第3條之關係人，103年間經進用為鄉公所短期進用人員。
            詎A於配偶103年短期進用人員之僱用契約期滿之際，經承辦人以B主辦業務卓有績效為由簽辦續僱時，A以承辦單位課長身分核章，經呈機關首長同意續僱為短期進用人員…………..，各酌減至法定罰鍰最低額之三分之一，併處罰鍰70萬元

        </p>
        <div class="main_page_image">
            <!-- 插入001照片 -->
            <img src="img/front/images/political_1.jpg" alt="">
            <span>各年度預估銷售、生產、服務目標值表</span>
        </div>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">107年利益衝突迴避法宣導案例</a>
            <a href="">107年利益衝突迴避法宣導案例</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <a href="">107年利益衝突迴避法宣導案例</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：66
    </div>
    <div class="main_page_info_update">
        更新時間：2018-12-24 10:21:00
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>