 
<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        廉政法規
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">政風園地</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">法令宣導專區</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">廉政法規</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
       國家機密保護法（連結至法務部全國法規資料庫）
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2018/03/08
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="main_page_content_subtitle">
            連結至法務部全國法規資料庫：
        </div>
        <p>
        <a href="http://law.moj.gov.tw/Law/LawSearchResult.aspx?p=Z&k1=%e5%9c%8b%e5%ae%b6%e6%a9%9f%e5%af%86%e4%bf%9d%e8%ad%b7%e6%b3%95&t=B1B2B3B4A1A2C1C2D1D2&fei=0&TPage=1">
        法務部全國法規資料庫
        </a>
        </p>
        
        <div class="main_page_image">
            <!-- 插入002照片 -->
            <img src="img/front/images/political_1.jpg" alt="">
            <span>全國法規資料庫</span>
        </div>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/Tp10_-rDaro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">全國法規資料庫</a>
            <a href="">全國法規資料庫</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <a href="">全國法規資料庫</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：725
    </div>
    <div class="main_page_info_update">
        更新時間：2018-03-08 16:33
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>