 
<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        廉政宣導
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">政風園地</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">法令宣導專區</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">廉政宣導</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
       「企業誠信治理暨反貪腐、反洗錢」宣導短片
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2019/01/18
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <p>
            為彰顯我國公、私部門齊心協力反貪腐、反洗錢之決心，提升我國於107年亞太洗錢防制組織(APG)第三輪相互評鑑成效，結合法務部、財政部、金融監督管理委員會、調查局、廉政署及臺灣銀行等首長，共同拍攝宣導短片，呼籲社會各界一起加入反貪腐及反洗錢行列，讓世界看見臺灣的努力。<br>
        </p>
        <p>
            旨揭影片置放於法務部廉政署官網之下載專區/宣導資料/影音下載處，請踴躍瀏覽觀看並下載運用。
        </p>
        <a href="https://www.aac.moj.gov.tw/ct.asp?xItem=536954&ctNode=36887&mp=289">https://www.aac.moj.gov.tw/ct.asp?xItem=536954&ctNode=36887&mp=289</a>
        <a href="https://www.youtube.com/watch?v=Tp10_-rDaro">https://www.youtube.com/watch?v=Tp10_-rDaro</a>          
        
        <div class="main_page_image">
            <!-- 插入001照片 -->
            <img src="img/front/images/political_1.jpg" alt="">
            <span>各年度預估銷售、生產、服務目標值表</span>
        </div>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/Tp10_-rDaro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">「企業誠信治理暨反貪腐、反洗錢」宣導短片</a>
            <a href="">「企業誠信治理暨反貪腐、反洗錢」宣導短片</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <a href="">「企業誠信治理暨反貪腐、反洗錢」宣導短片</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：66
    </div>
    <div class="main_page_info_update">
        更新時間：2018-12-24 10:21:00
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>