 
<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        廉政倫理規範
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">政風園地</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">陽光法案專區</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">廉政倫理規範</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        台灣自來水股份有限公司呼籲各界支持「不送禮、不邀宴」，<br>
        共創廉潔台灣
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2016/12/14
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <p>
            為改善社會風氣，倡導不送禮、不收禮之習俗，行政院特訂定「公務員廉政倫理規範」，經濟部亦訂有「經濟部所屬員工廉政倫理規範」，依前開規定，本公司員工如遇有職務上利害關係之個人、法人、團體餽贈財物或邀宴，原則應予拒絕，並落實知會登錄程序。<br>
            本公司極為重視員工之廉潔、服務效率、便民措施，特籲請社會各界、各廠家、商號與本公司同仁恪遵上述規定，共同支持維護廉潔風氣。
        </p>
        <div class="main_page_image">
            <!-- 插入001照片 -->
            <img src="img/front/images/political_1.jpg" alt="">
            <span>各年度預估銷售、生產、服務目標值表</span>
        </div>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">經濟部所屬員工廉政倫理規範</a>
            <a href="">台水員工與廠商互動準則</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <a href="">經濟部所屬員工廉政倫理規範</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：66
    </div>
    <div class="main_page_info_update">
        更新時間：2018-12-24 10:21:00
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>