<!-- content start -->
<div class="receipt_content">
    <div class="receipt_form">
        <div class="col-md-6">
            <h2 class="receipt_content_title" style="line-height: 1px;">實施方案</h2>
            <div class="receipt_form_row">
                <p style="line-height: 2;">本公司為配合財政部104年3月9日修正發布統一發票使用辦法第4條第14款，刪除公用事業經營本業部分得免開統一發票之規定及節能減碳，自收費月105年1月起之水費通知單(或繳費憑證)，將依規定印製「載具類別編號及載具號碼(含條碼)」寄交用戶，用戶繳費入帳後開立雲端發票(無實體電子發票)並傳輸至財政部電子發票整合服務平台(簡稱大平台)，用戶得依繳費後之水費通知單(或繳費憑證)至本公司網站雲端發票專區輸入水單上「載具號碼」查看所繳交水費之發票號碼相關資訊。每單月25日統一發票開獎後，本公司將依財政部提供之中獎清冊，主動通知用戶中獎訊息。詳細內容請參閱「財政部各地區國稅局推動公用事業導入電子發票實施方案 」。<br>水單上之變動性載具號碼，係查詢雲端發票號碼之唯一識別碼，敬請妥善保存。<br>載具號碼範例如下：</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="receipt_img hidden-sm hidden-xs"><img src="img/receipt_img.png" alt=""></div>
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-12">
            <div class="receipt_img_plan">
                <img src="img/plan_1.jpg" alt="載具號碼範例一">
                <p class="receipt_img_plan_info">載具號碼範例一</p>
            </div>
            <div class="receipt_img_plan">
                <img src="img/plan_2.png" alt="載具號碼範例二">
                <p class="receipt_img_plan_info">載具號碼範例二</p>
            </div>
        </div>
    </div>
</div>
<!-- content end -->