<!-- content start -->
<div class="receipt_content">
    <div class="receipt_form">
        <div class="col-md-6 pull-right">
            <div class="receipt_img hidden-sm hidden-xs"><img src="img/receipt_img.png" alt=""></div>
            <div class="clearfix"></div>
        </div>
        <h2 class="receipt_content_title">常見問答</h2>
        <label for="select">請選擇問題類別</label>
        <select name="" id="select">
            <option value="a">A-基本篇</option>
            <option value="b">B-用戶水籍資料篇</option>
            <option value="c">C-電子帳單篇</option>
            <option value="d">D-電子發票字軌號碼查詢篇</option>
            <option value="e">E-發票中獎通知、兌領獎篇</option>
            <option value="f">公用事業開立電子發票 Q＆A</option>
        </select>
        <h3 class="receipt_info receipt_JQ faq_a">A-基本篇</h3>
        <h3 class="receipt_info receipt_JQ faq_b">B-用戶水籍資料篇</h3>
        <h3 class="receipt_info receipt_JQ faq_c">C-電子帳單篇</h3>
        <h3 class="receipt_info receipt_JQ faq_d">D-電子發票字軌號碼查詢篇</h3>
        <h3 class="receipt_info receipt_JQ faq_e">E-發票中獎通知、兌領獎篇</h3>
        <h3 class="receipt_info receipt_JQ faq_f">公用事業開立電子發票 Q＆A</h3>
        <div class="receipt_toggle_block receipt_JQ faq_a">
            <div class="receipt_faq_title"><span class="title_main">A-01.為什麼水費要改開立電子發票？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">為因應財政部修正統一發票使用辦法第4條第14款，刪除公用事業經營本業部分得免開統一發票之規定。(財政部104年3月9日台財稅字第10404525110號令發布)為節能減碳，配合財政部推動發票無紙化，水、電、瓦斯及電信等公用事業，爰遵循財政部訂定之各地區國稅局推動公用事業導入電子發票實施方案開立電子發票。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_a">
            <div class="receipt_faq_title"><span class="title_main">A-02.水費改開立電子發票還會寄繳費通知單及收據給用戶？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">為使用戶瞭解當期水費計費明細，本公司寄發用戶之水費通知單(或委託轉帳代繳水費繳費憑證)作業仍維持不變， 但收費月105年1月起之水費通知單(或繳費憑證)將依據財政部規定加印一組「載具號碼」，以方便用戶繳費後查詢本公司電子發票開立情形， 及統一發票開獎後，中獎用戶至本公司委託之四大超商列印中獎電子發票證明聯之識別碼，為維持兌獎之唯一性，遺失恕不補發， 繳費後請妥善保存，以維護您兌獎權益。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_a">
            <div class="receipt_faq_title"><span class="title_main">A-03.為什麼水費通知單(或委託轉帳代繳水費繳費憑證)上印製一組號碼(含條碼)?</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">本公司自收費月105年1月起之水費通知單(或繳費憑證)將配合開立無實體電子發票，為方便用戶繳費後查詢本公司電子發票開立情形， 及統一發票開獎後，中獎用戶至本公司委託之超商列印中獎電子發票證明聯之識別碼， 故依據財政部規定於水費通知單(或繳費憑證)上印製一組「載具號碼」作為辨識，為維持兌獎之唯一性，遺失恕不補發，繳費後請妥善保存， 以維護您兌獎權益。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_a">
            <div class="receipt_faq_title"><span class="title_main">A-04.為何不列印電子發票證明聯寄交用戶？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">為節能減碳，財政部特訂定各地區國稅局推動公用事業導入電子發票實施方案，並以公用事業全面開立無實體電子發票為目標。 考量公用事業無法一手交錢一手交發票(代收、代繳用戶超過9成)及郵寄電子發票證明聯遺失風險高(補列印之電子發票證明聯無法兌獎) 等特性，財政部爰規定公用事業如於次一期繳費通知單或當期已繳費憑證，載明前一期或當期所開立電子發票字軌號碼者， 僅須於用戶中獎時，提供中獎電子發票證明聯。(財政部104年11月6日台財稅字第10400688040號解釋函)。 本公司遵循上述解釋函規定辦理，用戶如至本公司各營運服務所臨櫃繳費者於當期已繳費憑證列載所開立電子發票字軌號碼， 如至與本公司簽約之代收(或代繳)單位繳費者則於次一期繳費通知單載明前一期所開立電子發票字軌號碼。 每單月25日統一發票開獎後，本公司將依據財政部電子發票整合服務平台所提供中獎清冊，主動寄發中獎通知 （包括電子帳單不寄送紙本單據者），並委託四大超商提供中獎用戶列印中獎電子發票證明聯服務，故不須列印電子發票證明聯寄交用戶。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_a">
            <div class="receipt_faq_title"><span class="title_main">A-05.水費通知單(或繳費憑證)上印製之「載具號碼」共幾位？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">本公司依據財政部訂定各地區國稅局推動公用事業導入電子發票實施方案規定之公用事業載具號碼編碼規則，自行訂定載具號碼格式說明如下：<br>
                載具類別編號(6位)：本公司代碼為EE0001。 載具號碼(23位)：年期別(5位)+載具流水號(10位)+檢核碼(8位)。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_a">
            <div class="receipt_faq_title"><span class="title_main">A-06.用戶可以共通性載具或愛心碼索取電子發票或捐贈發票？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">為方便用戶以共通性載具或愛心碼索取電子發票或捐贈發票，本公司提供當期電子發票一次性歸戶服務：<br>
                至本公司各服務營運所臨櫃繳費者：繳費時，請告知櫃檯收費人員所持共通性載具號碼或愛心碼， 並請於離開櫃檯前確實核對繳費憑證上印製之共通性載具號碼或愛心碼是否正確，以免影響日後發票兌領獎權益。 至與本公司簽約之代收(或代繳)單位繳費者：請於繳費後第4天(不含例假日)或最遲至該期統一發票開獎前， 逕至本公司網站「電子發票專區」選擇「發票歸戶」服務，輸入水費通知單(或繳費憑證)上印製之載具號碼辦理該期電子發票一次性歸戶。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_a">
            <div class="receipt_faq_title"><span class="title_main">A-07.用戶於105 年1 月以後繳費，為什麼繳費單沒有載具號碼？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">依據財政部訂定各地區國稅局推動公用事業導入電子發票實施方案規定， 公用事業產製帳單抬頭為105年1月後之繳費通知單或已繳費憑證應印製載具號碼(含條碼)， 以方便用戶繳費以該載具號碼查詢公用事業電子發票開立情形。如您繳納是104年12月(含)以前的水費，繳費後仍開立收據， 故不會列印載具號碼。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_a">
            <div class="receipt_faq_title"><span class="title_main">A-08.用戶如分持兩張同一期水費通知單至不同代收單位繳費，會開立幾張電子發票字軌號碼？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">用戶如分持兩張同一期水費通知單至不同代收單位繳費(如7-11、全家)，本公司會開立兩張電子發票字軌號碼。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_b">
            <div class="receipt_faq_title"><span class="title_main">B-01.水費通知單(或繳費憑證)上登記戶名與實際用水人不同，應如何處理？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">請用戶務必填寫 「台灣自來水股份有限公司用戶用水設備各種異動服務申請書」 以傳真、郵寄或親洽本公司、台電、 臺北自來水事業處等各地服務據點辦理名義變更手續，亦可利用本公司網路 (http://www.water.gov.tw) 線上申辦， 以利後續發票申報營業稅或兌領獎作業，申辦時如已過開單日仍為原用戶名稱，須俟下期水費單用戶名稱始更名。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_b">
            <div class="receipt_faq_title"><span class="title_main">B-02.實際用水人為非營業用戶，但水單登記的戶名、統一編號都是建設公司的，會影響中獎發票兌領獎？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">依據「統一發票給獎辦法」第11條規定，營業用戶(有統編)是無法兌獎，非營業用戶如水費單上有列載用戶統一編號者是無法兌獎， 請務必填寫水費通知單(或繳費憑證)背面「過戶申請書」以傳真、郵寄或親洽本公司、台電、 臺北自來水事業處等各地服務據點辦理名義變更或取消用戶統一編號手續，亦可利用本公司網路 (http://www.water.gov.tw) 線上申辦， 以利後續發票兌領獎作業，申辦時如已過開單日仍為原用戶名稱，須俟下期水費單用戶名稱始更名或取消用戶統一編號。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_b">
            <div class="receipt_faq_title"><span class="title_main">B-03.水費通知單(或繳費憑證)上戶名為非營業用戶，但有列載用戶統一編號，會影響中獎發票兌領獎？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">水費通知單(或繳費憑證)上戶名為非營業用戶，但有列載用戶統一編號，繳款後如發票中獎，亦無法接獲中獎通知， 請務必填寫水費通知單(或繳費憑證)背面「過戶申請書」以傳真、郵寄或親洽本公司、台電、 臺北自來水事業處等各地服務據點辦理取消用戶統一編號手續，亦可利用本公司網路 (http://www.water.gov.tw) 線上申辦， 以利後續發票兌領獎作業，申辦時如已</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_c">
            <div class="receipt_faq_title"><span class="title_main">C-01.同一水號可由幾個會員帳號申請訂閱電子帳單？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">因應財政部訂定之各地區國稅局推動公用事業導入電子發票實施方案，同一公用事業同一期繳費通知單之載具號碼不得重複給號之規定， 本公司自104年9月1日起，取消同一水號最多可由兩個會員帳號申請訂閱之模式，改為一筆水號僅可由一個會員帳號申請。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_c">
            <div class="receipt_faq_title"><span class="title_main">C-02.既有訂閱電子帳單會員帳號都會發送附有載具號碼之水費通知或已繳費憑證？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">收費月105年１月起本公司僅對最後一個申請電子帳單不印寄紙本之會員email信箱(不含其備用信箱)發送有載具號碼之水費通知單 或委託轉帳代繳水費繳費憑證。 前申請電子帳單之會員(含前後會員之備用信箱)，則發送不含載具號碼之水費通知單或委託轉帳代繳水費繳費憑證供參。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_c">
            <div class="receipt_faq_title"><span class="title_main">C-03.用戶申請過戶，如該水號前已有會員帳號申請電子帳單，會自動取消？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">用戶辦理過戶時，本公司受理人員會查對該水號是否有申請電子帳單，並依用戶需求辦理前用戶取消電子帳單及宣導新用戶申請電子帳單， 以確保新用戶可以收到帳單，同時避免後續發票兌獎爭議。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_d">
            <div class="receipt_faq_title"><span class="title_main">D-01.用戶繳費後如何查詢電子發票相關資訊?</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">用戶繳費後，可憑水費通知單(或繳費憑證)上印製之載具號碼，至本公司網站(http://www.water.gov.tw)「電子發票專區」 輸入載具號碼查詢或電洽24小時客服專線(191０)提供載具號碼請客服人員協助查詢。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_d">
            <div class="receipt_faq_title"><span class="title_main">D-02.非營業用戶如何查詢載具號碼?</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">載具號碼為查詢發票相關資訊及列印中獎電子發票證明聯領獎之唯一憑據，為免冒領或重複領獎等情形發生， 非營業用戶之載具號碼無法透過任何管道查詢，為維護您兌獎權益，繳費後請用戶妥善保存繳費憑證。 建議用戶以共通性載具(手機條碼、自然人憑證條碼)索取電子發票，以減少已繳費憑證遺失而無法領獎之風險。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_e">
            <div class="receipt_faq_title"><span class="title_main">E-01.用戶如何知道發票是否中獎?</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">每單月25日統一發票開獎後，除使用共通性載具索取電子發票或已捐贈電子發票之用戶外， 本公司將依據財政部電子發票整合服務平台所提供中獎清冊，主動寄發中獎通知（包括電子帳單不寄送紙本單據者）。<br>用戶亦可至本公司網站(http://www.water.gov.tw)「電子發票專區」輸入載具號碼查詢或電洽24小時客服專線(1910) 提供載具號碼請客服人員協助查詢發票相關資訊。<br>以共通性載具索取電子發票或已捐贈電子發票之中獎人，由財政部主動通知中獎資訊。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_e">
            <div class="receipt_faq_title"><span class="title_main">E-02.用戶收到本公司寄發中獎通知單(或自行查詢發票號碼兌獎中獎者)，如何領獎?</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">如用戶對中統一發票，得持中獎當期之水費繳費憑證填妥領獎聯於領獎期限內至郵局兌領獎金， 或至四大超商(統一、全家、萊爾富、OK) (例如：ibon、FarmiPort、Life-ET及OK‧go)所設置之多媒體機， 輸入載具類別編號(6位)：本公司代碼為EE0001或操作畫面直接點選本公司名稱，輸入載具號碼【年期別(5位)、 載具流水號(10位)及檢核碼(8位)】，列印中獎電子發票證明聯持憑向獎金代發單位(現為郵局)兌領獎金。<br>繳費後，載具號碼(含條碼)是兌領發票獎金唯一識別碼，為維護您的兌領獎權益，請妥善保存。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_e">
            <div class="receipt_faq_title"><span class="title_main">E-03.中獎用戶如不會操作超商多媒體機？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">本公司已委託四大超商提供本公司中獎用戶列印中獎電子發票證明聯服務，中獎用戶如不會操作超商多媒體機， 可請超商服務人員協助操作列印中獎電子發票證明聯。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_e">
            <div class="receipt_faq_title"><span class="title_main">E-04.用戶至四大超商列印中獎電子發票證明聯時，如多媒體機發生卡紙問題應如何處理？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">用戶須當下立即向店員反應。<br>店員將通報內部人員處理。<br>由於中獎發票僅可列印1次，為避免發生重複領獎情形，卡紙狀況處理需由財政部系統端處理，需1至2日之處理時間。<br>處理完成後，超商將通知用戶再次進行列印。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_e">
            <div class="receipt_faq_title"><span class="title_main">E-05.中獎用戶為何只能至超商列印中獎電子發票證明聯？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">為避免重複列印中獎電子發票證明聯，財政部規定公用事業應擇一種作業方式列印中獎電子發票證明聯， 為提供用戶24小時且服務據點多之便捷服務，本公司委託四大超商（統一、全家、萊爾富及OK） 提供中獎用戶於超商之多媒體機(KIOSK)列印中獎電子發票證明聯服務。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_e">
            <div class="receipt_faq_title"><span class="title_main">E-06.繳款人與水單上登記戶名不同時，誰有資格領獎?</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">公用事業用戶未以電子發票證明聯兌獎者，以持有公用事業掣發載有載具識別資訊之兌獎聯者為中獎人。 故用戶繳費後，請妥善保存印製有載具號碼(含條碼)之水費通知單或已繳費憑證，以維護兌領獎權益。 (依據105.12.15財政部修訂之統一發票給獎辦法)</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_e">
            <div class="receipt_faq_title"><span class="title_main">E-07. 那些情形發票不能兌獎？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">如有統一發票給獎辦法第11條規定之不適用給獎規定情形之一者，無法兌獎。例如：<br>水費單據上戶名為政府機關、公營事業、公立學校、部隊及營業用戶者。 水費單據上應(免)稅項目無金額、或金額載明為零或負數者。 依各種法律營業稅稅率為零者。 發票已註明作廢者。 其他有該給獎辦法第11條規定之不適用給獎規定情形者。<br>非營業用戶因不動產買賣或租賃辦理過戶時，未一併取消用戶統一編號者， 致目前繳費通知單(或繳費憑證)仍列載用戶統一編號(單獨列示營業稅)者，請務必填寫水費通知單(或繳費憑證)背面 「過戶申請書」以傳真、郵寄或親洽本公司、台電、臺北自來水事業處等各地服務據點辦理名義變更或取消用戶統一編號手續， 亦可利用本公司網路 (http://www.water.gov.tw) 線上申辦，以免影響日後發票兌獎權益，申辦時如已過開單日仍為原用戶名稱， 須俟下期水費單用戶名稱始更名或取消用戶統一編號。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_e">
            <div class="receipt_faq_title"><span class="title_main">E-08. 代繳戶發票中獎時如何領獎？</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content">水費設定從金融或郵政機構存款帳戶(不含信用卡)自動扣款繳費者，成功扣繳水費後， 該張發票若對中發票小額(2,000元(含)以下)獎金，獎金將直接匯入原扣款帳戶，免再自行領獎。 其餘獎項仍由用戶自行持已繳費憑證向郵局兌領獎金，或至四大超商利用多媒體機(ibon、FarmiPort、Life-ET及OK‧go)， 點選中獎發票查詢，輸入相關資訊，列印中獎電子發票證明聯，持憑向獎金代發單位(現為郵局)兌領獎金。</div>
        </div>
        <div class="receipt_toggle_block receipt_JQ faq_f open">
            <div class="receipt_faq_title"><span class="title_main">公用事業開立電子發票Q＆A</span><i class="fa fa-chevron-circle-down fa-lg pull-right"></i></div>
            <div class="receipt_faq_content"><a href="download/receipt_QA.pdf" target="_blank">公用事業開立電子發票Q＆A</a></div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
  $(".receipt_JQ").hide();
    $(".faq_a").show();
});

$("#select").change(function() {
    var str = "";
    $("#select option:selected").each(function() {
        str += $(this).val() + "";
    });
    $(".receipt_JQ").hide(500);
    $(".faq_" + str).show(500);
});

$('.receipt_toggle_block').on('click', '.receipt_faq_title', function() {
    console.log($(this).parents('.receipt_toggle_block'));
    $(this).parents('.receipt_toggle_block').toggleClass('open');
});
</script>
<!-- content end -->