<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        經營者承諾
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">企業社會責任</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">經營者承諾</span>
                <span class="path_3_angle JQ" style="display:none;">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <!-- <span class="path_3 JQ">路徑三</span> -->
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <p class="main_page_date pull-left">
        發表日期：2019/01/11
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <p>
            回顧2017年4月份以前六個月，全國幾乎是無雨狀態，各縣市陷入70年來雨量第二低的枯旱衝擊，供水調配得宜，始能度過缺水危機；7月底中颱尼莎來襲，於颱風豪雨期原水濁度飆破紀錄，淨水極度困難，卻創下全國零停水的紀錄。2017年於漏水率與成本控制創下新低紀錄，而售水量及盈餘創下歷史新高，締造「一零、二低、二高」的亮麗成績！這是台水全體同仁胼手胝足、竭智盡心，共同努力的成果。台水在經營管理面刻正蛻變中，諸多政策任務仍需持續推動，例如辦理各項自來水工程計畫、降低漏水率、提升供水普及率等。特別的是，面對日益迫切的缺水危機、人力斷層、財務窘境等難題，台水將積極推動六大重點工作如下：
        </p>
        <div class="main_page_content_subtitle">
            一、推動「前瞻基礎建設計畫」
        </div>
        <p>
            為打造未來30年國家發展需要的基礎建設，政府積極推動「前瞻基礎建設計畫」。為營造不缺水、喝好水、不淹水及親近優質的水環境，「水環境建設」為施政重心之一，涵括三大主軸：「水與安全」、「水與環境」，以及側重穩定供水之「水與發展」。台水主要參與「水與發展」項下之(一)防災及備援水井建置(二)伏流水開發工程(三)離島地區供水改善計畫第2期(四)無自來水地區供水改善計畫第三期(五)推廣水資源智慧管理系統及節水技術等5項計畫，計編列特別預算8年111.30億元。為因應極端氣候的衝擊，台水當積極配合政府政策，落實推動前揭各項工程。
        </p>
        <div class="main_page_content_subtitle">
            二、策進新南向政策
        </div>
        <p>俊銘近一年來多次到東南亞國家拜會、參訪，發現這些國家很多缺水的關鍵並非缺乏水源，而在於水處理技術落後，沒有能力淨化水資源，整體水處理技術落後台灣30、40年，從中看見巨大的商機。為配合新南向政策，拓展新南向市場，台水於2017年9月邀集台灣自來水產業上下游業者，共同組成「台灣水資源A-Team」，將以台灣水資源國家隊進軍新南向市場。目前，台水扮演領頭羊，已接觸、洽訪印度、印尼、菲律賓、越南等東南亞國家，除前往拜會、交流，行銷台灣水處理核心能力，亦邀請政府官員、自來水廠家來台參訪我國自來水設施，並積極整合、協助台灣水資源A-Team廠商取得國際標案。</p>
        <div class="main_page_content_subtitle">
            三、成立轉投資公司
        </div>
        <p>未來五年內，台水屆齡退休人數逾1,400人，人力增補不易，恐造成人力不足與技術斷層。為解決前揭人力問題，並深化漏水偵測、防治技術，達成2031年漏水率降至10%之目標，台水積極研議成立轉投資事業，延攬資優退休人員傳承技術與經驗，將有效舒緩人力問題，並降低供水風險。預計於2019年成立轉投資公司「台灣水務工程技術股份有限公司」，將成為公司成立以來第一個轉投資公司，短期著重技術經驗傳承、累積工程實績，立穩國內市場根基，中長期則配合新南向政策拓展海外市場。</p>
        <div class="main_page_content_subtitle">
            四、開發智慧水網大數據分析系統
        </div>
        <p>以色列四年多前開發出全世界第一個透過大數據抓漏水的技術。台水2016年於澎湖、宜蘭地區，曾試辦以色列Takadu智慧水網軟體。不過，該軟體費用昂貴，因此俊銘責成公司內部具資訊技術和偵漏專業的同仁成立大數據小組團隊，自行研發智慧水網大數據分析系統(WADA)，結合水網自動監控系統(SCADA)，建立台水公司智慧水網。初期以偵測分區計量管網(DMA)漏水為主，陸續將開發最佳供水、節約能源等功能。
            經過一年努力，完成國人自建的技術，目前這套系統已經在台灣幾個縣市測試，抓漏能力已接近國外軟體公司，系統功能已達國際水準！2018年我們把這技術報名參加第一屆總統盃黑客松大賽，經過三個月的競賽評比，最後從一百多隊脫穎而出，得到總統盃黑客松前五名，值得欣慰！更獲政委推薦本公司大數據團隊前往紐西蘭，代表台灣參加國際競賽。未來將持續演進，以提升台水管網管理績效，甚至技術輸出其他國家自來水事業。</p>
        <div class="main_page_content_subtitle">
            五、精進災害應變機制
        </div>
        <p>台灣位處環太平洋地震帶上，地震頻繁且常有颱風過境，強風豪雨成災。本公司各區管理處依供水轄區特性，每年持續修訂緊急應變計畫。特別是，今(2018)年2月6日花蓮發生規模6.0強震，造成市區大樓坍塌及道路龜裂，自來水管線脫落、破裂九百多處，本公司動員各區處檢漏人員及各地區之修漏廠商，24小時投入救災、搶修，在短短7天之內，就把九百多處脫落、破裂的管線修好，讓日本友人驚嘆不已。本公司當借鏡0206花蓮強震救災經驗，檢討災害應變機制，納入消防局、民間企業(如：台積電)之供水強化功能，並建立對口單位及聯繫管道。</p>
        <div class="main_page_content_subtitle">
            六、推動水價合理化
        </div>
        <p>
            台灣水價自1994年至今未曾調整過，平均每度水只要9.24元。根據IWA於2016年調查，台灣水價僅高於肯亞及模里西斯。由於自來水水價長期低廉，導致台水無力全面汰換舊漏管線，漏水問題無法一鼓作氣解決，何況為穩定供水辦理的各項擴建或汰換工程，因自有資金不足而需舉債經營，財務狀況日益窘困。為水資源永續發展，水價合理化是重要的課題，未來水價調整，將以不影響民生用水為原則，規劃增加用水級距，將原來只有4級的水價級距增加至6級，並不影響每期用水量40度以下的一般民生用水。自來水是社會進步、經濟發展之重要元素之一。過去一年來，感謝台水員工努力與社會大眾支持，使台水業務得以順利推動。未來，台水公司將繼續加強建設與管理，對內滿足國內民生與產業用水之需求，對外積極拓展國際水務商機。
        </p>
        <div class="main_page_image">
            <img src="img/front/images/cultural_2.jpg" alt="">
            <span>新竹水道-取水口唧筒井</span>
        </div>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">提高大台中地區供水品質 斥資5.2億元豐原初沈池設備將運轉啟用(1095 KB)</a>
            <a href="">提高大台中地區供水品質 斥資5.2億元豐原初沈池設備將運轉啟用(1095 KB)</a>
            <a href="">提高大台中地區供水品質 斥資5.2億元豐原初沈池設備將運轉啟用(1095 KB)</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <a href="">停水公告查詢系統網站</a>
            <a href="">停水公告查詢系統網站</a>
            <a href="">停水公告查詢系統網站</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：144
    </div>
    <div class="main_page_info_update">
        更新時間：2018-12-24 10:21:00
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>