<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        資源永續 守護環境
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">公告資訊</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">資源永續 守護環境</span>
                <span class="path_3_angle JQ" style="display:none;">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <!-- <span class="path_3 JQ">路徑三</span> -->
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <p class="main_page_date pull-left">
        發表日期：2019/01/11
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="main_page_content_subtitle">
            能源用量及管理
        </div>
        <p>
            台水使用之能源主要以外購電力為主，為有效控管用動力費支出，業已函頒「節約動力費用作業要點」，除檢視動力費各相關因子外，並每月定期納入「如何增加營收，降低營運成本，提高經營績效」小組會議檢討，且持續要求各區處及各廠所每月定期依台水「節約動力費作業要點」規定十三項節約供水場站動力費具體措施召開會議檢討(諸如改善選用適當電動機及抽水機、落實用電設備保養與維護、調整供水模式等措施)，以有效管控動力費支出。經統計2017年電力使用為9.364億度，較2016年增加3.26%；2017年用電強度為0.2920
            kWh/m3，較2016年增加1.67%，係因配合板新供水管線工程，增設光復、清水、板南及錦新等數站大型加壓站；新設湖山、潮新及曾文等淨水廠加入營運；偏鄉地區埋設無自來水管線，增設加壓站等所致。
        </p>
        <p>
            另，台水為配合政府再生能源推動政策-太陽光電推動二年計畫，選定6處淨水場或加壓站的清配水池頂上的空間辦理設置太陽光電發電設備，初估總建置容量9,615
            Kwp，預計年發電量約1,119萬度，年減少CO2排放量約5,923公噸，相當於598公頃造林效益，亦即相當於23座大安森林公園年CO2吸收量，相當於3,080戶家庭一年使用電量，本案預定於2018年度前可全數設置完成並加入台電併聯發電。
        </p>
        <div class="main_page_image">
            <img src="img/front/images/resource_1.jpg" alt="">
            <span>台水歷年能源與溫室氣體統計</span>
        </div>
        <div class="main_page_content_subtitle">
            營用據點用水與強度
        </div>
        <p>
            2017年台水辦公場所用水度數261,265度，較2016年下降8.63%。台水所屬各營運(服務)所用水量與強度如下表，台水以身作則推行節約用水，2017年用水強度較2016年度降低5.5%。
        </p>
        <div class="main_page_image">
            <img src="img/front/images/resource_2.jpg" alt="">
            <span>台灣自來水股份有限公司董事會</span>
        </div>
        <div class="main_page_content_subtitle">
            環境管理實務與國際標準規範
        </div>
        <p>
            為達成永續經營，於2006年開始引進ISO環境管理系統(EMS)，冀期結合自來水廠之環境管理實務與國際標準規範(ISO
            14001驗證標準)接軌，逐步實踐企業對環保之社會責任，並訂定環境政策「符合環保法規、著重污染防治、落實資源利用、全員一同參與、促進社區和諧、持續提升改善」，作為環境管理系統推動的最高指導原則。台水針對每日出水量10萬噸以上大型廠持續推動ISO
            14001驗證，2017年共計21廠(場)通過環境管理系統驗證。 </p>
        <div class="main_page_image">
            <img src="img/front/images/resource_3.jpg" alt="">
            <span>台灣自來水股份有限公司董事會</span>
        </div>
        <p>台水訂有「台灣自來水股份有限公司開發計畫環境影響評估管理要點」進行自我追蹤及輔導，緊密管理各已通過環境影響評估之開發計畫確實依照環境影響評估相關法規、環境影響評估書件內容、審查結論及承諾事項執行。2017年針對全部已通過環評案件辦理13場次之現地追蹤及輔導，各案確已遵守環境保護相關規定，並展現環保執行力及貫徹環境保護的決心，以善盡台水之企業社會責任。</p>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">提高大台中地區供水品質 斥資5.2億元豐原初沈池設備將運轉啟用(1095 KB)</a>
            <a href="">提高大台中地區供水品質 斥資5.2億元豐原初沈池設備將運轉啟用(1095 KB)</a>
            <a href="">提高大台中地區供水品質 斥資5.2億元豐原初沈池設備將運轉啟用(1095 KB)</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <a href="">停水公告查詢系統網站</a>
            <a href="">停水公告查詢系統網站</a>
            <a href="">停水公告查詢系統網站</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：144
    </div>
    <div class="main_page_info_update">
        更新時間：2018-12-24 10:21:00
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>