<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        財物、業務資訊
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">財物、業務資訊</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        107年底本公司供水轄區按區域別供水普及率
    </div>
    <p class="main_page_date pull-left">
        發表日期：2019/01/11
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <p>
            107年12月底本公司供水轄區按區域別供水普及率
        </p>
        <div class="main_page_image">
            <img src="img/front/images/shareholder_1.jpg" alt="">
            <span>台灣自來水股份有限公司股東持股情形一覽表</span>
        </div>
        <p>
            股數：壹億肆仟柒佰伍拾萬股<br>
            實收資本額：新臺幣壹仟肆佰柒拾伍億元
        </p>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">提高大台中地區供水品質 斥資5.2億元豐原初沈池設備將運轉啟用(1095 KB)</a>
            <a href="">提高大台中地區供水品質 斥資5.2億元豐原初沈池設備將運轉啟用(1095 KB)</a>
            <a href="">提高大台中地區供水品質 斥資5.2億元豐原初沈池設備將運轉啟用(1095 KB)</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <a href="">停水公告查詢系統網站</a>
            <a href="">停水公告查詢系統網站</a>
            <a href="">停水公告查詢系統網站</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：144
    </div>
    <div class="main_page_info_update">
        更新時間：2018-12-24 10:21:00
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>