<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        股東會資訊
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">股東會資訊</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="bulletin_list blue_version">
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('s_main_page_1');">
            <div class="bulletin_list_title">
                中央、地方股東持股數(PDF)
            </div>
            <div class="bulletin_list_date pull-right">
                2019/01/11
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('s_main_page_1');">
            <div class="bulletin_list_title">
                股東會議事錄(PDF)
            </div>
            <div class="bulletin_list_date pull-right">
                2017/07/11
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('s_main_page_1');">
            <div class="bulletin_list_title">
                中央、地方股東持股數(PDF)
            </div>
            <div class="bulletin_list_date pull-right">
                2019/01/11
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('s_main_page_1');">
            <div class="bulletin_list_title">
                股東會議事錄(PDF)
            </div>
            <div class="bulletin_list_date pull-right">
                2019/01/11
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('s_main_page_1');">
            <div class="bulletin_list_title">
                中央、地方股東持股數(PDF)
            </div>
            <div class="bulletin_list_date pull-right">
                2019/01/11
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>