<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        財務、業務資訊
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">財務、業務資訊</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="bulletin_list blue_version">
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('s_main_page_1.2');">
            <div class="bulletin_list_title">
                107年底本公司供水轄區按區域別供水普及率
            </div>
            <div class="bulletin_list_date pull-right">
                2019/01/11
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:window.open('download/finance_1.pdf' ,'_blank');">
            <div class="bulletin_list_title">
                每戶（每人）每月水費及每戶家庭每年水費占消費支出比率(pdf)
            </div>
            <div class="bulletin_list_date pull-right">
                2017/07/11
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:window.open('download/finance_1.XLS' ,'_blank');">
            <div class="bulletin_list_title">
                近十年水費收入及用戶數(xls)
            </div>
            <div class="bulletin_list_date pull-right">
                2019/01/11
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:window.open('download/finance_1.ods' ,'_blank');">
            <div class="bulletin_list_title">
                近十年配、售水量及售水率(ods)
            </div>
            <div class="bulletin_list_date pull-right">
                2019/01/11
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('s_main_page_1.2');">
            <div class="bulletin_list_title">
                業務關鍵數據一覽表
            </div>
            <div class="bulletin_list_date pull-right">
                2019/01/11
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>