<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        監察人信箱
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">監察人信箱</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="contactMail blue_version">
    <form action="" id="mail_form">
        <div class="row">
            <div class="col-lg-6 left">
                <div class="contactMail_form_group">
                    <label for="">姓名</label>
                    <input type="text" id="">
                </div>
                <div class="contactMail_form_group">
                    <label for="">寄件人信箱</label>
                    <input type="email" id="">
                </div>
                <div class="contactMail_form_group">
                    <label for="">聯絡電話</label>
                    <input type="tel" id="">
                </div>
                <div class="contactMail_form_group">
                    <label for="">收件人信箱</label>
                    <select class="" name="" id="">
                        <option value="" selected disabled>請選擇你所要寄件的監察人信箱</option>
                        <option value="1@mail">1@mail</option>
                        <option value="2@mail">2@mail</option>
                    </select>
                </div>
                <div class="contactMail_form_group">
                    <label for="">信件標題</label>
                    <input type="text" id="">
                </div>
            </div>
            <div class="col-lg-6 right">
                <div class="contactMail_form_group">
                    <label for="">信件內容</label>
                    <textarea name="" id="" cols="30" rows="5" placeholder="輸入400字數以內"></textarea>
                </div>
                <div class="contactMail_form_group">
                    <label for="">檔案上傳</label>
                    <input type="file" name="" id="">
                </div>
                <div class="contactMail_form_group">
                    <label for="">驗證碼</label>
                    <input style="width:24%;" type="text">
                    <img src="img/front/images/veriCode_1.png" alt="">
                    <div class="pull-right veriCode_fresh"> <span onclick="">重新產生驗證碼</span> <a href="">驗證碼語音檔案下載</a></div>
                    <div class="pull-right veriCode_descript">如按“確認”鈕後出現驗證碼錯誤，請點擊<span style="color:rgb(74, 158, 207);">驗證碼圖片</span></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="text-center contactMail_form_button">
            <button>確認送出</button>
            <button>重新填寫</button>
        </div>
    </form>


</div>