<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        董監事閱覽專區
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">董監事閱覽專區</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="contactMail blue_version">
    <form action="" id="mail_form">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-8">
                <div class="contactMail_form_group">
                    <label for="">帳號<span class="text-danger">*</span> </label>
                    <input type="text" id="">
                </div>
                <div class="contactMail_form_group">
                    <label for="">密碼<span class="text-danger">*</span></label>
                    <input type="email" id="">
                </div>
                
                <div class="contactMail_form_group">
                    <label for="">驗證碼<span class="text-danger">*</span></label>
                    <input style="width:24%;" type="text">
                    <img src="img/front/images/veriCode_1.png" alt="">
                    <div class="pull-right veriCode_fresh"> <span onclick="">重新產生驗證碼</span> <a href="">驗證碼語音檔案下載</a>
                    </div>
                    <div class="pull-right veriCode_descript">如按“確認”鈕後出現驗證碼錯誤，請點擊<span
                            style="color:rgb(74, 158, 207);">驗證碼圖片</span></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-lg-6 right">

            </div>
        </div>
        <div class="text-center contactMail_form_button">
            <button>登入</button>
            <button>變更密碼</button>
        </div>
    </form>
</div>