<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        抄表計費
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">用戶服務</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">抄表計費</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        每度用水排放二氧化碳(CO2)約當量
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2017/07/25
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="main_page_content_subtitle">
            106年度每度用水排放CO2約當量
        </div>
        <p>
            本公司總用電量產生CO2量（kg）＋本公司總用油量產生CO2量（kg）<br>
            總供水量（度）<br>
            ＝0.162公斤CO2/度<br>
        </p>
        <p>本公司歷年每生產1度水之CO2排放約當量
        </p>
        <div class="table-responsive">
            <table border="2" class="main_page_table">
                <thead>
                    <tr>
                        <th>年度</th>
                        <th>96</th>
                        <th>97</th>
                        <th>98</th>
                        <th>99</th>
                        <th>100</th>
                        <th>101</th>
                        <th>102</th>
                        <th>103</th>
                        <th>104</th>
                        <th>105</th>
                        <th>106</th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                       <td>修正前</td>
                       <td>0.200</td>
                       <td>0.195</td>
                       <td>0.191</td>
                       <td>0.193</td>
                       <td>0.194</td>
                       <td>-</td>
                       <td>-</td>
                       <td>-</td>
                       <td>-</td>
                       <td>-</td>
                       <td>-</td>
                   </tr>
                   <tr>
                        <td>修正後(註)</td>
                        <td>0.175</td>
                        <td>0.170</td>
                        <td>0.167</td>
                        <td>0.169</td>
                        <td>0.167</td>
                        <td>0.164</td>
                        <td>0.156</td>
                        <td>0.155</td>
                        <td>0.154</td>
                        <td>0.152</td>
                        <td>0.162</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            註：配合經濟部能源局(http：//www.moeaboe.gov.tw)<br>
            98~100年度因100年度全國電力排放係數調整，並追溯計算歷年電力排放係數，爰重新估算本公司歷年每生產1度水之CO2排放約當量。
        </p>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">平均水質</a>
            <a href="">平均水質</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <span class="path_2_angle JQ">
                <a href="">本公司各服務所、營運所電話 號碼</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：7402
    </div>
    <div class="main_page_info_update">
        更新時間：2017-03-27 14:09
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>