<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        為民服務白皮書
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">用戶服務</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">為民服務白皮書</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        壹、前言-----我們的經營理念、服務目標
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2017/07/25
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <p>
            「我滿意了嗎？」、「我有受到應有的尊重嗎？」、「我會期待下次再來嗎？」等等問題都是本公司在服務用戶後最希望用戶給予正面回應之基本要求。服務在一個國家之經濟體制中，尤其是工商業發達之國家更扮演著愈來愈重要的角色，經濟之成長亦提升了消費者對服務之需求。
        </p>
        <p>本公司負責台灣省及高雄市自來水供應業務，所經營之自來水與民眾日常生活息息相關，為使消費者「喝的安心、用的足夠」，我們秉持「創造全民優質生活」之企業經營理念，基於水資源全民共有共享之精神，全力奉獻以達成用水現代化之理想，並不斷求新求變以滿足大眾對水量、水質及提高服務品質之需求。
        </p>
        <p>
            「為民服務白皮書」是台灣自來水股份有限公司對全台五百多萬用戶的真心宣言，我們承諾：<br>

            「顧客滿意」尊重用戶權益，落實以客為尊，您的滿意就是我們服務的動力。<br>

            「滴滴用心」確保純淨品質，提供質優之自來水。<br>

            「戶戶有水」普及供水設施，提供量足之自來水。<br>
        </p>
        <div class="main_page_content_subtitle">
            單一窗口服務項目
        </div>
        <div class="table-responsive">
            <table class="user_apply_table">
                <tbody>
                    <tr>
                        <th width="20%">用水設備</th>
                        <td>
                            <ul>
                                <li>新裝、啟用、廢止</li>
                                <li>停用、復用、口徑變更</li>
                                <li>改裝（間接、直接、表位改裝）</li>
                                <li>臨時用水、臨時用水恢復普通用水</li>
                                <li>用水設備外線工程費分期付款</li>
                                <li>繳（退）新（改）裝工程費、繳（退）保證金</li>
                                <li>用水設備工程進度查詢</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>繳費項目</th>
                        <td>
                            <ul class="">
                                <li>繳（退）水費、申請或終止委託代繳水費</li>
                                <li>軍眷（五折）優待、用戶抄表中間結帳</li>
                                <li>違章及破管追償水費</li>
                                <li>內線地下漏水水費減免</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>其他申請</th>
                        <td>
                            <ul>
                                <li>申請過戶（名義變更）</li>
                                <li>通訊地址變更、用水種別變更</li>
                                <li>各項用水證明及繳費證明</li>
                                <li>使用度數及水費查詢、用水疑義查詢</li>
                                <li>代徵費用查詢</li>
                                <li>水費突增複查、報修漏</li>
                                <li>漏水修理、用戶用水設備修理工料費等</li>
                                <li>水表檢定、賠表</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="main_page_image">
            <!-- 插入001照片 -->
            <!-- <img src="img/front/images/userService_1.jpg" alt=""> -->
            <!-- <span>台灣自來水股份有限公司處理民眾陳情案件作業流程圖</span> -->
        </div>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">台灣自來水股份有限公司智慧財產權管理要點.pdf(192 KB)</a>
            <a href="">台灣自來水股份有限公司智慧財產權管理要點.odt(13 KB)</a>
            <a href="">台灣自來水股份有限公司智慧財產權管理要點總說明.pdf(228 KB)</a>
            <a href="">台灣自來水股份有限公司智慧財產權管理要點總說明.odt(20 KB)</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <span class="path_2_angle JQ">
                <a href="">本公司各服務所、營運所電話 號碼</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：7402
    </div>
    <div class="main_page_info_update">
        更新時間：2017-03-27 14:09
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>