<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        抄表計費
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">用戶服務</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">抄表計費</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="bulletin_list">
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_4', 'userService');">
            <div class="bulletin_list_title">
                每度用水排放二氧化碳(CO2)約當量
            </div>
            <div class="bulletin_list_date pull-right">
                2019/01/18
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_4', 'userService');">
            <div class="bulletin_list_title">
                水費及各項服務費收費標準
            </div>
            <div class="bulletin_list_date pull-right">
                2018/12/10
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_4', 'userService');">
            <div class="bulletin_list_title">
                污水下水道使用費
            </div>
            <div class="bulletin_list_date pull-right">
                2018/12/04
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_4', 'userService');">
            <div class="bulletin_list_title">
                環保單位核定代徵清除處理費之每度單價
            </div>
            <div class="bulletin_list_date pull-right">
                2018/11/05
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_4', 'userService');">
            <div class="bulletin_list_title">
                水費試算
            </div>
            <div class="bulletin_list_date pull-right">
                2018/10/22
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_4', 'userService');">
            <div class="bulletin_list_title">
                水源保育與回饋
            </div>
            <div class="bulletin_list_date pull-right">
                2018/10/22
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_4', 'userService');">
            <div class="bulletin_list_title">
                一度水是多少
            </div>
            <div class="bulletin_list_date pull-right">
                2018/10/22
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_4', 'userService');">
            <div class="bulletin_list_title">
                水表度數查讀
            </div>
            <div class="bulletin_list_date pull-right">
                2018/10/22
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_4', 'userService');">
            <div class="bulletin_list_title">
                水表清潔
            </div>
            <div class="bulletin_list_date pull-right">
                2018/10/22
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>
<div class="main_content_page_border">
    <div class="main_content_pageNumber">
        <p>共<span>208</span>筆資料，第<span>2</span>/21頁
        </p>
    </div>
    <div class="main_content_pagination">
        <a class="pageBtn pageleft"></a>
        <a href="">1</a>
        <a href="" class="active">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="">6</a>
        <a class="pageBtn pagenext" href=""></a>
        <a class="pageBtn pageforward" href=""></a>
    </div>
</div>