<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        申辦須知
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">用戶服務</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">申辦須知</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        各項申辦須知
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2017/07/25
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="conSearch" style="border-radius: 10px;">
            <form class="form-inline">
                <div class="form-group">
                    <label for="applySearch" style="">選擇申辦項目：</label>
                    <select name="" class="form-control" id="applySearch" style="width: 50% !important;">
                        <option value="復用" selected="">復用</option>
                        <option value="啟用">啟用</option>
                        <option value="停用">停用</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group keySearch">
                    <label for="keySearch">關鍵字：</label>
                    <input type="text" class="form-control" id="keySearch" placeholder="">
                    <span class="searchBtn"><i role="button" type="submit" class="fa fa-search"
                            aria-hidden="true"></i></span>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="user_apply_table">
                <tbody>
                    <tr>
                        <th width="20%">申辦項目</th>
                        <td>復用</td>
                    </tr>
                    <tr>
                        <th>申辦方式</th>
                        <td>
                            <!-- <ul class="">
                                <li>臨櫃申辦</li>
                                <li>電話申辦</li>
                                <li>網路申辦</li>
                                <li>使用憑證申請</li>
                                <li>(不使用憑證申請)</li>
                            </ul> -->
                            ■ 臨櫃申辦、■ 電話申辦、■ 網路申辦 (■ 使用憑證申請、■ 不使用憑證申請)
                        </td>
                    </tr>
                    <tr>
                        <th>受理單位</th>
                        <td>各區處管理服務(營運)所</td>
                    </tr>
                    <tr>
                        <th>處理期限</th>
                        <td>臨櫃申辦(即辦)、電話申辦(即辦)、網路申辦(預約)</td>
                    </tr>
                    <tr>
                        <th>法規依據</th>
                        <td>本公司營業章程第七條、第九條</td>
                    </tr>
                    <tr>
                        <th>應備證件</th>
                        <td>
                            <ul>
                                <li>用戶印章</li>
                                <li>身份證明文件</li>
                                <li>水費單據或提供水號/用水地址</li>
                                <li>用水用戶設備各種異動服務申請書</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>所需費用</th>
                        <td>復水費及結清欠費</td>
                    </tr>
                    <tr>
                        <th>備註</th>
                        <td>
                            <ol>
                                <li>限以用戶無舊欠水費且停用期間未超過二年可線上或電話申請恢復用水，復用應繳之復水費及未足期水費，併第一期水費計收。</li>
                                <li>欠費停處用戶申請復用時，應繳納停水處分期間，二分之一之基本費及停復水費及舊欠水費（若超過二年，則以新裝案件處理，重新申請接水）。</li>
                                <li>電話申請時請告知水號或用水地址，並提供申請人姓名、身分證字號碼、電話、通訊地址等資料俾為代填申請書，申請人電話申辦資料如有疑義或不明，經本公司聯繫補正資料，請配合提供補正；不願提供者不予受理。
                                </li>
                                <li>本項網路申辦屬預約(填報)申請。</li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">用戶用水設備各種異動服務申請書</a>
            <a href="">各口徑復水費率表</a>
            <a href="">消費性用水服務契約</a>
        </div>
    </div>
    <div class="main_page_apply">
        <div class="user_apply_btn pull-right">
            立即線上申辦(預約)
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="main_page_content">
        <div class="table-responsive">
            <table class="user_apply_table">
                <tbody>
                    <tr>
                        <th width="20%">申辦項目</th>
                        <td>啟用</td>
                    </tr>
                    <tr>
                        <th>申辦方式</th>
                        <td>
                            <!-- <ul class="">
                                <li>臨櫃申辦</li>
                                <li>電話申辦</li>
                                <li>網路申辦</li>
                                <li>使用憑證申請</li>
                                <li>(不使用憑證申請)</li>
                            </ul> -->
                            ■ 臨櫃申辦、■ 電話申辦、■ 網路申辦 (■ 使用憑證申請、■ 不使用憑證申請)
                        </td>
                    </tr>
                    <tr>
                        <th>受理單位</th>
                        <td>各區處管理服務(營運)所</td>
                    </tr>
                    <tr>
                        <th>處理期限</th>
                        <td>臨櫃申辦(即辦)、網路申辦(預約)</td>
                    </tr>
                    <tr>
                        <th>法規依據</th>
                        <td>本公司營業章程第七條</td>
                    </tr>
                    <tr>
                        <th>應備證件</th>
                        <td>
                            <ul>
                                <li>啟用戶印章</li>
                                <li>身份證明文件(委託申請者，受託人須查填及核對相關資料及受託人身分証明文件)</li>
                                <li>用戶用水設備各種異動服務申請書</li>
                                <li>消費性用水服務契約</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>所需費用</th>
                        <td>免費</td>
                    </tr>
                    <tr>
                        <th>備註</th>
                        <td>
                            <ol>
                                <li>本項網路申辦屬預約(填報)申請，若申請人原申請用水時未繳附使用執照，仍須臨櫃繳驗該應備證件。</li>
                                <li>為新裝之用戶裝表通水。(用戶新裝外線工程竣工逾二年未啟用者，本公司得註銷其水籍)</li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">用戶用水設備各種異動服務申請書</a>
            <a href="">各口徑復水費率表</a>
            <a href="">消費性用水服務契約</a>
        </div>
    </div>
    <div class="main_page_apply">
        <div class="user_apply_btn pull-right">
            立即線上申辦(預約)
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="main_page_content">
        <div class="table-responsive">
            <table class="user_apply_table">
                <tbody>
                    <tr>
                        <th width="20%">申辦項目</th>
                        <td>停用</td>
                    </tr>
                    <tr>
                        <th>申辦方式</th>
                        <td>
                            <!-- <ul class="">
                                <li>臨櫃申辦</li>
                                <li>電話申辦</li>
                                <li>網路申辦</li>
                                <li>使用憑證申請</li>
                                <li>(不使用憑證申請)</li>
                            </ul> -->
                            ■ 臨櫃申辦、■ 電話申辦、■ 網路申辦 (■ 使用憑證申請、■ 不使用憑證申請)

                        </td>
                    </tr>
                    <tr>
                        <th>受理單位</th>
                        <td>各區處管理服務(營運)所</td>
                    </tr>
                    <tr>
                        <th>處理期限</th>
                        <td>臨櫃申辦(即辦)、網路申辦(預約)</td>
                    </tr>
                    <tr>
                        <th>法規依據</th>
                        <td>本公司營業章程第七條、第九條</td>
                    </tr>
                    <tr>
                        <th>應備證件</th>
                        <td>
                            <ul>
                                <li>用戶印章</li>
                                <li>水費單據或提供水號/用水地址</li>
                                <li>身份證明文件(委託申請者，受託人須查填及核對相關資料及受託人身分証明文件)</li>
                                <li>用戶用水設備各種異動服務申請書</li>
                                <li>消費性用水服務契約</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>所需費用</th>
                        <td>結清欠費</td>
                    </tr>
                    <tr>
                        <th>備註</th>
                        <td>
                            <ol>
                                <li>限以用戶無舊欠水費者申請預約停止用水。</li>
                                <li>本項網路申辦屬預約(填報)申請，申請人須臨櫃繳驗相關應備證件(申請書、身分證明文件、水費單據或提供水號/用水地址)及繳清水費。</li>
                                <li>用戶申請停用，免收停用期間之基本費。</li>
                                <li>用戶請自行抄錄指針數(可來電洽詢表號)，亦可以相機、手機拍攝水表指針數後，供本公司判讀數據，自抄指針數如與實際拆回指針數不符，仍須結清不足部分。</li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">用戶用水設備各種異動服務申請書</a>
            <a href="">各口徑復水費率表</a>
            <a href="">消費性用水服務契約</a>
        </div>
    </div>
    <div class="main_page_apply">
        <div class="user_apply_btn pull-right">
            立即線上申辦(預約)
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：7402
    </div>
    <div class="main_page_info_update">
        更新時間：2017-03-27 14:09
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>