<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        常見問答
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">用戶服務</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">常見問答</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="conSearch">
    <form class="form-inline">
        <div class="form-group regionSearch">
            <label for="regionSearch" style="">選擇類別：</label>
            <select name="" class="form-control" id="regionSearch">
                <option value="全部-" selected>全部-</option>
                <option value="申請類">申請類</option>
                <option value="用水類">用水類</option>
                <option value="收費類">收費類</option>
                <option value="抄表類">抄表類</option>
                <option value="其他類">其他類</option>
                <option value="水質漫談">水質漫談</option>
                <option value="電子帳單類">電子帳單類</option>
                <option value="智慧型手機水費帳單APP Q&A">智慧型手機水費帳單APP Q&A</option>
                <option value="網站問題類">網站問題類</option>
                <option value="污水下水道使用費">污水下水道使用費</option>
            </select>
            <div class="clearfix"></div>
        </div>
        <div class="form-group keySearch">
            <label for="keySearch">關鍵字：</label>
            <input type="text" class="form-control" id="keySearch" placeholder="">
            <span class="searchBtn"><i role="button" type="submit" class="fa fa-search" aria-hidden="true"></i></span>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
<div class="bulletin_list">
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_6', 'userService');">
            <div class="bulletin_list_title">
                如何申請停用，空屋不用水可否辦理廢止﹖
            </div>
            <div class="bulletin_list_date pull-right">
                2019/01/18
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_6', 'userService');">
            <div class="bulletin_list_title">
                如何申請過戶(用水名義人變更)？
            </div>
            <div class="bulletin_list_date pull-right">
                2018/12/10
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_6', 'userService');">
            <div class="bulletin_list_title">
                依志願役退除役軍人支領退休俸贍養金或生活補助費人員家屬住宅自用水電優待辦法 【本公司用水種別58(備除役)】？
            </div>
            <div class="bulletin_list_date pull-right">
                2018/12/04
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_6', 'userService');">
            <div class="bulletin_list_title">
                因房屋租賃糾紛致用水名義人已申辦停用，嗣後承租人要求復用時，如何辦理？
            </div>
            <div class="bulletin_list_date pull-right">
                2018/11/05
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_6', 'userService');">
            <div class="bulletin_list_title">
                軍眷用水優待之適用範圍及申請時須具備那些証件？
            </div>
            <div class="bulletin_list_date pull-right">
                2018/10/22
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_6', 'userService');">
            <div class="bulletin_list_title">
                申請復水之手續及應繳付那些費用？
            </div>
            <div class="bulletin_list_date pull-right">
                2018/10/22
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_6', 'userService');">
            <div class="bulletin_list_title">
                一般用戶與營業用戶水費單價是否不同？
            </div>
            <div class="bulletin_list_date pull-right">
                2018/10/22
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_6', 'userService');">
            <div class="bulletin_list_title">
                用戶申請協助檢查內線漏水如何處理？
            </div>
            <div class="bulletin_list_date pull-right">
                2018/10/22
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_6', 'userService');">
            <div class="bulletin_list_title">
                如何申請自來水裝置證明？
            </div>
            <div class="bulletin_list_date pull-right">
                2018/10/22
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>
<div class="main_content_page_border">
    <div class="main_content_pageNumber">
        <p>共<span>208</span>筆資料，第<span>2</span>/21頁
        </p>
    </div>
    <div class="main_content_pagination">
        <a class="pageBtn pageleft"></a>
        <a href="">1</a>
        <a href="" class="active">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="">6</a>
        <a class="pageBtn pagenext" href=""></a>
        <a class="pageBtn pageforward" href=""></a>
    </div>
</div>