<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        服務據點
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">用戶服務</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">服務據點</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        台中服務所
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2017/07/25
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="main_page_office">
            <table class="">
                <tr>
                    <th style="word-spacing: 28px;">代 碼：</th>
                    <td>41</td>
                </tr>
                <tr>
                    <th style="word-spacing: 28px;">轄 區：</th>
                    <td>台中市中區、東區、西區、南區、北區、西屯區(部分)、南屯區(部分)、
                        北屯區(部分)、潭子區(部份)、大雅區(部份)</td>
                </tr>
                <tr>
                    <th>轄區介紹：</th>
                    <td>
                        台中市中區(全區)、東區(全區)、西區(全區)、南區(全區)、北區(全區)、
                        西屯區(台灣大道四段部份除外)、南屯區(部分)、北屯區(部分)、潭子區大富路
                        一段(部份)、潭子區新興路一段(部份)、潭子區中山路一段(部份)、大雅區科技
                        部中部科學園區(部份)
                    </td>
                </tr>
                <tr>
                    <th style="word-spacing: 2px;">聯 絡 人：</th>
                    <td>主任王郁雯</td>
                </tr>
                <tr>
                    <th style="word-spacing: 28px;">傳 真：</th>
                    <td>(04)22265500</td>
                </tr>
                <tr>
                    <th style="">服務信箱：</th>
                    <td>ywwang@mail.water.gov.tw</td>
                </tr>
                <tr>
                    <th style="word-spacing: 28px;">地 址：</th>
                    <td>404臺中市北區雙十路二段2號</td>
                </tr>
                <tr>
                    <th>交通資訊：</th>
                    <td>
                        1.自行開車：<br>
                        由中山高速公路大雅交流道下環中路行駛到臺中的雙十路二段。<br>
                        2.搭車：<br>
                        (1)公車 : 由台中火車站(民族路口)搭乘東南客運，於台中一中站下車，步行約１分鐘即可到達。<br>
                        (2)火車 : 由台中火車站(民族路口)搭乘東南客運，於台中一中站下車，步行約１分鐘即可到達。<br>
                        (3)捷運 : 無
                    </td>
                </tr>
            </table>
        </div>
        <div class="main_page_map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.6065775082056!2d120.6860194508311!3d24.150450879215427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693d68083ab377%3A0x8c223affba856e07!2zNDA05Y-w5Lit5biC5YyX5Y2A6ZuZ5Y2B6Lev5LqM5q61Mi0x6Jmf!5e0!3m2!1szh-TW!2stw!4v1554877915460!5m2!1szh-TW!2stw"
                 frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">平均水質</a>
            <a href="">平均水質</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <span class="path_2_angle JQ">
                <a href="">本公司各服務所、營運所電話 號碼</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：7402
    </div>
    <div class="main_page_info_update">
        更新時間：2017-03-27 14:09
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>