<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        服務據點
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">用戶服務</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">服務據點</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="conSearch">
    <form class="form-inline">
        <div class="form-group regionSearch">
            <label for="regionSearch" style="">選擇類別：</label>
            <select name="" class="form-control" id="regionSearch">
                <option value="全部-" selected>全部-</option>
                <option value="第一區-新北市東北部、基隆">第一區-新北市東北部、基隆</option>
                <option value="第二區-桃園市">第二區-桃園市</option>
                <option value="第三區-新竹、苗栗">第三區-新竹、苗栗</option>
                <option value="第四區-台中、南投">第四區-台中、南投</option>
                <option value="第五區-雲林、嘉義">第五區-雲林、嘉義</option>
                <option value="第六區-台南市">第六區-台南市</option>
                <option value="第七區-高雄、屏東">第七區-高雄、屏東</option>
                <option value="第八區-宜蘭縣">第八區-宜蘭縣</option>
                <option value="第九區-花蓮縣">第九區-花蓮縣</option>
                <option value="第十區-台東縣">第十區-台東縣</option>
                <option value="第十一區-彰化縣">第十一區-彰化縣</option>
                <option value="第十二區-新北市西南處">第十二區-新北市西南處</option>
                <option value="北區工程處">北區工程處</option>
                <option value="中區工程處">中區工程處</option>
                <option value="南區工程處">南區工程處</option>
                <option value="北區水表修理場">北區水表修理場</option>
            </select>
            <div class="clearfix"></div>
        </div>
        <div class="form-group keySearch">
            <label for="keySearch">關鍵字：</label>
            <input type="text" class="form-control" id="keySearch" placeholder="">
            <span class="searchBtn"><i role="button" type="submit" class="fa fa-search" aria-hidden="true"></i></span>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
<div class="bulletin_list">
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_1', 'userService');">
            <div class="bulletin_list_region pull-right">
                第一區-新北市東北部、基隆
            </div>
            <div class="bulletin_list_title">
                第一區管理處
            </div>
            <div class="org_contact">
                <p>代碼: </p>
                <p>轄區: </p>
                <p class="phone">電話: 02-24582233</p>
                <p class="map">地址: 20547基隆市暖暖區水源路38-1號</p>
            </div>
            <div class="clearfix"></div>
        </a>
        <div class="perform_item_readmore" onclick="javascript:changeForm('user_main_page_1', 'userService');"></div>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_1', 'userService');">
            <div class="bulletin_list_region pull-right">
                第一區-新北市東北部、基隆
            </div>
            <div class="bulletin_list_title">
                基隆服務所
            </div>
            <div class="org_contact">
                <p>代碼: 11</p>
                <p>轄區: 基隆市</p>
                <p class="phone">電話: 1910、02-24252103、02-24234195</p>
                <p class="map">地址: 20241基隆市中正區義一路21號</p>
            </div>
            <div class="clearfix"></div>
        </a>
        <div class="perform_item_readmore" onclick="javascript:changeForm('user_main_page_1', 'userService');"></div>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_1', 'userService');">
            <div class="bulletin_list_region pull-right">
                第四區-台中、南投
            </div>
            <div class="bulletin_list_title">
                第四區管理處
            </div>
            <div class="org_contact">
                <p>代碼: </p>
                <p>轄區: </p>
                <p class="phone">電話: (04)22218341~8</p>
                <p class="map">地址: 404臺中市北區雙十路二段2號</p>
            </div>
            <div class="clearfix"></div>
        </a>
        <div class="perform_item_readmore" onclick="javascript:changeForm('user_main_page_1', 'userService');"></div>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_1', 'userService');">
            <div class="bulletin_list_region pull-right">
                第四區-台中、南投
            </div>
            <div class="bulletin_list_title">
                台中服務所
            </div>
            <div class="org_contact">
                <p>代碼: 41</p>
                <p>轄區: 台中市中區、東區、西區、南區、北區、西屯區(部分)、南屯區(部分)、北屯區(部分)、
                    潭子區(部份)、大雅區(部份)</p>
                <p class="phone">電話: 1910、(04)22210169</p>
                <p class="map">地址: 404臺中市北區雙十路二段2號</p>
            </div>
            <div class="clearfix"></div>
        </a>
        <div class="perform_item_readmore" onclick="javascript:changeForm('user_main_page_1', 'userService');"></div>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_1', 'userService');">
            <div class="bulletin_list_region pull-right">
                北區工程處
            </div>
            <div class="bulletin_list_title">
                北區工程處
            </div>
            <div class="org_contact">
                <p>代碼: </p>
                <p>轄區: </p>
                <p class="phone">電話: 02-2928-2999</p>
                <p class="map">地址: 新北市永和區水源街52號</p>
            </div>
            <div class="clearfix"></div>
        </a>
        <div class="perform_item_readmore" onclick="javascript:changeForm('user_main_page_1', 'userService');"></div>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_1', 'userService');">
            <div class="bulletin_list_region pull-right">
                北區工程處
            </div>
            <div class="bulletin_list_title">
                第一工務所
            </div>
            <div class="org_contact">
                <p>代碼: 1</p>
                <p>轄區: </p>
                <p class="phone">電話: 02-2431-0528</p>
                <p class="map">地址: 基隆市安和二街5之1號</p>
            </div>
            <div class="clearfix"></div>
        </a>
        <div class="perform_item_readmore" onclick="javascript:changeForm('user_main_page_1', 'userService');"></div>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_1', 'userService');">
            <div class="bulletin_list_region pull-right">
                中區工程處
            </div>
            <div class="bulletin_list_title">
                中區工程處
            </div>
            <div class="org_contact">
                <p>代碼: </p>
                <p>轄區: </p>
                <p class="phone">電話: 0422444581</p>
                <p class="map">地址: 臺中市北屯區406瀋陽路三段396號</p>
            </div>
            <div class="clearfix"></div>
        </a>
        <div class="perform_item_readmore" onclick="javascript:changeForm('user_main_page_1', 'userService');"></div>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_1', 'userService');">
            <div class="bulletin_list_region pull-right">
                中區工程處
            </div>
            <div class="bulletin_list_title">
                第二工務所
            </div>
            <div class="org_contact">
                <p>代碼: 2</p>
                <p>轄區: </p>
                <p class="phone">電話: 048285758</p>
                <p class="map">地址: 彰化縣埔心鄉瑤鳳路2段518號</p>
            </div>
            <div class="clearfix"></div>
        </a>
        <div class="perform_item_readmore" onclick="javascript:changeForm('user_main_page_1', 'userService');"></div>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_1', 'userService');">
            <div class="bulletin_list_region pull-right">
                第七區-高雄、屏東
            </div>
            <div class="bulletin_list_title">
                第七區管理處
            </div>
            <div class="org_contact">
                <p>代碼: </p>
                <p>轄區: 高雄、屏東、澎湖</p>
                <p class="phone">電話: (07)7311111</p>
                <p class="map">地址: 83341高雄市鳥松區大埤路32號</p>
            </div>
            <div class="clearfix"></div>
        </a>
        <div class="perform_item_readmore" onclick="javascript:changeForm('user_main_page_1', 'userService');"></div>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_1', 'userService');">
            <div class="bulletin_list_region pull-right">
                第七區-高雄、屏東
            </div>
            <div class="bulletin_list_title">
                高雄服務所
            </div>
            <div class="org_contact">
                <p>代碼: 71</p>
                <p>轄區: 高雄市鹽埕區、鼓山區、左營區(莒光里、光輝里屬楠梓所)、三民區、新興區、
                    前金區、苓雅區、前鎮區、旗津區、小港區</p>
                <p class="phone">電話: 1910、(07)3312292</p>
                <p class="map">地址: 80654高雄市前鎮區復興三路131號</p>
            </div>
            <div class="clearfix"></div>
        </a>
        <div class="perform_item_readmore" onclick="javascript:changeForm('user_main_page_1', 'userService');"></div>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('user_main_page_1', 'userService');">
            <div class="bulletin_list_region pull-right">
                北區水表修理場
            </div>
            <div class="bulletin_list_title">
                北區水表修理場
            </div>
            <div class="org_contact">
                <p>代碼: </p>
                <p>轄區: </p>
                <p class="phone">電話: (03)4643366 、(03)4643377</p>
                <p class="map">地址: 桃園縣平鎮市水廠路150號</p>
            </div>
            <div class="clearfix"></div>
        </a>
        <div class="perform_item_readmore" onclick="javascript:changeForm('user_main_page_1', 'userService');"></div>
    </div>
</div>
<div class="main_content_page_border">
    <div class="main_content_pageNumber">
        <p>共<span>208</span>筆資料，第<span>2</span>/21頁
        </p>
    </div>
    <div class="main_content_pagination">
        <a class="pageBtn pageleft"></a>
        <a href="">1</a>
        <a href="" class="active">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="">6</a>
        <a class="pageBtn pagenext" href=""></a>
        <a class="pageBtn pageforward" href=""></a>
    </div>
</div>