<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        電話業務
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">用戶服務</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">電話業務</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        電話業務
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2017/07/25
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="main_page_content_subtitle">
            可利用電話申辦案件項目
        </div>
        <div class="table-responsive">
            <table border="2" class="main_page_table">
                <thead>
                    <tr>
                        <th>申辦項目</th>
                        <th width="60%;">服務說明</th>
                        <th>受理單位</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>復用</td>
                        <td class="text-left">限以用戶無舊欠水費且停用期間未超過二年可電話申請恢復用水，復用應繳之復水費用及未足期水費，併第一期水費計收。
                            （受停水處分之用戶仍請親自到當地服務所、營運所繳清欠費辦理復水</td>
                        <td><a href="" target="_self" title="當地服務所、營運所" rel="">當地服務所、營運所</a></td>
                    </tr>
                    <tr>
                        <td>繳費證明</td>
                        <td class="text-left">電話申請各項用水繳費證明。</td>
                        <td><a href="" target="_self" title="當地服務所、營運所" rel="">當地服務所、營運所</a></td>
                    </tr>
                    <tr>
                        <td>裝置證明</td>
                        <td class="text-left">電話申請用水設備裝置日期證明</td>
                        <td><a href="" target="_self" title="當地服務所、營運所" rel="">當地服務所、營運所</a></td>
                    </tr>
                    <tr>
                        <td>取消扣繳帳號</td>
                        <td class="text-left">電話申請取消</td>
                        <td><a href="" target="_self" title="當地服務所、營運所" rel="">當地服務所、營運所</a></td>
                    </tr>
                    <tr>
                        <td>其他</td>
                        <td class="text-left">通訊地址變更</td>
                        <td><a href="" target="_self" title="當地服務所、營運所" rel="">當地服務所、營運所</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            電話申請時請告知水號或用水地址，並提供申請人姓名、身分證號碼、電話、通訊地址等資料俾為代填申請書。
            申請人電話申辦資料如有疑義或不明，經本公司聯繫補正資料，請配合提供補正；不願提供者不予受理。
        </p>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">平均水質</a>
            <a href="">平均水質</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <span class="path_2_angle JQ">
                <a href="">本公司各服務所、營運所電話 號碼</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：7402
    </div>
    <div class="main_page_info_update">
        更新時間：2017-03-27 14:09
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>