 
<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        平均水質
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">用水宣導</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">平均水質</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        新山淨水場(Sinshan)基隆市麥金路720號
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2017/07/25
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="main_page_content_subtitle">
            英文：Sinshan
        </div>
        <div class="table-responsive">
            <table border="2" class="main_page_table">
                <thead>
                    <tr>
                        <th>檢項</th>
                        <th>測值</th>
                        <th>最大限值</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>自由有效餘氯(mg/L)</td>
                        <td>0.65</td>
                        <td>0.2-1.0</td>
                    </tr>
                    <tr>
                        <td>濁度(NTU)</td>
                        <td>0.40</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>色度(鉑鈷單位)</td>
                        <td> &lt;5 </td>
                        <td> 5 </td>
                    </tr>
                    <tr>
                        <td>臭度(初嗅數)</td>
                        <td> &lt;1 </td>
                        <td> 3 </td>
                    </tr>
                    <tr>
                        <td>總鹼度(mg/L)</td>
                        <td>33.2</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>pH值(－)</td>
                        <td>7.2</td>
                        <td>6.0-8.5</td>
                    </tr>
                    <tr>
                        <td>氯鹽(mg/L)</td>
                        <td>16.6</td>
                        <td>250</td>
                    </tr>
                    <tr>
                        <td>硫酸鹽(mg/L)</td>
                        <td>15.9</td>
                        <td>250</td>
                    </tr>
                    <tr>
                        <td>氨氮(mg/L)</td>
                        <td>ND</td>
                        <td>0.1</td>
                    </tr>
                    <tr>
                        <td>亞硝酸鹽氮(mg/L)</td>
                        <td>ND</td>
                        <td>0.1</td>
                    </tr>
                    <tr>
                        <td>硝酸鹽氮(mg/L)</td>
                        <td>0.98</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>總溶解固體量(mg/L)</td>
                        <td>114</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>氟鹽(mg/L)</td>
                        <td>0.04</td>
                        <td>0.8</td>
                    </tr>
                    <tr>
                        <td>總硬度(mg/L)</td>
                        <td>42.2</td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <td>鐵(mg/L)</td>
                        <td>0.06</td>
                        <td>0.3</td>
                    </tr>
                    <tr>
                        <td>錳(mg/L)</td>
                        <td>ND</td>
                        <td>0.05</td>
                    </tr>
                    <tr>
                        <td>總菌落數(CFU/mL)</td>
                        <td>&lt;1</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>大腸桿菌群(CFU/100mL)</td>
                        <td>&lt;1</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>總三鹵甲烷(mg/L)</td>
                        <td>0.0179</td>
                        <td>0.08</td>
                    </tr>
                    <tr>
                        <td>鉛(mg/L)</td>
                        <td>0.0024</td>
                        <td>0.01</td>
                    </tr>
                    <tr>
                        <td>硒(mg/L)</td>
                        <td>ND</td>
                        <td>0.01</td>
                    </tr>
                    <tr>
                        <td>砷(mg/L)</td>
                        <td>0.00030</td>
                        <td>0.01</td>
                    </tr>
                    <tr>
                        <td>汞(mg/L)</td>
                        <td>ND</td>
                        <td>0.002</td>
                    </tr>
                    <tr>
                        <td>鋅(mg/L)</td>
                        <td>&lt;0.01</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>銀(mg/L)</td>
                        <td>ND</td>
                        <td>0.05</td>
                    </tr>
                    <tr>
                        <td>銅(mg/L)</td>
                        <td>&lt;0.01</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>鉻(mg/L)</td>
                        <td>&lt;0.01</td>
                        <td>0.05</td>
                    </tr>
                    <tr>
                        <td>鎳(mg/L)</td>
                        <td>0.0004</td>
                        <td>0.07</td>
                    </tr>
                    <tr>
                        <td>鎘(mg/L)</td>
                        <td>ND</td>
                        <td>0.005</td>
                    </tr>
                    <tr>
                        <td>鋇(mg/L)</td>
                        <td>0.0162</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>銻(mg/L)</td>
                        <td>&lt;0.0001</td>
                        <td>0.01</td>
                    </tr>
                    <tr>
                        <td>陰離子界面活性劑(mg/L)</td>
                        <td>ND</td>
                        <td>0.5</td>
                    </tr>
                    <tr>
                        <td>靈丹(mg/L)</td>
                        <td>ND</td>
                        <td>0.0002</td>
                    </tr>
                    <tr>
                        <td>安殺番(mg/L)</td>
                        <td>ND</td>
                        <td>0.003</td>
                    </tr>
                    <tr>
                        <td>巴拉刈(mg/L)</td>
                        <td>ND</td>
                        <td>0.01</td>
                    </tr>
                    <tr>
                        <td>大利松(mg/L)</td>
                        <td>ND</td>
                        <td>0.005</td>
                    </tr>
                    <tr>
                        <td>巴拉松(mg/L)</td>
                        <td>ND</td>
                        <td>0.02</td>
                    </tr>
                    <tr>
                        <td>一品松(mg/L)</td>
                        <td>ND</td>
                        <td>0.005</td>
                    </tr>
                    <tr>
                        <td>氰鹽(mg/L)</td>
                        <td>ND</td>
                        <td>0.05</td>
                    </tr>
                    <tr>
                        <td>酚(mg/L)</td>
                        <td>ND</td>
                        <td>0.001</td>
                    </tr>
                    <tr>
                        <td>達馬松(mg/L)</td>
                        <td>ND</td>
                        <td>0.02</td>
                    </tr>
                    <tr>
                        <td>丁基拉草(mg/L)</td>
                        <td>ND</td>
                        <td>0.02</td>
                    </tr>
                    <tr>
                        <td>2,4-地(mg/L)</td>
                        <td>ND</td>
                        <td>0.07</td>
                    </tr>
                    <tr>
                        <td>納乃得(mg/L)</td>
                        <td>ND</td>
                        <td>0.01</td>
                    </tr>
                    <tr>
                        <td>滅必蝨(mg/L)</td>
                        <td>ND</td>
                        <td>0.02</td>
                    </tr>
                    <tr>
                        <td>加保扶(mg/L)</td>
                        <td>ND</td>
                        <td>0.02</td>
                    </tr>
                    <tr>
                        <td>亞素靈(mg/L)</td>
                        <td>ND</td>
                        <td>0.003</td>
                    </tr>
                    <tr>
                        <td>鋁(mg/L)</td>
                        <td>0.0855</td>
                        <td>0.3</td>
                    </tr>
                    <tr>
                        <td>溴酸鹽(mg/L)</td>
                        <td>ND</td>
                        <td>0.01</td>
                    </tr>
                    <tr>
                        <td>糞便性大腸桿菌群(CFU/100mL)</td>
                        <td>&lt;1</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>三氯乙烯(mg/L)</td>
                        <td>ND</td>
                        <td>0.005</td>
                    </tr>
                    <tr>
                        <td>四氯化碳(mg/L)</td>
                        <td>ND</td>
                        <td>0.005</td>
                    </tr>
                    <tr>
                        <td>1,1,1-三氯乙烷(mg/L)</td>
                        <td>ND</td>
                        <td>0.2</td>
                    </tr>
                    <tr>
                        <td>1,2-二氯乙烷(mg/L)</td>
                        <td>ND</td>
                        <td>0.005</td>
                    </tr>
                    <tr>
                        <td>氯乙烯(mg/L)</td>
                        <td>ND</td>
                        <td>0.0003</td>
                    </tr>
                    <tr>
                        <td>苯(mg/L)</td>
                        <td>ND</td>
                        <td>0.005</td>
                    </tr>
                    <tr>
                        <td>對-二氯苯(mg/L)</td>
                        <td>ND</td>
                        <td>0.075</td>
                    </tr>
                    <tr>
                        <td>1,1-二氯乙烯(mg/L)</td>
                        <td>ND</td>
                        <td>0.007</td>
                    </tr>
                    <tr>
                        <td>二氯甲烷(mg/L)</td>
                        <td>ND</td>
                        <td>0.02</td>
                    </tr>
                    <tr>
                        <td>鄰-二氯苯(mg/L)</td>
                        <td>ND</td>
                        <td>0.6</td>
                    </tr>
                    <tr>
                        <td>甲苯(mg/L)</td>
                        <td>ND</td>
                        <td>0.7</td>
                    </tr>
                    <tr>
                        <td>二甲苯(mg/L)</td>
                        <td>ND</td>
                        <td>0.5</td>
                    </tr>
                    <tr>
                        <td>順-1,2-二氯乙烯(mg/L)</td>
                        <td>ND</td>
                        <td>0.07</td>
                    </tr>
                    <tr>
                        <td>反-1,2-二氯乙烯(mg/L)</td>
                        <td>ND</td>
                        <td>0.1</td>
                    </tr>
                    <tr>
                        <td>四氯乙烯(mg/L)</td>
                        <td>ND</td>
                        <td>0.005</td>
                    </tr>
                    <tr>
                        <td>水質合格否(Y/N)</td>
                        <td>Y</td>
                        <td>-</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">平均水質</a>
            <a href="">平均水質</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <span class="path_2_angle JQ">
                <a href="">平均水質</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：7402
    </div>
    <div class="main_page_info_update">
        更新時間：2017-03-27 14:09
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>