 
<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        節約用水
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">用水宣導</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">用水須知</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">節約用水</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        省水器材（一）：省水標章各項產品項目及規格標準
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2017/12/06
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="main_page_image">
            <!-- 插入001照片 -->
            <img src="img/front/images/wa_1.4.1.jpg" alt="">
            <span>普級及金級省水標章圖示</span>
        </div>
        <div class="main_page_content_subtitle">
            一、 洗衣機
        </div>
        <p>
            產品包含漩渦式、攪拌式與滾筒式。<br>
            產品依照日本工業標準 JIS C9606
            標準之試驗條件與方法，在最大負荷之洗濯容量、高水位、標準洗濯行程下，洗清比須達一點零零以上，漩渦式與攪拌式產品，洗淨比須達零點八零以上，滾筒式產品，洗淨比須達零點六零以上，脫水度達百分之四十五以上。
        </p>
        <p>
            依洗淨每公斤衣物所耗水量分為金級及普級。<br>
            (一) 系列產品樣態：僅顏色、上蓋或門蓋造型、上蓋或門蓋開啟方式、外觀材質等不同，可共用檢測報告。
            (二) 漩渦式與攪拌式產品洗淨每公斤衣物所耗水量，金級須在十五點零公升以下，普級須在二十點零公升以下。
            (三) 滾筒式產品洗淨每公斤衣物所耗水量，金級須在八點零公升以下，普級須在十三點零公升以下。
        </p>
        <div class="main_page_content_subtitle">
            二、 一段式省水馬桶
        </div>
        <p>
            產品包含馬桶本體、水箱、水箱配件及沖水閥。<br>
            (一) 系列產品樣態：<br>
            僅顏色、馬桶蓋造型或水箱蓋造型不同，可共用檢測報告。<br>
            相同產品僅有無奈米塗料差異，皆必須符合馬桶洗淨試驗，其他項目可共用檢測報告。<br>
            產品如僅排污口與牆面距離不同，可共用排水性試驗、漏水試驗及漏氣試驗報告。<br>
            (二) 一段式省水馬桶依沖水量試驗量測每次排污口所沖出之水量，分為金級及普級。<br>
            金級每次沖水量須在四點八公升以下。<br>
            普級每次沖水量須在六點零公升以下。<br>
            (三) 馬桶尿液殘留測試之稀釋倍數須在一百倍以上。<br>
            (四) 須符合中華民國國家標準 CNS 3221 洗淨性、排水性、漏氣性及漏水性之性能規定。<br>
            須符合中華民國國家標準 CNS 3220-1 之連接密封性品質規定。<br>
            須符合馬桶搬送距離試驗，平均每顆浮球移動距離達十三點零公尺以上。<br>
            (五) 馬桶水箱排水閥應符合排水閥密封及耐久試驗，通過十萬次測試；沖水凡而依中華民國國家標準 CNS 8088 沖水閥之耐久性試驗方法操作二十萬次後，應通過止水性能試驗。<br>
            (六) 馬桶水箱進水器須依中華民國國家標準 CNS 8088 浮球閥之耐久性能試驗方法操作十萬次後，通過止水性能試驗；並應符合進水閥防虹吸試驗。<br>
            (七) 馬桶水箱配件若屬電子控制閥，須提出符合中華民國國家標準 CNS 12566 溫濕度組合試驗及 EMC（電磁相容性）之品質規定。<br>
        </p>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">省水標章</a>
            <a href="">省水標章</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <a href="">省水標章</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：1755
    </div>
    <div class="main_page_info_update">
        更新時間：2017-03-27 14:09
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>