 
<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        水質資訊
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">用水宣導</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">水質資訊</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        水質常見問題
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2017/07/25
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="main_page_content_subtitle">
            塑化劑有什麼功用？目前常見的塑化劑有那些？本公司配水管網含量為多少?
        </div>
        <p>
            一、塑化劑也稱為可塑劑，是一種可以增加塑膠材料柔軟性的添加劑，也可以促進混凝土、牆版泥灰、泥與石膏等材料的流動性與加工性質，
            目前絕大部分的塑化劑應用於塑膠材料的軟化。使用塑化劑最多的塑膠材料是聚氯乙烯（PVC），在日常生活中，添加塑化劑的PVC產品非常
            普遍，廣泛應用在建築材料（例如PVC塑膠地磚）、食品包裝、玩具、文具、容器與醫療器材等之中。<br>
            二、目前使用量最大的塑化劑為鄰苯二甲酸酯類，它在水中溶解度很小，但易溶於多數有機溶劑中，具有黏度中等、穩定性高、揮發性低、容
            易取得、成本低廉等特性。鄰苯二甲酸酯類是鄰苯二甲酸（phthalate acid）與不同醇類經由酯化反應所生成的衍生物，是透明的無色液體
            ，部分鄰苯二甲酸酯類有些許芳香氣味。常見的鄰苯二甲酸酯類產品有8 種： 鄰苯二甲酸二甲酯（dimethyl phthalate, 簡稱DMP ） 、
            鄰苯二甲酸二乙酯（diethyl phthalate , 簡稱DE P ） 、鄰苯二甲酸二丁酯（dibutyl phthalate , 簡稱DBP ）、鄰苯二甲酸二
            異壬酯（diisononyl phthalate, 簡稱DINP）、鄰苯二甲酸二正辛酯（di-n-octyl phthalate, 簡稱DNOP）、鄰苯二甲酸二異癸酯
            （diisodecyl phthalate, 簡稱DIDP） 、鄰苯二甲酸二（ 2-乙基己基）酯[di-(2-ethylhexyl)phthalate 或bis-(2-ethylhex
            yl)phthalate, 簡稱DEHP或BEHP或DOP]、鄰苯二甲酸苯基丁酯（benzylbutylphthalate, 簡稱BBP）。<br>
            三、台水公司配水管網檢驗結果皆低於WHO飲用水鄰苯二甲酸二酯（DEHP）之指引值8ppb。
        </p>
        <div class="main_page_image">
            <!-- 插入001照片 -->
            <img src="img/front/images/wa_l_3.1.jpg" alt="">
            <span>圖片上稿圖片說明文字</span>
        </div>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">用水安全</a>
            <a href="">用水安全</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <span class="path_2_angle JQ">
                <a href="">用水安全</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：7402
    </div>
    <div class="main_page_info_update">
        更新時間：2017-03-27 14:09
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>