 
<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        用水安全
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">用水宣導</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">用水須知</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">用水安全</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page">
    <div class="main_page_title">
        水質安全：維護自來水的水質安全，人人有責。
    </div>
    <p class="main_page_date pull-left">
        刊登日期：2016/06/24
    </p>
    <div class="clearfix"></div>
    <div class="main_page_content">
        <div class="main_page_content_subtitle">
            水質安全
        </div>
        <p>
            維護自來水的水質安全，人人有責。
        </p>
        <div class="main_page_content_subtitle">
            水表前段
        </div>
        <p>
            包括輸配水管系統及用水設備外線（給水管）之維護，由自來水公司負責。
        </p>
        <div class="main_page_content_subtitle">
            水表後段
        </div>
        <p>
            包括水池、水塔、用水內線水管、衛生設備及連接水管、水龍頭等，由用戶負責。
        </p>
        <div class="main_page_image">
            <!-- 插入001照片 -->
            <img src="img/front/images/wa_1.2.1.gif" alt="">
            <span>水從哪裡來示意圖</span>
        </div>
        <div class="main_page_video">
            <iframe src="https://www.youtube.com/embed/0naX_CocAxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            檔案下載
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_download">
            <a href="">用水安全</a>
            <a href="">用水安全</a>
        </div>
    </div>
    <div class="main_page_other">
        <div class="main_page_other_title">
            相關連結
            <span class="whitebox"></span>
        </div>
        <div class="clearfix"></div>
        <div class="main_page_other_link">
            <a href="">用水安全</a>
        </div>
    </div>
</div>
<div class="main_page_info">
    <div class="main_page_info_view">
        點閱：5927
    </div>
    <div class="main_page_info_update">
        更新時間：2017-03-27 14:09
    </div>
    <div class="main_page_info_goback pull-right" onclick="goBack();">
        回上一頁
    </div>
    <div class="clearfix"></div>
</div>
<div class="main_page_goTop pull-right" onclick="goTop();"></div>
<div class="clearfix"></div>