<script>
    // pathCtrl();
    $(".perform_mh").matchHeight();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        宣導影片
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">用水宣導</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">宣導影片</span>
                <span class="path_3_angle JQ" style="display:none;">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <!-- <span class="path_3 JQ"></span> -->
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="perform_list">
    <div class="perform_item" onclick="javascript:changeForm('wa_main_page_2.1', 'water');">
        <div class="row">
            <div class="col-md-6">
                <div class="perform_item_img">
                    <!-- 請插入01.jpg -->
                    <img src="img/front/images/wa_l_2.1.1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="perform_item_content">
                    <div class="perform_item_title">
                        水庫旁的自來水
                    </div>
                    <div class="perform_item_date">
                        2019/02/20
                    </div>
                    <div class="perform_item_info">
                        <p>村里的寶山水庫、寶二水庫，長年供應大新竹地區的民生用水，更是維持新竹科學園區運作的重要水源。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="perform_item_readmore"></div>
    </div>
    <div class="perform_item" onclick="javascript:changeForm('wa_main_page_2.1', 'water');">
        <div class="row">
            <div class="col-md-6">
                <div class="perform_item_img">
                    <!-- 請插入02.jpg -->
                    <img src="img/front/images/wa_l_2.1.2.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="perform_item_content">
                    <div class="perform_item_title">
                        暗夜裡的守護者
                    </div>
                    <div class="perform_item_date">
                        018/12/28
                    </div>
                    <div class="perform_item_info">
                        <p>夜沉睡了，台水檢測員的工作才正要開始…</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="perform_item_readmore"></div>
    </div>
    <div class="perform_item" onclick="javascript:changeForm('wa_main_page_2.1', 'water');">
        <div class="row">
            <div class="col-md-6">
                <div class="perform_item_img">
                    <!-- 請插入03.jpg -->
                    <img src="img/front/images/wa_l_2.1.3.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="perform_item_content">
                    <div class="perform_item_title">
                        精準檢驗
                    </div>
                    <div class="perform_item_date">
                        2018/11/29
                    </div>
                    <div class="perform_item_info">
                        <p>水，生活中不可或缺，那安全的飲用水又是怎麼取得的呢?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="perform_item_readmore"></div>
    </div>
    <div class="perform_item" onclick="javascript:changeForm('wa_main_page_2.1', 'water');">
        <div class="row">
            <div class="col-md-6">
                <div class="perform_item_img">
                    <!-- 請插入04.jpg -->
                    <img src="img/front/images/wa_l_2.1.4.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="perform_item_content">
                    <div class="perform_item_title">
                        逆襲的自來水手
                    </div>
                    <div class="perform_item_date">
                        2018/11/29
                    </div>
                    <div class="perform_item_info">
                        <p>殷實的水電工阿堂帶著妻子回娘家，希望能夠得到岳父母的肯定而做了許多努力，卻都不盡如人意，直到他發揮…</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="perform_item_readmore"></div>
    </div>
</div>
<div class="main_content_page_border">
    <div class="main_content_pageNumber">
        <p>共<span>208</span>筆資料，第<span>2</span>/21頁
        </p>
    </div>
    <div class="main_content_pagination">
        <a class="pageBtn pageleft"></a>
        <a href="">1</a>
        <a href="" class="active">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="">6</a>
        <a class="pageBtn pagenext" href=""></a>
        <a class="pageBtn pageforward" href=""></a>
    </div>
</div>