<script>
    // pathCtrl();
</script>
<div class="main_content_header">
    <div class="main_content_title JQ pull-left">
        用水安全
    </div>
    <div class="pull-right">
        <div class="main_content_path">
            <p>
                <span>首頁</span>
                <span class="path_1_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_1 JQ">用水宣導</span>
                <span class="path_2_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_2 JQ">用水須知</span>
                <span class="path_3_angle JQ">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="path_3 JQ">用水安全</span>
            </p>
        </div>
        <div class="main_content_share">
            <i class="RSS"></i>
            <i class="print"></i>
            <i class="fb"></i>
            <i class="line"></i>
            <i class="twitter"></i>
            <i class="other"></i>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="bulletin_list">
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('wa_main_page_1.3', 'water');">
            <div class="bulletin_list_title">
                水質安全：維護自來水的水質安全，人人有責。
            </div>
            <div class="bulletin_list_date pull-right">
                2015/01/16
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('wa_main_page_1.3', 'water');">
            <div class="bulletin_list_title">
                水質安全：維護自來水的水質安全，人人有責。
            </div>
            <div class="bulletin_list_date pull-right">
                2015/01/16
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('wa_main_page_1.3', 'water');">
            <div class="bulletin_list_title">
                水質安全：維護自來水的水質安全，人人有責。
            </div>
            <div class="bulletin_list_date pull-right">
                2015/01/16
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="bulletin_list_item">
        <a href="javascript:changeForm('wa_main_page_1.3', 'water');">
            <div class="bulletin_list_title">
                水質安全：維護自來水的水質安全，人人有責。
            </div>
            <div class="bulletin_list_date pull-right">
                2015/01/16
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>
<div class="main_content_page_border">
    <div class="main_content_pageNumber">
        <p>共<span>34</span>筆資料，第<span>2</span>/4頁
        </p>
    </div>
    <div class="main_content_pagination">
        <a class="pageBtn pageleft"></a>
        <a href="">1</a>
        <a href="" class="active">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="">6</a>
        <a class="pageBtn pagenext" href=""></a>
        <a class="pageBtn pageforward" href=""></a>
    </div>
</div>