p {
  margin: 0;
}

button {
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}
button.back {
  background-color: #4B4B4B;
}
button.prev {
  background-color: #D5F5E9;
  color: #000;
}
button.next {
  background-color: #36B996;
  float: right;
}

footer {
  background-color: #DEFFF2;
  height: 180px;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.step {
  margin: 30px 0;
}
.step ul {
  list-style: none;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
}
.step ul li {
  display: inline-block;
  padding-right: 100px;
  position: relative;
}
.step ul li a {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: block;
  background-color: #AFAFAF;
  color: #fff;
  text-align: center;
  padding-top: 7px;
}
.step ul li:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #D8D8D8;
  position: absolute;
  top: 50%;
  z-index: -1;
}
.step ul li.done a {
  background-color: #8DEFCB;
}
.step ul li.next a {
  background-color: #D8D8D8;
}
.step ul li:last-child {
  padding-right: 0;
}
.step ul li:last-child:after {
  display: none;
}

.order_info {
  background-color: #F3F3F3;
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px 0 0 0;
  padding: 30px 20px;
  position: relative;
  left: 0;
  transition: 0.2s;
}
.order_info .info_title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}
.order_info .item {
  font-size: 16px;
  letter-spacing: 1.67px;
  line-height: 24px;
  padding: 10px 0;
}
.order_info .item .title {
  color: #5E5E5E;
}
.order_info .item .content {
  color: #000000;
}

#content {
  height: 100%;
}

.form {
  background-color: #fff;
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.08);
  padding: 40px 50px;
  border-radius: 0 10px 10px 0;
  height: 100%;
}
.form .form_title {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 2.09px;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
}
.form .form_title.step_title:after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  background: #B5FFE4;
  position: absolute;
  z-index: -1;
  top: 60%;
  margin-left: -10px;
}
.form .form_title.sub_title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  display: block;
  padding-top: 15px;
}
.form .payment {
  margin-top: 50px;
}
.form .payment ul.payment_method {
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.form .payment ul.payment_method li {
  display: inline-block;
  width: 33.3333333%;
  padding: 10px;
}
.form .payment ul.payment_method li a {
  background: #F7F7F7;
  border-radius: 5px;
  width: 100%;
  display: block;
  text-align: center;
  padding: 20px;
  color: #000;
  letter-spacing: 1.46px;
  cursor: pointer;
  transition: 0.2s;
}
.form .payment ul.payment_method li a svg {
  margin: 10px auto;
  height: 60px;
}
.form .payment ul.payment_method li a svg .payment_svg {
  fill: #4B4B4B;
  transition: 0.2s;
}
.form .payment ul.payment_method li a svg .st1 {
  clip-path: url(#SVGID_2_);
}
.form .payment ul.payment_method li.active a {
  background: #36B996;
  color: #fff;
  transition: 0.2s;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.08);
}
.form .payment ul.payment_method li.active svg .payment_svg {
  fill: #fff;
  transition: 0.2s;
}
.form .payment .finish {
  position: relative;
}
.form .payment .finish p {
  text-align: center;
  margin: 30px auto;
}
.form .payment .finish.paid svg {
  max-height: 170px;
  z-index: 1;
  position: relative;
}
.form .payment .finish.paid svg .st0 {
  fill: #4B4B4B;
}
.form .payment .finish.paid:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 170px;
  max-height: 170px;
  background-color: #B5FFE4;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.85);
  border-radius: 150px;
}
.form .payment .finish.shop .shop_info {
  margin: 20px 0;
}
.form .payment .finish.shop .shop_info .title {
  letter-spacing: 1.46px;
}
.form .payment .finish.shop .shop_info .content {
  font-size: 24px;
  letter-spacing: 2.51px;
}
.form .payment .finish.shop p {
  text-align: left;
}
.form .payment_form .form_row {
  width: 100%;
  font-size: 16px;
  color: #000000;
  letter-spacing: 1.46px;
}
.form .payment_form .form_row .form-label {
  margin: 10px 0;
}
.form .payment_form .form_row .inline_form input,
.form .payment_form .form_row .inline_form select {
  display: inline-block;
  max-width: 120px;
}
.form .payment_form .form_row .form_link {
  font-size: 14px;
  color: #969696;
}
.form .payment_form .form_row .checkGroup {
  margin: 10px 0;
}
.form .payment_form .form_row .checkGroup input,
.form .payment_form .form_row .checkGroup label {
  display: inline-block;
  max-width: 90%;
  vertical-align: top;
}
.form .payment_form .form_row .checkGroup input {
  margin-top: 7px;
}

/*# sourceMappingURL=main.css.map */
