<div class="form">
    <p class="form_title step_title">STEP2.填寫付款資訊</p>
    <p class="form_title sub_title">信用卡/金融卡</p>
    <div class="payment payment_form">
        <div class="pay_method credit_card" style="display: block;">
            <div class="form_row">
                <div data-bind="radioGroup" class="radio radio-success">
                    <input id="" type="radio" name="">
                    <label for="">一次付款</label>
                    <input id="" type="radio" name="">
                    <label for="">分期付款</label>
                </div>
            </div>
            <div class="form_row">
                <label class="form-label">信用卡號：</label>
                <div class="inline_form">
                    <input type="input" class="form-control" style="width: 65px;">
                    <span>－</span>
                    <input type="input" class="form-control" style="width: 65px;">
                    <span>－</span>
                    <input type="input" class="form-control" style="width: 65px;">
                    <span>－</span>
                    <input type="input" class="form-control" style="width: 65px;">
                </div>
            </div>
            <div class="form_row">
                <label class="form-label">有效月年：</label>
                <div class="inline_form">
                    <select class="form-control" style="width: 100px;">
                        <option value="">請選擇</option>
                        <option value="">01</option>
                        <option value="">02</option>
                        <option value="">03</option>
                        <option value="">04</option>
                        <option value="">05</option>
                        <option value="">06</option>
                        <option value="">07</option>
                        <option value="">08</option>
                        <option value="">09</option>
                        <option value="">10</option>
                        <option value="">11</option>
                        <option value="">12</option>
                    </select>
                    <span>　/　</span>
                    <select class="form-control" style="width: 100px;">
                        <option value="">請選擇</option>
                        <option value="">20</option>
                        <option value="">21</option>
                        <option value="">22</option>
                        <option value="">23</option>
                        <option value="">24</option>
                        <option value="">25</option>
                        <option value="">26</option>
                        <option value="">27</option>
                        <option value="">28</option>
                        <option value="">29</option>
                    </select>
                    <span>　年</span>
                </div>
            </div>
            <div class="form_row">
                <label class="form-label">背面末3碼：</label>
                <div class="inline_form">
                    <input type="input" class="form-control" style="width: 65px;">
                </div>
            </div>
            <div class="form_row">
                <label class="form-label">填寫付款人信箱：</label>
                <input type="input" class="form-control">
            </div>
            <div class="form_row">
                <div class="checkGroup">
                    <div class="checkbox check-success">
                        <input id="" type="checkbox" value="">
                        <label for="">請再次確認「訂單資訊」與「付款資訊」，付款完成後將發送通知信至您的 E-mail 信箱</label>
                    </div>
                </div>
                <a href="#" class="form_link">第三方支付金流平台服務條款</a>
            </div>
        </div>
        <div class="pay_method union_pay" style="display: none;">
            <div class="form_row">
                <div data-bind="radioGroup" class="radio radio-success">
                    <input id="" type="radio" name="">
                    <label for="">一次付款</label>
                    <input id="" type="radio" name="">
                    <label for="">分期付款</label>
                </div>
            </div>
            <div class="form_row">
                <label class="form-label">信用卡號：</label>
                <div class="inline_form">
                    <input type="input" class="form-control" style="width: 65px;">
                    <span>－</span>
                    <input type="input" class="form-control" style="width: 65px;">
                    <span>－</span>
                    <input type="input" class="form-control" style="width: 65px;">
                    <span>－</span>
                    <input type="input" class="form-control" style="width: 65px;">
                </div>
            </div>
            <div class="form_row">
                <label class="form-label">有效月年：</label>
                <div class="inline_form">
                    <select class="form-control" style="width: 100px;">
                        <option value="">請選擇</option>
                        <option value="">01</option>
                        <option value="">02</option>
                        <option value="">03</option>
                        <option value="">04</option>
                        <option value="">05</option>
                        <option value="">06</option>
                        <option value="">07</option>
                        <option value="">08</option>
                        <option value="">09</option>
                        <option value="">10</option>
                        <option value="">11</option>
                        <option value="">12</option>
                    </select>
                    <span>　/　</span>
                    <select class="form-control" style="width: 100px;">
                        <option value="">請選擇</option>
                        <option value="">20</option>
                        <option value="">21</option>
                        <option value="">22</option>
                        <option value="">23</option>
                        <option value="">24</option>
                        <option value="">25</option>
                        <option value="">26</option>
                        <option value="">27</option>
                        <option value="">28</option>
                        <option value="">29</option>
                    </select>
                    <span>　年</span>
                </div>
            </div>
            <div class="form_row">
                <label class="form-label">背面末3碼：</label>
                <div class="inline_form">
                    <input type="input" class="form-control" style="width: 65px;">
                </div>
            </div>
            <div class="form_row">
                <label class="form-label">填寫付款人信箱：</label>
                <input type="input" class="form-control">
            </div>
            <div class="form_row">
                <div class="checkGroup">
                    <div class="checkbox check-success">
                        <input id="" type="checkbox" value="">
                        <label for="">請再次確認「訂單資訊」與「付款資訊」，付款完成後將發送通知信至您的 E-mail 信箱</label>
                    </div>
                </div>
                <a href="#" class="form_link">第三方支付金流平台服務條款</a>
            </div>
        </div>
        <div class="pay_method shop" style="display: none;">
            <div class="form_row">
                <label class="form-label">付款超商：</label>
                <select class="form-control" style="width: 50%;">
                    <option value="">請選擇</option>
                </select>
            </div>
            <div class="form_row">
                <label class="form-label">填寫付款人信箱：</label>
                <input type="input" class="form-control">
            </div>
            <div class="form_row">
                <div class="checkGroup">
                    <div class="checkbox check-success">
                        <input id="" type="checkbox" value="">
                        <label for="">請再次確認「訂單資訊」與「付款資訊」，付款完成後將發送通知信至您的 E-mail 信箱</label>
                    </div>
                </div>
                <a href="#" class="form_link">第三方支付金流平台服務條款</a>
            </div>
        </div>
        <div class="pay_method web_ATM" style="display: none;">
            <div class="form_row">
                <label class="form-label">付款銀行：</label>
                <select class="form-control" style="width: 50%;">
                    <option value="">請選擇</option>
                </select>
                <p class="form-label">1. 請準備晶片經融卡 + 晶片讀卡機，我們將引導您至指定金融機構之網路ATM進行交易手續。</p>
                <p class="form-label">2. 持對應機構之金融卡可享免跨行轉帳手續費，若無以上金融機構發行之金融卡，可自由選擇其一金融機構進行後續交易流程。</p>
            </div>
            <div class="form_row">
                <label class="form-label">填寫付款人信箱：</label>
                <input type="input" class="form-control">
            </div>
            <div class="form_row">
                <div class="checkGroup">
                    <div class="checkbox check-success">
                        <input id="" type="checkbox" value="">
                        <label for="">請再次確認「訂單資訊」與「付款資訊」，付款完成後將發送通知信至您的 E-mail 信箱</label>
                    </div>
                </div>
                <a href="#" class="form_link">第三方支付金流平台服務條款</a>
            </div>
        </div>
        <div class="pay_method ATM_transfer" style="display: none;">
            <div class="form_row">
                <label class="form-label">付款銀行：</label>
                <select class="form-control" style="width: 50%;">
                    <option value="">請選擇</option>
                </select>
                <p class="form-label">1. 請準備晶片經融卡 + 晶片讀卡機，我們將引導您至指定金融機構之網路ATM進行交易手續。</p>
                <p class="form-label">2. 持對應機構之金融卡可享免跨行轉帳手續費，若無以上金融機構發行之金融卡，可自由選擇其一金融機構進行後續交易流程。</p>
            </div>
            <div class="form_row">
                <label class="form-label">填寫付款人信箱：</label>
                <input type="input" class="form-control">
            </div>
            <div class="form_row">
                <div class="checkGroup">
                    <div class="checkbox check-success">
                        <input id="" type="checkbox" value="">
                        <label for="">請再次確認「訂單資訊」與「付款資訊」，付款完成後將發送通知信至您的 E-mail 信箱</label>
                    </div>
                </div>
                <a href="#" class="form_link">第三方支付金流平台服務條款</a>
            </div>
        </div>
    </div>
    <button class="prev" onclick="changeForm('step_1')">回上一步</button>
    <button class="next">確認付款</button>
</div>
<script>
var judgmentUrl = location.href,
    judgmentValue = judgmentUrl.indexOf('?judgmentUrl?'),
    strGet = judgmentUrl.substring(judgmentValue).replace('?judgmentUrl?', "");
if (strGet != 'undefined') {
    $('.pay_method').hide();
    $('.' + strGet + '').show();
}
$('button.next').on('click', function() {
    changeForm('step_3', strGet)
})
$('#step1').on('click', function() {
    changeForm('step_1', strGet)
});
$('#step3').on('click', function() {
    changeForm('step_3', strGet)
});

switch (strGet) {
    case 'undefined':
        $('.sub_title').html('信用卡/金融卡');
        break;

    case 'credit_card':
        $('.sub_title').html('信用卡/金融卡');
        break;

    case 'union_pay':
        $('.sub_title').html('銀聯卡');
        break;

    case 'shop':
        $('.sub_title').html('超商付款');
        break;

    case 'web_ATM':
        $('.sub_title').html('Web ATM');
        break;

    case 'ATM_transfer':
        $('.sub_title').html('ATM 轉帳');
        break;

    default:
        $('.sub_title').html('信用卡/金融卡');
        break;
}
</script>