@font-face {
  font-family: "Consolas";
  src: url("../fonts/Consolas.ttf");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}

body {
  font-family: "Consolas", "Microsoft JhengHei";
  font-size: 14px;
  background-color: #1E1E1E;
  color: #D4D4D4;
  height: 100%;
  overflow-y: hidden;
}
body button {
  background-color: transparent;
  color: #D4D4D4;
  border: #707070 1px solid;
  padding: 5px 0;
  width: 100%;
}
body button:hover {
  color: #D7BA7D;
}
body button:focus {
  outline: none;
}
body button.none_border {
  border: none;
}

.main_container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100%;
}
.main_container .scroll {
  overflow-x: hidden;
  overflow-y: auto;
}
.main_container .scroll::-webkit-scrollbar {
  width: 10px;
}
.main_container .scroll::-webkit-scrollbar-track {
  border-radius: 20px;
}
.main_container .scroll::-webkit-scrollbar-thumb {
  display: none;
  border-radius: 15px;
}
.main_container .scroll::-webkit-scrollbar-button {
  display: none;
}
.main_container .scroll::-webkit-scrollbar-corner {
  display: none;
}
.main_container .scroll:hover::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.main_container .scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
}
.main_container #sidebar {
  background-color: #303030;
  position: relative;
  z-index: 1;
  height: 100%;
  width: 50px;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.main_container #sidebar .title .fa-chevron-left {
  transform: rotate(180deg);
  transition: 0.2s;
}
.main_container #sidebar .inner {
  display: none;
}
.main_container #sidebar.active {
  width: 30%;
  transition: 0.2s;
}
.main_container #sidebar.active .title .fa-chevron-left {
  transform: rotate(0deg);
  transition: 0.2s;
}
.main_container #sidebar.active .inner {
  display: block;
}
.main_container #sidebar .title {
  margin: 20px 10px;
}
.main_container #sidebar .title #collapse {
  width: auto;
}
.main_container #sidebar .chat_type {
  margin: 0 10px;
  display: flex;
}
.main_container #sidebar .chat_type .type_button {
  width: 50%;
  padding: 0 5px;
}
.main_container #sidebar .search {
  margin: 10px 10px 20px;
}
.main_container #sidebar .search input {
  width: 100%;
  background-color: #1E1E1E;
  border-radius: 20px;
  border-color: transparent;
  padding: 5px 10px;
  color: #D4D4D4;
}
.main_container #sidebar .search input:focus {
  outline: none;
}
.main_container #sidebar .chatroom_group .chatroom_title {
  background-color: #414141;
  padding: 5px 10px;
}
.main_container #sidebar .chatroom_group .chatroom_title .chatroom_collapse .fa-sort-down {
  transform: rotate(180deg);
  transition: 0.2s;
}
.main_container #sidebar .chatroom_group .chatroom_title .chatroom_collapse.open .fa-sort-down {
  transform: rotate(0deg);
  transition: 0.2s;
}
.main_container #sidebar .chatroom_group .chatroom_item {
  padding: 10px 20px;
  font-size: 12px;
  transition: 0.2s;
}
.main_container #sidebar .chatroom_group .chatroom_item:hover {
  font-size: 12.5px;
  background-color: #1E1E1E;
  transition: 0.2s;
}
.main_container #sidebar .chatroom_group .chatroom_item .chatroom_members {
  float: right;
}
.main_container #sidebar #add_room {
  margin: 10px;
  position: relative;
  bottom: 0;
}
.main_container #content {
  position: relative;
  max-width: 100%;
  flex-basis: 0;
  flex-grow: 1;
}
.main_container #content .message {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 5px 10px;
}
.main_container #content .message .comment_time {
  width: 40px;
  margin: 0 15px;
  color: #707070;
}
.main_container #content .message .comment_text {
  max-width: 100%;
  flex-basis: 0;
  flex-grow: 1;
}
.main_container #content .message .comment_text .content_block {
  margin: 5px 0 5px 10px;
  padding-left: 10px;
  border-left: #707070 1px solid;
}
.main_container #content .message .comment_text .tag {
  color: #707070;
}
.main_container #content .message .comment_text .id {
  color: #499CD6;
}
.main_container #content .message .comment_text .attribute {
  color: #9CDCFE;
}
.main_container #content .message .comment_text .attr_data {
  color: #CE9178;
}
.main_container #content .message .comment_text.chat_self {
  color: #6A9955;
  margin-left: 50px;
}

/*# sourceMappingURL=main.css.map */
