<div class="row">
    <div class="analyze">
        <div class="col">
            <div class="header">
                <div class="row">
                    <div class="col-auto">
                        <div class="date">15</div>
                        <div class="calendar">
                            <div class="week">Monday</div>
                            <div class="month">Jul 2019</div>
                        </div>
                    </div>
                    <div class="col-auto ml-auto mt-auto">
                        <div class="logo">Pomodoro Timer</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="analyze_block">
                        <div class="analyze_table">
                            <span class="title">Analyze</span>
                            <span class="date pull-right">2019.7/1-2019.7/7</span>
                            <table class="table table-sm">
                                <tbody>
                                    <tr class="table-borderless">
                                        <td class="statistics_data" rowspan="2">
                                            <span>12</span>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="table-borderless">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="table-borderless">
                                        <td class="statistics_data" rowspan="2">
                                            <span>10</span>
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="table-borderless">
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr class="table-borderless">
                                        <td class="statistics_data" rowspan="2">
                                            <span>8</span>
                                        </td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr class="table-borderless">
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr class="table-borderless">
                                        <td class="statistics_data" rowspan="2">
                                            <span>6</span>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                    </tr>
                                    <tr class="table-borderless">
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                    </tr>
                                    <tr class="table-borderless">
                                        <td class="statistics_data" rowspan="2">
                                            <span>4</span>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                    </tr>
                                    <tr class="table-borderless">
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot undone"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                    </tr>
                                    <tr class="table-borderless">
                                        <td class="statistics_data" rowspan="3">
                                            <span>2</span>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                    </tr>
                                    <tr class="table-borderless">
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                        <td>
                                            <div class="analyze_dot complete"></div>
                                        </td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>7/1</td>
                                        <td>7/2</td>
                                        <td>7/3</td>
                                        <td>7/4</td>
                                        <td>7/5</td>
                                        <td>7/6</td>
                                        <td>7/7</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col-6">
                    <div class="analyze_block">
                        <div class="statistics">
                            <div class="row">
                                <div class="col">
                                    <div class="statistics_title">Today</div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="statistics_content">
                                        <span class="statistics_span statistics_count">4</span>
                                        <span class="statistics_span statistics_text"> /Done</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="statistics_content">
                                        <span class="statistics_span statistics_count">10</span>
                                        <span class="statistics_span statistics_text"> /Tomato</span>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-4 col-md-12">
                                    <div class="statistics_chart"></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="analyze_block">
                        <div class="statistics">
                            <div class="row">
                                <div class="col">
                                    <div class="statistics_title">Week</div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="statistics_content">
                                        <span class="statistics_span statistics_count">4</span>
                                        <span class="statistics_span statistics_text"> /Done</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="statistics_content">
                                        <span class="statistics_span statistics_count">10</span>
                                        <span class="statistics_span statistics_text"> /Tomato</span>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-4 col-md-12">
                                    <div class="statistics_chart"></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>