@charset "UTF-8";
html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(../images/index_bg_3.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #5e8e98;
    background-size: cover;
}

.ps_box_title {
    background: url(images/game_data_box_title_bg.png) no-repeat;
    color: #fff;
    text-align: center;
    line-height: 45px;
    padding-bottom: 20px;
    position: relative;
    z-index: 10;
}

h1 {
    padding-top: 20px;
    position: relative;
    width: 100%;
    max-width: 456px;
    margin: 0 auto;
}

.ps_box {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    /* top: 40%; */
    background: #111111b5;
    z-index: 99999;
}

.ps_box p {
    max-width: 663px;
    width: 100%;
    border-radius: 10px;
    border: solid 1px #cecece;
    background: rgba(255, 255, 255, 0.95);
    margin: 20% auto 0px auto;
    color: #5f412b;
    padding: 20px;
    font-size: 20px;
    position: relative;
    text-align: left;
}

.ps_box p span {
    color: #a53404;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0px;
    display: block;
    padding: 0px;
    line-height: 20px;
}

.colse_btn {
    text-align: center;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    width: 30px;
    font-size: 17px;
    height: 30px;
    background: #adadad;
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    box-shadow: 1px 1px 1px #6f6f6f;
}

.colse_btn:hover,
.colse_btn:focus {
    background: #666666;
}

.voice_introduction_btn {
    position: fixed;
    top: 10px;
    width: 100px;
    text-align: center;
    z-index: 4;
    right: 10px;
}

.voice_introduction_btn:after {
    clear: both;
    content: "";
    display: block;
}

.voice_introduction_btn a,
.voice_introduction_btn a:focus.sm2_paused {
    text-decoration: none;
    /*float: left;*/
    display: inline-block;
    width: auto;
    height: auto;
    background: #02a8f3;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    padding: 15px;
    box-shadow: 1px 3px 4px #196a76;
    cursor: pointer;
    margin: 5px;
    font-size: 15px;
}

.voice_introduction_btn a:hover,
.voice_introduction_btn a:focus,
.voice_introduction_btn a.sm2_playing {
    background: #016b9a;
    color: #fff;
}

.zoomin_btn {
    position: absolute;
    top: 50%;
    width: 82px;
    height: 82px;
    margin-top: -41px;
    z-index: 999999;
    display: none;
}

.zoomin_right_btn {
    right: 10px;
}

.zoomin_left_btn {
    left: 10px;
}

.zoom-icon {
    display: none;
}


/**loading**/

.sk-fading-circle {
    margin: 0px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

@keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

.loading_wrap {
    display: none;
    position: absolute;
    top: 0%;
    left: 0px;
    z-index: 98;
    width: 100%;
    height: 100%;
    background: #111111b5;
}

.loading_box {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    margin-top: -20px;
}

.blur {
    -webkit-filter: blur(3px);
    /* Chrome, Opera */
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
.bookshelf_aLink{
    display: block;
    height: 100%;
    width: 100%;
    text-indent:-9999px;
    overflow: hidden;
}