html,
body {
  height: 100%;
}

body {
  color: #666666;
  font-size: 16px;
  overflow-y: hidden;
}

.main_container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100%;
}
.main_container .scroll {
  overflow-x: hidden;
  overflow-y: auto;
}
.main_container .scroll::-webkit-scrollbar {
  width: 10px;
}
.main_container .scroll::-webkit-scrollbar-track {
  border-radius: 20px;
}
.main_container .scroll::-webkit-scrollbar-thumb {
  display: none;
  border-radius: 15px;
}
.main_container .scroll::-webkit-scrollbar-button {
  display: none;
}
.main_container .scroll::-webkit-scrollbar-corner {
  display: none;
}
.main_container .scroll:hover::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.main_container .scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
}
.main_container #sidebar {
  background-color: #4CB5F5;
  position: relative;
  z-index: 1;
  color: #fff;
  height: 100%;
  width: 25%;
  padding: 60px 65px;
  box-shadow: 3px 0px 10px rgba(102, 102, 102, 0.5);
}
.main_container #sidebar .logo {
  font-size: 24px;
  vertical-align: middle;
}
.main_container #sidebar .logo svg {
  width: 30px;
  vertical-align: middle;
}
.main_container #sidebar .logo svg .b {
  fill: none;
}
.main_container #sidebar .logo svg .c {
  fill: #fff;
}
.main_container #sidebar .logo span {
  margin-left: 10px;
  vertical-align: middle;
}
.main_container #sidebar .upload button {
  color: #4CB5F5;
  margin-top: 50px;
  padding: 10px 0;
  background-color: #fff;
  width: 100%;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.main_container #sidebar .upload button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
  transition: 0.2s;
}
.main_container #sidebar .upload button svg {
  vertical-align: middle;
}
.main_container #sidebar .upload button svg .a {
  fill: #4cb5f5;
}
.main_container #sidebar .upload button span {
  margin-left: 10px;
  vertical-align: middle;
}
.main_container #sidebar .control_list ul {
  list-style: none;
  padding-left: 0;
  margin-top: 25px;
}
.main_container #sidebar .control_list ul li {
  padding: 10px 0;
  cursor: pointer;
  transition: 0.2s;
}
.main_container #sidebar .control_list ul li:hover {
  transform: scale(1.05) translateX(5px);
  transition: 0.2s;
}
.main_container #sidebar .control_list ul li svg {
  vertical-align: middle;
}
.main_container #sidebar .control_list ul li svg .a {
  fill: #fff;
}
.main_container #sidebar .control_list ul li span {
  margin-left: 10px;
  vertical-align: middle;
}
.main_container #sidebar .user {
  position: absolute;
  bottom: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.main_container #sidebar .user .user_img {
  height: 60px;
  width: 60px;
  overflow: hidden;
  border-radius: 30px;
}
.main_container #sidebar .user .user_img img {
  width: 100%;
  height: auto;
}
.main_container #sidebar .user .user_info {
  margin-left: 15px;
}
.main_container #sidebar .user .user_info .user_name {
  font-size: 20px;
  font-weight: 700;
}
.main_container #content {
  position: relative;
  max-width: 100%;
  flex-basis: 0;
  flex-grow: 1;
  margin: 10px;
  padding: 40px 60px;
}
.main_container #content .search {
  text-align: right;
  position: relative;
}
.main_container #content .search button {
  background-color: #4CB5F5;
  color: #fff;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  position: absolute;
  z-index: 1;
}
.main_container #content .search input {
  border: none;
  border-radius: 25px;
  height: 50px;
  background-color: #E6E6E6;
  padding: 0 15px 0 65px;
  width: 40%;
}
.main_container #content .search input:focus {
  outline: none;
}
.main_container #content .data_block {
  width: 100%;
  margin: 30px 0;
}
.main_container #content .data_block .title {
  font-weight: 700;
  color: #000;
  font-size: 18px;
}
.main_container #content .data_block .more {
  float: right;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(230, 230, 230, 0.3);
  border: 2px solid #999999;
  padding: 5px 30px;
  border-radius: 30px;
  transition: 0.2s;
}
.main_container #content .data_block .more:hover {
  box-shadow: 0px 3px 6px #e6e6e6;
  transition: 0.2s;
}
.main_container #content .data_block .data_table .table {
  color: #666666;
}
.main_container #content .data_block .data_table .table th {
  border-top: none;
  border-bottom-width: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main_container #content .data_block .data_table .table tbody tr:hover {
  cursor: pointer;
}
.main_container #content .data_block .data_table .table tbody tr td .icon {
  vertical-align: middle;
}
.main_container #content .data_block .data_table .table tbody tr td .icon svg.mp4 .a {
  fill: #FFBA00;
}
.main_container #content .data_block .data_table .table tbody tr td .icon svg.mp4 .b {
  fill: #C48F00;
}
.main_container #content .data_block .data_table .table tbody tr td .icon svg.pdf .a {
  fill: #E2574C;
}
.main_container #content .data_block .data_table .table tbody tr td .icon svg.pdf .b {
  fill: #B53629;
}
.main_container #content .data_block .data_table .table tbody tr td .icon svg .c {
  fill: #fff;
  font-size: 8px;
  font-weight: 700;
}
.main_container #content .data_block .data_table .table tbody tr td .name {
  vertical-align: middle;
  margin-left: 10px;
}
.main_container #content .data_block .data_table .table tbody tr td i:hover {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
