<!--
	&lt; = <
	&gt; = >
	&quot; = "
-->
<div class="chat_block">
<div class="message">
    <div class="comment_time">23:58</div>
    <div class="comment_text enter">
        <span class="tag">&lt;</span>
        <span class="id">link </span>
        <span class="attribute">rel</span>
        <span>=</span>
        <span class="attr_data">&quot;random&quot; </span>
        <span class="attribute">href</span>
        <span>=</span>
        <span class="attr_data">&quot;lalalalalalala已進入聊天室&quot;</span>
        <span class="tag">&gt;</span>
    </div>
</div>
<div class="message">
    <div class="comment_time">23:59</div>
    <div class="comment_text chat">
        <div class="id_block">
            <span class="tag">&lt;</span>
            <span class="id">ahhahahahahaha</span>
            <span class="tag">&gt;</span>
        </div>
        <div class="content_block">
            <span>安安各位我還沒有做完<br>請大家輕一點 不要亂按</span>
        </div>
        <div class="id_block">
            <span class="tag">&lt;/</span>
            <span class="id">ahhahahahahaha</span>
            <span class="tag">&gt;</span>
        </div>
    </div>
</div>
<div class="message">
    <div class="comment_time">23:59</div>
    <div class="comment_text chat_self">
        <div class="id_block">
            <span>&lt;!--</span>
            <span>lalalalalalala</span>
        </div>
        <div class="content_block">
            <span>QQ 終於剩下最後3關了<br>大家要撐下去</span>
        </div>
        <div class="id_block">
            <span>--&gt;</span>
        </div>
    </div>
</div>
</div>