// common css start
html,
body {
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
  height: 100%;
  font-size: 16px;
  color: #231815;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  box-sizing: border-box;

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.img_responsive {
  width: 100%;
  height: auto;
}

.text_content {
  background-color: #A11F27;
  text-align: center;
  color: #fff;
  padding: 20px 0;

  .title {
    display: block;
    font-size: 20px;
  }
}

// common css end

// header css start
header {
  padding: 15px 20px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 65px;
  box-sizing: border-box;

  .container {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
  }

  .main_title {
    display: flex;
    align-items: center;

    .logo {
      width: 30px;
      height: 30px;
      overflow: hidden;
      vertical-align: middle;

      img {
        height: 100%;
      }
    }

    .title {
      vertical-align: middle;
      color: #95202C;
      font-size: 18px;
      margin-left: 20px;
    }
  }

  .link {
    .link_icon {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0 15px 0 0;
      text-decoration: none;

      img {
        width: 100%;
      }
    }
  }
}

// header css end

// banner css start
.banner {
  position: relative;
  margin-top: 65px;
  overflow: hidden;

  .main_banner {
    position: relative;

    .main_banner_slogan {
      top: 40%;
      left: 45%;
      transform: translateY(-50%);
      width: 400px;
    }
  }

  img {
    position: relative;
    width: 100%;
  }

  .banner_slogan {
    position: absolute;

    .main_slogan {
      color: #98D7F7;
      font-size: 28px;
    }

    .sub_slogan {
      color: #fff;
      font-size: 15px;
    }
  }

  .sub_banner {
    position: relative;
    margin-top: 80px;

    .sub_banner_slogan {
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }
  }
}

// banner css end

// story css start
.story {
  margin: 50px 0;

  .container {
    flex-wrap: wrap;
  }

  .story_block {
    display: flex;
    flex-wrap: no-wrap;
    margin: 50px 0;
    width: 100%;

    .story_img {
      width: 40%;

      img {
        width: 100%;
        height: auto;
      }
    }

    .story_content {
      width: 60%;
      margin-left: 30px;

      .title {
        color: #A11E29;
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }
}

// story css end

// join css start
.join {
  margin-top: 50px;

  .container {
    flex-wrap: wrap;
  }

  .join_info {
    background: url(../img/join_bg.png) center no-repeat;
    background-size: cover;
    height: 250px;

    .container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      .join_text {
        color: #fff;

        &.info_title {
          font-size: 19px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .join_text {
    width: 100%;
    text-align: center;

    &.class_title,
    &.class_info {
      font-weight: 700;
      margin: 60px 0 0;
    }

    &.class_title {
      color: #A11F27;
      font-size: 19px;
    }

    &.class_info {
      color: #615F5F;
      font-size: 18px;
    }
  }

  img {
    width: 100%;
  }

  .join_img {
    margin: 50px 0;
  }

  .join_class_img {
    width: 100px;
    margin: 50px auto;
  }
}

// join css end

// course css start
.course {
  margin-top: 50px;

  .container {
    flex-wrap: wrap;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .course_info {
    background: url(../img/course_bg.jpg) center no-repeat;
    background-size: contain;
    height: 400px;

    .course_content {
      padding: 30px 10px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.3);

      .warning {
        color: #A11F27;
      }
    }
  }
}

// course css end

// students css start
.students {
  .student_block {
    text-align: center;
    margin: 60px auto;

    .photo {
      width: 150px;
      height: 150px;
      margin: 30px auto;

      img {
        width: 100%;
      }
    }

    .title {
      font-size: 18px;
      font-weight: 700;
      margin-top: 10px;

      &.place {
        color: #A11F27;
      }

      &.info {
        color: #EA5863;
      }
    }
  }
}

// students css end

// video css start
.video {
  .video_block {
    margin: 60px auto;
  }
}

// video css end

// lesson css start
.lesson {

  .container {
    flex-wrap: wrap;
  }

  .lesson_logo {
    margin-top: 60px;

    img {
      width: 100%;
    }
  }

  .lesson_final {
    width: 30%;
    margin: 0 auto 60px;

    img {
      width: 100%;
    }
  }

  .lesson_block {
    margin: -5px auto 0;

    .lesson_img {
      width: 40%;
      margin: auto;

      img {
        width: 100%;
      }
    }

    .lesson_step {
      font-weight: 700;
      vertical-align: middle;
      position: relative;
      left: 50%;
      margin-left: -5px;
      padding: 50px 0 60px;
      width: 160px;

      &:before {
        content: "";
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        vertical-align: middle;
        margin: -2px 30px 0 0;
        background-color: #fff;
        z-index: 1;
      }

      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 4px;
        height: 100%;
        top: -5px;
        left: 7px;
      }
    }

    &#step_1 {
      color: #549742;

      .lesson_step {
        &:before {
          border: 4px solid #549742;
        }

        &:after {
          background-color: #549742;
        }
      }
    }

    &#step_2 {
      color: #4098B1;

      .lesson_step {
        &:before {
          border: 4px solid #4098B1;
        }

        &:after {
          background-color: #4098B1;
        }
      }
    }

    &#step_3 {
      color: #BE993B;

      .lesson_step {
        &:before {
          border: 4px solid #BE993B;
        }

        &:after {
          background-color: #BE993B;
        }
      }
    }

    &#step_4 {
      color: #BA543F;

      .lesson_step {
        &:before {
          border: 4px solid #BA543F;
        }

        &:after {
          background-color: #BA543F;
        }
      }
    }
  }
}

// lesson css end

// review css start
.review {
  .review_photo {
    margin: 80px 0;
    width: 33.33%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

// review css end

// teachers css start
.teachers {
  .teacher_block {
    text-align: center;
    margin: 60px auto;

    .photo {
      width: 170px;
      height: 170px;
      margin: 30px auto;
      overflow: hidden;
      border-radius: 100px;

      img {
        width: auto;
        height: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .title {
      font-weight: 700;
      margin-top: 10px;
      color: #231816;

      &.name {
        font-size: 20px;
      }

      &.experience {
        font-size: 16px;
      }
    }

    .content {
      font-size: 15px;
      color: #626161;
      font-weight: 700;
      margin-top: 50px;
      padding: 20px;
      border: 1px solid #A11F27;
    }
  }
}

// teachers css end

// books css start
.books {
  .container {
    margin: 60px auto;
    flex-wrap: wrap;
  }

  .book_block {
    margin: 40px;
    display: flex;
    flex-wrap: no-wrap;
    width: 100%;

    .book_img {
      width: 30%;

      img {
        width: 100%;
      }
    }

    .book_info {
      width: 70%;
      margin-left: 30px;
      display: flex;
      flex-wrap: wrap;

      .title {
        font-size: 18px;
        font-weight: 700;
        // margin: 10px 0 40px;
        color: #A11F27;
        width: 100%;
      }

      .content {
        color: #EA5863;
        width: 100%;
      }

      .buy_btn {
        text-align: right;
        width: 100%;

        a {
          text-decoration: none;
          display: inline-block;
          background-color: #EA5861;
          color: #fff;
          font-size: 14px;
          padding: 5px 10px;
          border: none;
          // margin-top: 40px;
        }
      }
    }
  }
}

// books css end

// wallpaper css start
.wallpaper {
  .wallpaper_block {
    justify-content: space-between;
    padding: 20px;
    margin: 60px 0;

    &.desktop {
      width: 76%;
    }

    &.mobile {
      width: 24%;
    }

    .wallpaper_img {
      img {
        width: 100%;
      }
    }
  }
}

// wallpaper css end



// footer css start
footer {
  .text_content {
    background-color: transparent;
    color: #606060;
    font-weight: 700;
  }

  .icon {
    margin-bottom: 50px;

    a {
      width: 50px;
      height: 50px;
      display: inline-block;
      margin: 30px;

      img {
        width: 100%;
      }
    }
  }
}

// footer css end