<!-- <div class="Pomodoro">Pomodoro</div> -->
<div class="row">
	<div class="col-md-4">
		<div class="timline">
			<div class="event">
				<div class="event_title">title</div>
				<div class="event_info">main content main content main content main content main content</div>
				<div class="event_date text-right">2019-07-09</div>
			</div>
			<div class="event">
				<div class="event_title">title</div>
				<div class="event_info">main content main content main content</div>
				<div class="event_date text-right">2019-07-09</div>
			</div>
			<div class="event">
				<div class="event_title">title</div>
				<div class="event_info">main content main content main content main content main content</div>
				<div class="event_date text-right">2019-07-09</div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="counter"></div>
	</div>
</div>