<div class="list">
    <div class="row">
        <div class="col-xl-3 col-md-4">
            <div class="menu">
                <div class="header">
                    <div class="row">
                        <div class="col-auto">
                            <div class="date">15</div>
                            <div class="calendar">
                                <div class="week">Monday</div>
                                <div class="month">Jul 2019</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="date_menu">
                	<ul>
                		<li class="active">Today</li>
                		<li>Tommorrow</li>
                		<li>Future</li>
                	</ul>
                </div>
                <div class="add_mission">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="col" style="overflow-y: auto;">
            <div class="main_list">
                <div class="header">
                    <div class="row">
                        <div class="col-auto ml-auto mt-auto">
                            <div class="logo">Pomodoro Timer</div>
                        </div>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="schedule_list">
                    <div class="list_title">schedule</div>
                    <div class="list_content">
                        <div class="schedule_row complete">
                            <span class="mission_icon"></span>
                            <span class="schedule_text">title title title</span>
                            <span class="tomato_count"></span>
                            <span class="tomato_count"></span>
                            <span class="tomato_count"></span>
                        </div>
                        <div class="schedule_row complete">
                            <span class="mission_icon"></span>
                            <span class="schedule_text">title title title</span>
                            <span class="tomato_count"></span>
                            <span class="tomato_count"></span>
                            <span class="tomato_count"></span>
                            <span class="tomato_count"></span>
                            <span class="tomato_count"></span>
                        </div>
                        <div class="schedule_row complete">
                            <span class="mission_icon"></span>
                            <span class="schedule_text">title title title</span>
                            <span class="tomato_count"></span>
                        </div>
                        <div class="schedule_row complete">
                            <span class="mission_icon"></span>
                            <span class="schedule_text">title title title</span>
                            <span class="tomato_count"></span>
                            <span class="tomato_count"></span>
                        </div>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="schedule_list">
                    <div class="list_title">undone</div>
                    <div class="list_content">
                        <div class="schedule_row">
                            <span class="mission_icon"></span>
                            <span class="schedule_text">title title title</span>
                        </div>
                        <div class="schedule_row">
                            <span class="mission_icon"></span>
                            <span class="schedule_text">title title title</span>
                        </div>
                        <div class="schedule_row">
                            <span class="mission_icon"></span>
                            <span class="schedule_text">title title title</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>